openapi: 3.0.0
info:
  title: Recharge API
  version: 2021-11
  description: API specification for the Recharge REST API
servers:
  - url: https://api.rechargeapps.com
components:
  securitySchemes:
    version:
      type: apiKey
      in: header
      name: X-Recharge-Version
    apiKey:
      type: apiKey
      in: header
      name: X-Recharge-Access-Token
  schemas:
    Address:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - customer_id
        - address1
        - city
        - country_code
        - first_name
        - last_name
        - phone
        - province
        - zip
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the Address.
        payment_method_id:
          type: integer
          description: Unique numeric identifier for the Payment Method associated to the Address.
        address1:
          type: string
          description: The street associated with the Address.
        address2:
          type: string
          description: Any additional information associated with the Address.
        city:
          type: string
          description: The city associated with the address.
        company:
          type: string
          description: The company associated with the address.
        country_code:
          type: string
          description: 2-letter country code.
        customer_id:
          type: integer
          description: Unique numeric identifier for the customer associated with the address.
        discounts:
          type: array
          description: A list of discounts applied on the address. These discounts will apply to future recurring charges associated with this address.
          items:
            $ref: '#/components/schemas/AppliedDiscount'
        first_name:
          type: string
          description: The customer’s first name associated with the address.
        last_name:
          type: string
          description: The customer’s last name associated with the address.
        order_attributes:
          type: array
          description: Extra information that is added to the order.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        order_note:
          type: string
          description: Notes to be added to all orders associated with the address.
        phone:
          type: string
          description: The phone number associated with the address.
        presentment_currency:
          type: string
          description: The currency on the subscription contract in Shopify. Only set if the currency is different from the store-level currency. Else, will default to store-level currency.
        province:
          type: string
          description: The state or province associated with the address.
        shipping_lines_conserved:
          type: array
          description: Shipping rates that have previously been overridden via shipping_lines_override but are currently inactive.
          items:
            $ref: '#/components/schemas/ShippingLineReference'
        shipping_lines_override:
          type: array
          description: Used when shipping rates need to be overridden. If this parameter has value null, rates will be fetched when Charge is created or regenerated.
          items:
            $ref: '#/components/schemas/ShippingLineReference'
        zip:
          type: string
          description: The zip or postal code associated with the address.
        created_at:
          type: string
          format: date-time
          description: The date and time when the address was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time when the address was last updated.
    InlineAddress:
      type: object
      properties:
        address1:
          type: string
          description: The street associated with the Address.
        address2:
          type: string
          description: Any additional information associated with the Address.
        city:
          type: string
          description: The city associated with the address.
        company:
          type: string
          description: The company associated with the address.
        country_code:
          type: string
          description: 2-letter country code.
        first_name:
          type: string
          description: The customer’s first name associated with the address.
        last_name:
          type: string
          description: The customer’s last name associated with the address.
        phone:
          type: string
          description: The phone number associated with the address.
        province:
          type: string
          description: The state or province associated with the address.
        zip:
          type: string
          description: The zip or postal code associated with the address.
    GiftAddress:
      type: object
      properties:
        address1:
          type: string
          description: The street associated with the Address.
        address2:
          type: string
          description: Any additional information associated with the Address.
        city:
          type: string
          description: The city associated with the address.
        company:
          type: string
          description: The company associated with the address.
        country_code:
          type: string
          description: 2-letter country code.
        first_name:
          type: string
          description: The customer’s first name associated with the address.
        last_name:
          type: string
          description: The customer’s last name associated with the address.
        phone:
          type: string
          description: The phone number associated with the address.
        province:
          type: string
          description: The state or province associated with the address.
        zip:
          type: string
          description: The zip or postal code associated with the address.
        email:
          type: string
          description: Email address for the giftee. It is required for sending the notification to the giftee.
    CreateAddressInput:
      type: object
      required:
        - customer_id
        - address1
        - city
        - country_code
        - first_name
        - last_name
        - phone
        - province
        - zip
      properties:
        payment_method_id:
          type: integer
          description: Unique numeric identifier for the Payment Method associated to the Address.
        address1:
          type: string
          description: The street associated with the Address.
        address2:
          type: string
          description: Any additional information associated with the Address.
        city:
          type: string
          description: The city associated with the address.
        company:
          type: string
          description: The company associated with the address.
        country_code:
          type: string
          description: 2-letter country code.
        customer_id:
          type: integer
          description: Unique numeric identifier for the customer associated with the address.
        discounts:
          type: array
          description: A list of discounts applied on the address. These discounts will apply to future recurring charges associated with this address.
          items:
            $ref: '#/components/schemas/Reference'
        first_name:
          type: string
          description: The customer’s first name associated with the address.
        last_name:
          type: string
          description: The customer’s last name associated with the address.
        order_attributes:
          type: array
          description: Extra information that is added to the order.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        order_note:
          type: string
          description: Notes to be added to all orders associated with the address.
        phone:
          type: string
          description: The phone number associated with the address.
        presentment_currency:
          type: string
          description: The currency on the subscription contract in Shopify. Only set if the currency is different from the store-level currency. Else, will default to store-level currency.
        province:
          type: string
          description: The state or province associated with the address.
        shipping_lines_override:
          type: array
          description: Used when shipping rates need to be overridden. If this parameter has value null, rates will be fetched when Charge is created or regenerated.
          items:
            $ref: '#/components/schemas/ShippingLineReference'
        zip:
          type: string
          description: The zip or postal code associated with the address.
    UpdateAddressInput:
      type: object
      properties:
        payment_method_id:
          type: integer
          description: Unique numeric identifier for the Payment Method associated to the Address.
        address1:
          type: string
          description: The street associated with the Address.
        address2:
          type: string
          description: Any additional information associated with the Address.
        city:
          type: string
          description: The city associated with the address.
        company:
          type: string
          description: The company associated with the address.
        country_code:
          type: string
          description: 2-letter country code.
        discounts:
          type: array
          description: A list of discounts applied on the address. These discounts will apply to future recurring charges associated with this address.
          items:
            $ref: '#/components/schemas/Reference'
        first_name:
          type: string
          description: The customer’s first name associated with the address.
        last_name:
          type: string
          description: The customer’s last name associated with the address.
        order_attributes:
          type: array
          description: Extra information that is added to the order.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        order_note:
          type: string
          description: Notes to be added to all orders associated with the address.
        phone:
          type: string
          description: The phone number associated with the address.
        province:
          type: string
          description: The state or province associated with the address.
        shipping_lines_override:
          type: array
          description: Used when shipping rates need to be overridden. If this parameter has value null, rates will be fetched when Charge is created or regenerated.
          items:
            $ref: '#/components/schemas/ShippingLineReference'
        zip:
          type: string
          description: The zip or postal code associated with the address.
    AddressResponse:
      type: object
      required:
        - address
      properties:
        address:
          $ref: '#/components/schemas/Address'
    BundleSelection:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: The unique numeric identifier for the BundleSelection.
        bundle_variant_id:
          type: integer
          description: The ID of the BundleVariant associated with the BundleSelection.
        purchase_item_id:
          type: integer
          description: The ID of the PurchaseItem associated with the BundleSelection.
        created_at:
          type: string
          format: date-time
          description: The date and time when the contents were selected.
        updated_at:
          type: string
          format: date-time
          description: The date and time at which the BundleSelection was most recently updated.
        external_product_id:
          type: string
          description: The product id as it appears in the external e-commerce platform. The external_product_id of the Product record in Recharge, linking the BundleSelection to a Product associated with a Bundle.
        external_variant_id:
          type: string
          description: The variant id as it appears in the external e-commerce platform. The external_variant_id of the Product record in Recharge, linking the BundleSelection to a Product associated with a Bundle.
        items:
          type: array
          items:
            $ref: '#/components/schemas/BundleSelectionItem'
    BundleSelectionItem:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: The unique numeric identifier for the item selection.
        collection_id:
          type: string
          description: The collection id as it appears in the external e-commerce platform.
        collection_source:
          type: string
          description: The identifier of the external e-commerce platform.
        created_at:
          type: string
          format: date-time
          description: The date and time when this item was selected.
        external_product_id:
          type: string
          description: The product id as it appears in the external e-commerce platform. This is the item which is going to be extracted when the Bundle is processed.
        external_variant_id:
          type: string
          description: The variant id as it appears in the external e-commerce platform. This is the item which is going to be extracted when the Bundle is processed.
        quantity:
          type: integer
          description: The quantity of this product.
        updated_at:
          type: string
          format: date-time
          description: The date and time at which the item selection was most recently updated.
    BundleSelectionResponse:
      type: object
      required:
        - bundle_selection
      properties:
        bundle_selection:
          $ref: '#/components/schemas/BundleSelection'
    BundleSelectionInput:
      type: object
      required:
        - purchase_item_id
        - items
      properties:
        purchase_item_id:
          type: integer
          description: The ID of the PurchaseItem associated with the BundleSelection.
        items:
          type: array
          items:
            $ref: '#/components/schemas/BundleSelectionItemInput'
    BundleSelectionItemInput:
      type: object
      properties:
        collection_id:
          type: string
          description: The collection id as it appears in the external e-commerce platform.
        collection_source:
          type: string
          description: The identifier of the external e-commerce platform.
        external_product_id:
          type: string
          description: The product id as it appears in the external e-commerce platform. This is the item which is going to be extracted when the Bundle is processed.
        external_variant_id:
          type: string
          description: The variant id as it appears in the external e-commerce platform. This is the item which is going to be extracted when the Bundle is processed.
        quantity:
          type: integer
          description: The quantity of this product.
    AppliedDiscount:
      type: object
      description: Represents a discount applied to an address.
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the Discount.
        code:
          type: string
          description: The discount code.
        value:
          type: number
          description: The discount value.
        value_type:
          type: string
          description: The type of discount value (e.g., fixed_amount).
    DiscountInput:
      type: object
      properties:
        discount_code:
          type: string
    CheckoutDiscount:
      type: object
      properties:
        amount:
          type: string
          description: Financial amount of the Discount applied.
        applicable:
          type: boolean
          description: Whether the Discount can be applied to the Checkout.
        discount_code:
          type: string
          description: The code for the Discount, e.g. 25_PERCENT_OFF.
        non_redeemable_reason:
          type: string
          description: Reason why the Discount could not be redeemed, if applicable.
        value:
          type: string
          description: The value of the Discount, used in combination with value_type to determine the amount.
        value_type:
          type: string
          enum:
            - fixed_amount
            - percentage
          description: The way the Discount amount is calculated.
    OrderAttribute:
      type: object
      description: Represents extra information added to an order.
      properties:
        name:
          type: string
        value:
          type: string
    ShippingLine:
      type: object
      properties:
        code:
          type: string
        price:
          type: string
        source:
          type: string
        title:
          type: string
        taxable:
          type: boolean
        tax_lines:
          type: array
          items:
            $ref: '#/components/schemas/TaxLine'
    ShippingLineReference:
      type: object
      properties:
        code:
          type: string
        price:
          type: string
        title:
          type: string
    CustomShippingRate:
      type: object
      description: Represents a shipping rate.
      properties:
        code:
          type: string
          description: The shipping rate code.
        price:
          type: string
          description: The shipping rate price.
        title:
          type: string
          description: The shipping rate title.
        handle:
          type: string
          description: Unique identifier for the shipping rate
    ShippingRateInput:
      type: object
      properties:
        handle:
          type: string
          description: Unique identifier for the shipping rate that should be applied.
    MergeAddresses:
      type: object
      description: Represents the details required to merge addresses.
      properties:
        delete_source_addresses:
          type: boolean
          description: Indicates whether source addresses should be deleted.
        next_charge_date:
          type: string
          format: date-time
          description: Specifies the next charge date of the associated subscriptions on the target address.
        target_address:
          $ref: '#/components/schemas/Reference'
        source_addresses:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
          description: The list of addresses that the subscriptions should move from.
      required:
        - target_address
        - source_addresses
    Reference:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: The id of the address.
      required:
        - id
    Charge:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: The unique numeric identifier for the Charge.
        address_id:
          type: integer
          description: The ID of the shipping Address tied to the Charge.
        analytics_data:
          $ref: '#/components/schemas/AnalyticsData'
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
        client_details:
          $ref: '#/components/schemas/ClientDetails'
        created_at:
          type: string
          format: date-time
          description: The date and time when the transaction was created.
        currency:
          type: string
          description: The code of the currency for this Charge, such as USD.
        customer:
          $ref: '#/components/schemas/InlineAddress'
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/AppliedDiscount'
          description: An array of Discounts associated with the Charge.
        error:
          type: string
          description: 'Error reason as sentence text (typically returned direct from the payment processor). e.g. "error": "Customer needs to update credit card"'
        error_type:
          type: string
          description: Structured reason why the charge failed such as CUSTOMER_NEEDS_TO_UPDATE_CARD.
        charge_attempts:
          type: integer
          description: Shows how many times an attempt to charge was placed.
        external_variant_id_not_found:
          type: boolean
          description: Indicates if Recharge was able to find the external_variant_id from the Charge.
        external_order_id:
          $ref: '#/components/schemas/ExternalOrderId'
        external_transaction_id:
          $ref: '#/components/schemas/ExternalTransactionId'
        has_uncommited_changes:
          type: boolean
          description: Specifies whether the Charge is scheduled for a regeneration (if the Subscription related to the charge was updated in the last 5 seconds using commit=false).
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
          description: A list of line_item objects, each containing information about a distinct purchase item.
        note:
          type: string
          description: Notes associated with the Charge.
        order_attributes:
          type: array
          items:
            $ref: '#/components/schemas/OrderAttribute'
        orders_count:
          type: integer
          description: The number of Orders generated from this Charge (>1 for prepaid Subscriptions).
        payment_processor:
          type: string
          description: The payment processor used for this Charge.
        processed_at:
          type: string
          format: date-time
          description: The date and time when the transaction was processed.
        retry_date:
          type: string
          format: date
          description: The date when the next attempt will be placed.
        scheduled_at:
          type: string
          format: date
          description: The date time of when the Charge is/was scheduled to process.
        shipping_address:
          $ref: '#/components/schemas/InlineAddress'
        shipping_lines:
          type: array
          items:
            $ref: '#/components/schemas/ShippingLine'
        status:
          type: string
          enum:
            - success,
            - error,
            - queued,
            - skipped,
            - refunded,
            - partially_refunded,
            - pending_manual_payment,
            - pending
        subtotal_price:
          type: string
          description: The combined price of all line_items without taxes and shipping.
        tags:
          type: string
          description: A comma-separated list of tags on the Charge.
        tax_lines:
          type: array
          description: An array of tax lines that apply to the Charge.
          items:
            $ref: '#/components/schemas/TaxLine'
        taxable:
          type: boolean
          description: A boolean indicator of the taxability of the Charge.
        taxes_included:
          type: boolean
          description: Whether taxes are included in the order subtotal.
        total_discounts:
          type: string
          description: The sum of the Discounts applied to the Charge.
        total_line_items_price:
          type: string
          description: The total price of all line items of the Charge.
        total_price:
          type: string
          description: The sum of all the prices of all the items in the Charge, taxes and discounts included (must be positive).
        total_refunds:
          type: string
          description: The sum of all refunds that were applied to the Charge.
        total_tax:
          type: string
          description: The total tax due associated with the Charge.
        total_weight_grams:
          type: integer
          description: The total weight of the Charge’s line items in grams.
        type:
          type: string
          description: An indicator of the Charge’s type, either checkout or recurring.
          enum:
            - checkout
            - recurring
        updated_at:
          type: string
          format: date-time
    ChargeResponse:
      type: object
      required:
        - charge
      properties:
        charge:
          $ref: '#/components/schemas/Charge'
    LineItem:
      type: object
      properties:
        purchase_item_id:
          type: integer
          description: The Subscription or Onetime ID associated with the line_item.
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        external_variant_id:
          $ref: '#/components/schemas/ExternalVariantId'
        grams:
          type: integer
          description: The weight of the item in grams.
        handle:
          type: string
          description: A unique, human-friendly string for the Product.
        images:
          $ref: '#/components/schemas/Images'
        original_price:
          type: string
          description: The original price of the line_item without discounts or taxes.
        properties:
          type: array
          description: An array of name value pairs of additional line_item attributes.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        purchase_item_type:
          type: string
          description: An indicator of the type of the purchase item.
          enum:
            - subscription
            - onetime
        quantity:
          type: integer
          description: The quantity of the line_item.
        sku:
          type: string
          description: The SKU (stock keeping unit) of the Product associated with the line_item.
        tax_due:
          type: string
          description: The total tax due associated with the line_item.
        tax_lines:
          type: array
          items:
            $ref: '#/components/schemas/TaxLine'
        taxable:
          type: boolean
          description: A boolean indicating if the line_item is taxable or non-taxable.
        taxable_amount:
          type: string
          description: The taxable revenue associated with the line_item.
        title:
          type: string
          description: The title of the Product of this line_item.
        total_price:
          type: string
          description: The total price of the line_item including tax.
        unit_price:
          type: string
          description: The unit price of the line_item.
        unit_price_includes_tax:
          type: boolean
          description: A boolean indicator if tax is included in the price of an item.
        variant_title:
          type: string
          description: The name of a variant of the Product of this line_item.
    CheckoutLineItem:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: Unique identifier of the line_item
        purchase_item_id:
          type: integer
          description: The Subscription or Onetime ID associated with the line_item.
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        external_variant_id:
          $ref: '#/components/schemas/ExternalVariantId'
        weight:
          type: integer
          description: The total weight of the line_item
        weight_unit:
          type: string
          enum:
            - lb
            - oz
            - kg
            - g
            - t
        handle:
          type: string
          description: A unique, human-friendly string for the Product.
        images:
          $ref: '#/components/schemas/Images'
        properties:
          type: array
          description: An array of name value pairs of additional line_item attributes.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        purchase_item_type:
          type: string
          description: An indicator of the type of the purchase item.
          enum:
            - subscription
            - onetime
        quantity:
          type: integer
          description: The quantity of the line_item.
        requires_shipping:
          type: boolean
          description: Whether the item requires shipping
        recurring_unit_price:
          type: string
          description: The price of a single unit of the Product associated with the line_item that will be charged in recurring orders.
        sku:
          type: string
          description: The SKU (stock keeping unit) of the Product associated with the line_item.
        subscription_preferences:
          $ref: '#/components/schemas/SubscriptionPreferences'
        tax_lines:
          type: array
          items:
            $ref: '#/components/schemas/TaxLine'
        taxable:
          type: boolean
          description: A boolean indicating if the line_item is taxable or non-taxable.
        title:
          type: string
          description: The title of the Product of this line_item.
        total_price:
          type: string
          description: The total price of the line_item including tax.
        unit_price:
          type: string
          description: The unit price of the line_item.
        variant_title:
          type: string
          description: The name of a variant of the Product of this line_item.
    CheckoutLineItemInput:
      type: object
      properties:
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        external_variant_id:
          $ref: '#/components/schemas/ExternalVariantId'
        handle:
          type: string
          description: A unique, human-friendly string for the Product.
        images:
          $ref: '#/components/schemas/Images'
        properties:
          type: array
          description: An array of name value pairs of additional line_item attributes.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        purchase_item_type:
          type: string
          description: An indicator of the type of the purchase item.
          enum:
            - subscription
            - onetime
        quantity:
          type: integer
          description: The quantity of the line_item.
        sku:
          type: string
          description: The SKU (stock keeping unit) of the Product associated with the line_item.
        subscription_preferences:
          $ref: '#/components/schemas/SubscriptionPreferences'
        tax_lines:
          type: array
          items:
            $ref: '#/components/schemas/TaxLine'
        title:
          type: string
          description: The title of the Product of this line_item.
        unit_price:
          type: string
          description: The unit price of the line_item.
        variant_title:
          type: string
          description: The name of a variant of the Product of this line_item.
        weight:
          type: integer
          description: The total weight in grams of the line_item
    SubscriptionPreferences:
      type: object
      properties:
        charge_interval_frequency:
          type: integer
          description: Frequency at which the subscriber will be charged
        cutoff_day_of_month:
          type: integer
          description: Day of the month the plan should be charged. Only valid for interval_unit:month
        cutoff_day_of_week:
          type: integer
          description: Day of the month the plan should be charged. Only valid for interval_unit:week
        expire_after_specific_number_of_charges:
          type: integer
          description: A maximum number of charges on which the subscription should appear before automatic cancellation
        order_day_of_month:
          type: integer
          description: Day of the month an order should be generated when the customer is subscribed.
        order_day_of_week:
          type: integer
          description: Day of the week an order should be generated when the customer is subscribed.
        order_interval_frequency:
          type: integer
          description: Frequency at which the subscriber will receive shipments when subscribed to this plan.
        interval_unit:
          type: string
          description: The unit applied to charge_interval_frequency and order_interval_frequency
          enum:
            - day
            - week
            - month
    TaxLine:
      type: object
      properties:
        price:
          type: string
          description: The total tax associated with the listed jurisdiction.
        rate:
          type: string
          description: The tax rate associated with the listed jurisdiction.
        title:
          type: string
          description: The title/name of the taxing jurisdiction.
    Images:
      type: object
      properties:
        large:
          type: string
          description: The url where a large image file is located.
        medium:
          type: string
          description: The url where a medium image file is located.
        small:
          type: string
          description: The url where a small image file is located.
        original:
          type: string
          description: The url where a original image file is located.
        sort_order:
          type: integer
          description: The sort order in which the x image from the array should appear when displayed.
    CustomerReference:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: The ID of the associated customer record.
        email:
          type: string
          description: The user email.
        external_customer_id:
          $ref: '#/components/schemas/InlineAddress'
        hash:
          type: string
          description: The hash of the Customer associated with the Charge.
    ExternalVariantId:
      type: object
      description: An object containing the associated variant ID as it appears in the external system.
      properties:
        ecommerce:
          type: string
          description: The variant id as it appears in the external e-commerce platform. The external_variant_id of the Product record in Recharge, linking a Plan to a Product.
    ExternalProductId:
      type: object
      description: An object containing the associated product ID as it appears in the external system.
      properties:
        ecommerce:
          type: string
          description: The product id as it appears in the external e-commerce platform. The external_product_id of the Product record in Recharge, linking a Plan to a Product.
    ExternalDiscountId:
      type: object
      description: An object containing external ids of the discount.
      properties:
        ecommerce:
          type: string
          description: The discount id as it appears in the external e-commerce platform
    ExternalTransactionId:
      type: object
      properties:
        payment_processor:
          type: integer
          description: The ID of the associated transaction in a payment processor system (like Stripe).
    ExternalOrderId:
      type: object
      description: An object containing the associated external order ID.
      properties:
        ecommerce:
          type: string
          description: The order ID as it appears in the external e-commerce platform.
    ExternalCustomerId:
      type: object
      description: The customer ID as it appears in the external e-commerce platform.
      properties:
        ecommerce:
          type: string
    ClientDetails:
      type: object
      properties:
        browser_ip:
          type: string
          description: The IP address of the buyer as detected
        user_agent:
          type: string
          description: The user agent detected during
    AnalyticsData:
      type: object
      properties:
        utm_params:
          type: array
          items:
            $ref: '#/components/schemas/UtmParam'
    UtmParam:
      type: object
      properties:
        utm_campaign:
          type: string
          description: The UTM campaign.
        utm_content:
          type: string
          description: The UTM content.
        utm_data_source:
          type: string
          description: The source of the campaign parameter.
        utm_source:
          type: string
          description: The UTM source.
        utm_medium:
          type: string
          description: The UTM medium.
        utm_term:
          type: string
          description: The UTM term.
        utm_timestamp:
          type: string
          description: The UTM timestamp
    SkipCharge:
      type: object
      description: Represents the details required to skip a future charge for an address.
      required:
        - date
        - subscription_ids
      properties:
        date:
          type: string
          format: date-time
          description: The date in the future of the Charge to be skipped.
        subscription_ids:
          type: array
          description: A list containing the Subscription IDs to be skipped.
          items:
            type: integer
    Checkout:
      type: object
      required:
        - token
        - created_at
        - updated_at
        - line_items
      properties:
        charge_id:
          type: integer
          description: ID for the Charge resulting from processing the Checkout.
        analytics_data:
          $ref: '#/components/schemas/AnalyticsData'
        applied_discounts:
          type: array
          items:
            $ref: '#/components/schemas/CheckoutDiscount'
        applied_shipping_rate:
          $ref: '#/components/schemas/AppliedShippingRate'
        applied_shipping_rates:
          type: array
          items:
            $ref: '#/components/schemas/AppliedShippingRate'
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
        completed_at:
          type: string
          format: date-time
          description: Timestamp for when the Checkout was processed.
        created_at:
          type: string
          format: date-time
          description: Timestamp for when the Checkout was created
        currency:
          type: string
          description: Currency of the Checkout
        email:
          type: string
        external_checkout_id:
          type: string
          description: External checkout reference, if one exists.
        external_checkout_source:
          type: string
          description: External checkout platform, if one exists.
        external_customer_id:
          $ref: '#/components/schemas/ExternalCustomerId'
        external_transaction_id:
          $ref: '#/components/schemas/ExternalTransactionId'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/CheckoutLineItem'
        note:
          type: string
          description: Custom note
        notification_preferences:
          $ref: '#/components/schemas/NotificationPreferences'
        order_attributes:
          type: array
          items:
            $ref: '#/components/schemas/OrderAttribute'
        payment_processor:
          type: string
        requires_shipping:
          type: boolean
          description: Whether or not the Checkout contains items that require shipping.
        shipping_address:
          $ref: '#/components/schemas/InlineAddress'
        shipping_lines:
          type: array
          items:
            $ref: '#/components/schemas/ShippingLine'
        subtotal_price:
          type: string
          description: Value of the Checkout minus shipping and tax.
        tax_lines:
          type: array
          items:
            $ref: '#/components/schemas/TaxLine'
        taxes_included:
          type: boolean
          description: Whether the tax is included in the price of the items.
        token:
          type: string
          description: Unique token for the Checkout.
        total_price:
          type: string
          description: Full price of the Checkout including shipping and tax.
        total_tax:
          type: string
          description: Tax charged on the Checkout.
        updated_at:
          type: string
          format: date-time
          description: Timestamp for the latest Checkout update.
    CheckoutResponse:
      type: object
      required:
        - checkout
      properties:
        checkout:
          $ref: '#/components/schemas/Checkout'
    CheckoutCharge:
      type: object
      properties:
        charge_id:
          type: string
          description: Unique identifier for the charge resulting from the processing of the checkout
        authorization_token:
          type: string
          description: Unique identifier for the authorization of the charge
        free:
          type: boolean
          description: Boolean to identify if the checkout was free
        payment_processor:
          type: string
          description: Payment processor used for the checkout
        payment_type:
          type: string
          description: Payment type used for the checkout
        processor_customer_token:
          type: string
          description: Unique identifier for the customer created in the payment service provider platform (aka PSP)
        processor_payment_method_token:
          type: string
          description: Payment method token used for the transaction
        payment_processor_transaction_id:
          type: string
          description: Unique transaction id used for the transaction
        status:
          type: string
          description: Status of the checkout
    CheckoutChargeResponse:
      type: object
      required:
        - checkout_charge
      properties:
        checkout_charge:
          $ref: '#/components/schemas/CheckoutCharge'
    CreateCheckoutInput:
      type: object
      required:
        - line_items
      properties:
        analytics_data:
          $ref: '#/components/schemas/AnalyticsData'
        applied_discounts:
          type: array
          items:
            $ref: '#/components/schemas/DiscountInput'
        applied_shipping_rate:
          $ref: '#/components/schemas/ShippingRateInput'
        custom_shipping_rate_options:
          type: array
          items:
            $ref: '#/components/schemas/CustomShippingRate'
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
        currency:
          type: string
          description: Currency of the Checkout
        email:
          type: string
        external_checkout_id:
          type: string
          description: External checkout reference, if one exists.
        external_checkout_source:
          type: string
          description: External checkout platform, if one exists.
        external_transaction_id:
          $ref: '#/components/schemas/ExternalTransactionId'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/CheckoutLineItemInput'
        note:
          type: string
          description: Custom note
        order_attributes:
          type: array
          items:
            $ref: '#/components/schemas/OrderAttribute'
        shipping_address:
          $ref: '#/components/schemas/InlineAddress'
    UpdateCheckoutInput:
      type: object
      properties:
        analytics_data:
          $ref: '#/components/schemas/AnalyticsData'
        applied_shipping_rate:
          $ref: '#/components/schemas/ShippingRateInput'
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
        buyer_accepts_marketing:
          type: boolean
          description: Does the buyer accept marketing, newsletters etc
        discount_code:
          type: string
          description: Discount code to be used on the checkout, e.g. “DISCOUNT20”.
        currency:
          type: string
          description: Currency of the Checkout
        email:
          type: string
          description: Email address for the customer.
        external_checkout_id:
          type: string
          description: External checkout reference, if one exists.
        external_checkout_source:
          type: string
          description: External checkout platform, if one exists.
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/CheckoutLineItemInput'
        note:
          type: string
          description: Custom note
        order_attributes:
          type: array
          items:
            $ref: '#/components/schemas/OrderAttribute'
        shipping_address:
          $ref: '#/components/schemas/InlineAddress'
    NotificationPreferences:
      type: object
      properties:
        email:
          $ref: '#/components/schemas/CheckoutLineItem'
        sms:
          $ref: '#/components/schemas/CheckoutLineItem'
    NotificationPreferencesChannel:
      type: object
      properties:
        promotional:
          $ref: '#/components/schemas/NotificationPreferencesChannelDetails'
        replenishment:
          $ref: '#/components/schemas/NotificationPreferencesChannelDetails'
        transactional:
          $ref: '#/components/schemas/NotificationPreferencesChannelDetails'
    NotificationPreferencesChannelDetails:
      type: object
      properties:
        last_opt_in_at:
          type: string
          format: date-time
          description: The timestamp marking the last time the user opted in for the notification channel and type. null if the person never opted in.
        last_opt_in_source:
          type: string
          description: Details of the source interface or process of the last opt in. null if the person never opted in.
          enum:
            - sms_reminder
            - store_opt_in_widget
            - replenishment_checkout
            - script
            - rechargesms_app
            - customer_sms
            - subscription_checkout_extension
            - recharge_checkout
            - sci_cart
        last_opt_out_at:
          type: string
          format: date-time
          description: The timestamp marking the last time the user opted out for the notification channel and type.
        last_opt_out_source:
          type: string
          description: Details of the source interface or process of the last opt in. null if the person never opted in.
          enum:
            - sms_reminder
            - store_opt_in_widget
            - replenishment_checkout
            - script
            - rechargesms_app
            - customer_sms
            - subscription_checkout_extension
            - recharge_checkout
            - sci_cart
        status:
          type: string
          description: Status of the notification preferences.
          enum:
            - accepted
            - declined
    AppliedShippingRate:
      type: object
      properties:
        checkout:
          $ref: '#/components/schemas/CheckoutPrice'
        code:
          type: string
          description: Code corresponding to the category of shipping
        delivery_rate:
          type: string
        description:
          type: string
        handle:
          type: string
          description: Unique string identifying the shipping/
        name:
          type: string
        phone_required:
          type: string
          description: Whether a phone is required for this shipping
        price:
          type: string
          description: Price of shipping
        title:
          type: string
    CheckoutShippingRatesResponse:
      type: object
      required:
        - shipping_rates
      properties:
        previous_cursor:
          type: string
        next_cursor:
          type: string
        shipping_rates:
          type: array
          items:
            $ref: '#/components/schemas/AppliedShippingRate'
    CheckoutPrice:
      type: object
      properties:
        subtotal_price:
          type: string
          description: Price excluding shipping and tax, including discounts.
        total_price:
          type: string
          description: Total price including tax and shipping cost for that particular shipping rate.
        total_tax:
          type: string
          description: Total tax value for the checkout.
    Collection:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - description
        - title
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the Collection
        created_at:
          type: string
          format: date-time
          description: The date and time when the Collection was created.
        description:
          type: string
          description: The Collection description. Used to store a detailed explanation of the Collection content and its purpose.
        sort_order:
          type: string
          enum:
            - id-asc
            - id-desc
            - title-asc
            - title-desc
            - created_at-asc
            - created_at-desc
        title:
          type: string
          description: The title of the Collection. A short descriptive definition of the Collection.
        type:
          type: string
          description: The type of the Collection. manual stands for Collections which were manually created ie. when the products where explicitly selected to be part of the Collection.
          enum:
            - manual
        updated_at:
          type: string
          format: date-time
    CollectionResponse:
      type: object
      required:
        - collection
      properties:
        collection:
          $ref: '#/components/schemas/Collection'
    CreateCollectionInput:
      type: object
      required:
        - description
        - title
      properties:
        description:
          type: string
          description: The Collection description. Used to store a detailed explanation of the Collection content and its purpose.
        sort_order:
          type: string
          enum:
            - id-asc
            - id-desc
            - title-asc
            - title-desc
            - created_at-asc
            - created_at-desc
        title:
          type: string
          description: The title of the Collection. A short descriptive definition of the Collection.
    UpdateCollectionInput:
      type: object
      properties:
        description:
          type: string
          description: The Collection description. Used to store a detailed explanation of the Collection content and its purpose.
        sort_order:
          type: string
          enum:
            - id-asc
            - id-desc
            - title-asc
            - title-desc
            - created_at-asc
            - created_at-desc
        title:
          type: string
          description: The title of the Collection. A short descriptive definition of the Collection.
    CollectionProduct:
      type: object
      properties:
        collection_id:
          type: integer
          description: Unique numeric identifier for a Collection
        created_at:
          type: string
          format: date-time
          description: The date and time when the Product was added to the collection.
        external_product_id:
          type: string
          description: The external_product_id.ecommerce of the Product.
        updated_at:
          type: string
          format: date-time
          description: The date and time when the Product entry for this Collection was last updated.
    CollectionProductInput:
      type: object
      required:
        - external_product_id
      properties:
        external_product_id:
          type: string
          description: The external_product_id.ecommerce of the Product
    CollectionProductsInput:
      type: object
      required:
        - collection_products
      properties:
        collection_products:
          type: array
          description: 'An array of products and their collection definition to be added to the Collection. Important: there is a set limit of 250 products that can be added per request.'
          items:
            $ref: '#/components/schemas/CollectionProductInput'
    CollectionProductResponse:
      type: object
      required:
        - collection_products
      properties:
        previous_cursor:
          type: string
        next_cursor:
          type: string
        collection_products:
          type: array
          items:
            $ref: '#/components/schemas/CollectionProduct'
    Customer:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - email
        - first_name
        - last_name
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the Customer
        analytics_data:
          $ref: '#/components/schemas/AnalyticsData'
        created_at:
          type: string
          format: date-time
          description: The date and time when the customer was created
        email:
          type: string
          description: The email address of the customer
        external_customer_id:
          $ref: '#/components/schemas/ExternalProductId'
        first_charge_processed_at:
          type: string
          format: date-time
          description: Date when first charge was processed for the customer
        first_name:
          type: string
          description: The customer’s first name
        has_payment_method_in_dunning:
          type: boolean
          description: A boolean that indicates if the customer has a payment method that is in dunning (failed charge)
        has_valid_payment_method:
          type: boolean
          description: Is the payment method valid or not
        hash:
          type: string
          description: The unique string identifier used in a customers portal link
        last_name:
          type: string
          description: The customer’s last name
        phone:
          type: string
          description: The customer’s phone number
        subscriptions_active_count:
          type: integer
          description: The number of active subscriptions on addresses associated with the customer
        subscriptions_total_count:
          type: integer
          description: The total number of subscriptions created on addresses associated with the customer
        tax_exempt:
          type: boolean
          description: Whether the customer tax exempt or not
        updated_at:
          type: string
          format: date-time
          description: The date and time when the customer was last updated
    CustomerResponse:
      type: object
      required:
        - customer
      properties:
        customer:
          $ref: '#/components/schemas/Customer'
    CreateCustomerInput:
      type: object
      required:
        - email
        - first_name
        - last_name
      properties:
        email:
          type: string
          description: The email address of the customer
        external_customer_id:
          $ref: '#/components/schemas/ExternalProductId'
        first_name:
          type: string
          description: The customer’s first name
        last_name:
          type: string
          description: The customer’s last name
        phone:
          type: string
          description: The customer’s phone number
        tax_exempt:
          type: boolean
          description: Whether the customer tax exempt or not
    UpdateCustomerInput:
      type: object
      properties:
        email:
          type: string
          description: The email address of the customer
        external_customer_id:
          $ref: '#/components/schemas/ExternalProductId'
        first_name:
          type: string
          description: The customer’s first name
        last_name:
          type: string
          description: The customer’s last name
        phone:
          type: string
          description: The customer’s phone number
        tax_exempt:
          type: boolean
          description: Whether the customer tax exempt or not
    DeliverySchedule:
      type: object
      properties:
        customer:
          $ref: '#/components/schemas/DeliveryScheduleCustomer'
        deliveries:
          type: array
          items:
            $ref: '#/components/schemas/Delivery'
    DeliveryScheduleResponse:
      type: object
      required:
        - deliverySchedule
      properties:
        deliverySchedule:
          $ref: '#/components/schemas/DeliverySchedule'
    Delivery:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Date for the scheduled deliveries in Eastern Standard Time
        orders:
          type: 'array'
          description: The order details for a given delivery.
          items:
            $ref: '#/components/schemas/DeliveryOrder'
    DeliveryOrder:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the order. Defaults to null if the Charge linked to this order has not been processed yet
        address_id:
          type: integer
          description: Unique numeric identifier for the customer’s address for which the delivery is due.
        charge_id:
          type: integer
          description: Unique numeric identifier for the Charge linked to the order. May be null for projected orders with no charge yet created.
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryOrderLineItem'
        order_subtotal:
          type: string
          description: The order subtotal price (sum of all individual order subtotals). May be “0.00” for subsequent prepaid orders not attributed to a charge.
        payment_method:
          $ref: '#/components/schemas/InlinePaymentMethod'
        shipping_address:
          $ref: '#/components/schemas/InlineAddress'
    InlinePaymentMethod:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: The unique payment method id for a customer
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
        payment_details:
          $ref: '#/components/schemas/PaymentDetails'
    PaymentDetails:
      type: object
      properties:
        brand:
          type: string
          description: Payment_method brand or company powering it. valid for CREDIT_CARD only.
        exp_month:
          type: string
          description: Payment_method expiry month. valid for CREDIT_CARD only.
        exp_year:
          type: string
          description: Payment_method expiry year. valid for CREDIT_CARD only.
        last4:
          type: string
          description: last 4-digits of the identifier. valid for CREDIT_CARD only.
        paypal_email:
          type: string
          description: email linked to. valid for PAYPAL only.
        paypal_payer_id:
          type: string
          description: paypal user identifier. valid for PAYPAL only.
        wallet_type:
          type: string
          description: If a digital wallet.
        funding_type:
          type: string
          description: Type of funding for the Payment Method.
    DeliveryOrderLineItem:
      type: object
      properties:
        subscription_id:
          type: integer
          description: Unique numeric identifier for the subscription linked to this line_item in the order
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        external_variant_id:
          $ref: '#/components/schemas/ExternalVariantId'
        images:
          $ref: '#/components/schemas/Images'
        is_prepaid:
          type: boolean
          description: Value is set to true if it is a prepaid item
        is_skippable:
          type: boolean
          description: Value is set to true if the order is skipped
        original_price:
          type: string
          description: The original price of the line_item without discounts or taxes.
        plan_type:
          type: string
          enum:
            - subscription
            - onetime
        product_title:
          type: string
          description: The name of the product in a store’s catalog
        properties:
          type: array
          description: A list of line item objects, each one containing information about the subscription. Custom key-value pairs can be installed here, they will appear on the connected queued charge and after it is processed on the order itself.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        quantity:
          type: integer
          description: The number of items in the subscription.
        subtotal_price:
          type: string
          description: The subtotal price (sum of all line items * their quantity) of the order less discounts.
        unit_price:
          type: string
          description: The unit price of the variant
        variant_title:
          type: string
          description: The name of the variant in a store’s catalog
    DeliveryScheduleCustomer:
      type: object
      description: Customer details relevant for deliveries.
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier of the customer
        email:
          type: string
          description: Email address of the customer
        first_name:
          type: string
          description: The customer’s first name
        last_name:
          type: string
          description: The customer’s last name
    CustomerCreditSummary:
      type: object
      properties:
        customer_id:
          type: integer
          description: Unique numeric identifier for the Customer.
        total_available_balance:
          type: string
          description: The total balance of the customer’s credit accounts.
        currency_code:
          type: string
          description: The currency of the customer’s credit balance.
    CustomerCreditSummaryResponse:
      type: object
      required:
        - credit_summary
      properties:
        credit_summary:
          $ref: '#/components/schemas/CustomerCreditSummary'
    DiscountType:
      type: string
      description: Type of discount mechanic
      enum:
        - fixed_amount
        - percentage
        - shipping
    DiscountStatus:
      type: string
      enum:
        - enabled
        - disabled
        - fully_disabled
      description: |
        The status of the discount. Value can be:
        * `enabled discount` is active to be applied
        * `disabled discount` can’t be applied on new purchases. Discount will remain on existing charges to which it has already been applied.
        * `fully_disabled` discount can no longer be applied. In addition, Discount is removed from every queued charge.

        `disabled` and `fully_disabled` can both be reverted to `enabled`. However once a Discount has been updated to `fully_disabled` it will be removed from all Charges it had been applied to. This removal from Charges is irreversible.
    Discount:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - code
        - value
        - value_type
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the discount
        applies_to:
          $ref: '#/components/schemas/DiscountAppliesTo'
        channel_settings:
          $ref: '#/components/schemas/DiscountChannelSettings'
        code:
          type: string
          description: The code used to apply the discount
        created_at:
          type: string
          format: date-time
          description: The date and time when the discount was created
        starts_at:
          type: string
          format: date-time
          description: The date when the discount becomes active. When not specified on creation starts_at will default to null which translates into no restrictions.
        ends_at:
          type: string
          format: date-time
          description: The expiration timestamp of the discount. Past this time the Discount can no longer be redeemed. After ends_at the status of the Discount will go from active to disabled. Recurring discounts applied prior to their ends_at time will still apply.
        external_discount_id:
          $ref: '#/components/schemas/ExternalDiscountId'
        first_time_customer_restriction:
          type: boolean
          description: Discount can be used on checkout for customer that still don’t exist in Recharge database
        prerequisite_subtotal_min:
          type: string
          description: The minimum cart subtotal needed for the discount to be applicable. duration has to be single_use and the discount must apply to the entire order.
        status:
          $ref: '#/components/schemas/DiscountStatus'
        usage_limits:
          $ref: '#/components/schemas/DiscountUsageLimits'
        updated_at:
          type: string
          format: date-time
          description: The date and time when the discount was last updated
        value:
          type: string
          description: The discounted value to be applied
        value_type:
          $ref: '#/components/schemas/DiscountType'
    DiscountResponse:
      type: object
      required:
        - discount
      properties:
        discount:
          $ref: '#/components/schemas/Discount'
    CreateDiscountInput:
      type: object
      required:
        - code
        - value
        - value_type
      properties:
        applies_to:
          $ref: '#/components/schemas/DiscountAppliesTo'
        channel_settings:
          $ref: '#/components/schemas/DiscountChannelSettings'
        code:
          type: string
          description: The code used to apply the discount
        starts_at:
          type: string
          format: date-time
          description: The date when the discount becomes active. When not specified on creation starts_at will default to null which translates into no restrictions.
        ends_at:
          type: string
          format: date-time
          description: The expiration timestamp of the discount. Past this time the Discount can no longer be redeemed. After ends_at the status of the Discount will go from active to disabled. Recurring discounts applied prior to their ends_at time will still apply.
        prerequisite_subtotal_min:
          type: string
          description: The minimum cart subtotal needed for the discount to be applicable. duration has to be single_use and the discount must apply to the entire order.
        status:
          $ref: '#/components/schemas/DiscountStatus'
        usage_limits:
          $ref: '#/components/schemas/DiscountUsageLimits'
        value:
          type: string
          description: The discounted value to be applied
        value_type:
          $ref: '#/components/schemas/DiscountType'
    UpdateDiscountInput:
      type: object
      properties:
        applies_to:
          $ref: '#/components/schemas/DiscountAppliesTo'
        channel_settings:
          $ref: '#/components/schemas/DiscountChannelSettings'
        code:
          type: string
          description: The code used to apply the discount
        starts_at:
          type: string
          format: date-time
          description: The date when the discount becomes active. When not specified on creation starts_at will default to null which translates into no restrictions.
        ends_at:
          type: string
          format: date-time
          description: The expiration timestamp of the discount. Past this time the Discount can no longer be redeemed. After ends_at the status of the Discount will go from active to disabled. Recurring discounts applied prior to their ends_at time will still apply.
        prerequisite_subtotal_min:
          type: string
          description: The minimum cart subtotal needed for the discount to be applicable. duration has to be single_use and the discount must apply to the entire order.
        status:
          $ref: '#/components/schemas/DiscountStatus'
        usage_limits:
          $ref: '#/components/schemas/DiscountUsageLimits'
        value:
          type: string
          description: The discounted value to be applied
        value_type:
          $ref: '#/components/schemas/DiscountType'
    DiscountUsageLimits:
      type: object
      properties:
        one_application_per_customer:
          type: boolean
          description: The discount can only be used once for a given customer checkout or manually applied once on the customer portal (irrespective of which address). Once applied, it will continue being re-applied to each new charge on the address.
        first_time_customer_restriction:
          type: boolean
          description: Discount can be used on checkout for customer that still don’t exist in Recharge database.
        max_subsequent_redemptions:
          type: integer
          description: The number of Charges the Discount will apply to besides the initial redemption for a given Customer. For example, if you want a discount to apply for 5 consecutive charges max_subsequent_redemptions should be 4.
        redemptions:
          type: integer
          description: Sets the limit on the number of times a discount can be used by all customers.
    DiscountChannelSettings:
      type: object
      properties:
        api:
          $ref: '#/components/schemas/DiscountChannelSettingsDetails'
        customer_portal:
          $ref: '#/components/schemas/DiscountChannelSettingsDetails'
        merchant_portal:
          $ref: '#/components/schemas/DiscountChannelSettingsDetails'
        checkout_page:
          $ref: '#/components/schemas/DiscountChannelSettingsDetails'
    DiscountChannelSettingsDetails:
      type: object
      properties:
        can_apply:
          type: boolean
          default: true
          description: A boolean to indicate if the discount may be applied using the associated channel (defaults to true for all channels).
    DiscountAppliesTo:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
          description: A list of ids of the type indicated in applies_to.resource for which the discount can be applied. Currently only supports a list with one value.
        purchase_item_type:
          type: string
          enum:
            - ALL,
            - ONETIME
            - SUBSCRIPTION
          description: An indicator of whether the discount applies to onetimes, subscriptions, or all purchase item types.
        resource:
          type: string
          enum:
            - product
              shopify_collection_id
          description: An indicator of the type of resource to which applies_to_id refers.
    MetafieldOwnerResource:
      type: string
      enum:
        - store
        - customer
        - subscription
        - order
        - charge
      description: Objects which support Metafields
    Metafield:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - key
        - namespace
        - owner_id
        - owner_resource
        - value
        - value_type
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the metafield.
        created_at:
          type: string
          format: date-time
          description: The date and time when the metafield was created.
        description:
          type: string
          description: Description of the metafield.
        key:
          type: string
          description: The name of the metafield.
        namespace:
          type: string
          description: A category or container that differentiates your metadata from other metafields.
        owner_id:
          type: string
          description: Unique numeric identifier of the owner_resource.
        owner_resource:
          $ref: '#/components/schemas/MetafieldOwnerResource'
        updated_at:
          type: string
          format: date-time
          description: The date and time when the metafield was last updated
        value:
          type: string
          description: The content of the metafield
        value_type:
          type: string
          enum:
            - string
            - integer
            - json_string
    MetafieldResponse:
      type: object
      required:
        - metafield
      properties:
        metafield:
          $ref: '#/components/schemas/Metafield'
    CreateMetafieldInput:
      type: object
      required:
        - key
        - namespace
        - owner_id
        - owner_resource
        - value
        - value_type
      properties:
        description:
          type: string
          description: Description of the metafield.
        key:
          type: string
          description: The name of the metafield.
        namespace:
          type: string
          description: A category or container that differentiates your metadata from other metafields.
        owner_id:
          type: string
          description: Unique numeric identifier of the owner_resource.
        owner_resource:
          $ref: '#/components/schemas/MetafieldOwnerResource'
        updated_at:
          type: string
          format: date-time
          description: The date and time when the metafield was last updated
        value:
          type: string
          description: The content of the metafield
        value_type:
          type: string
          enum:
            - string
            - integer
            - json_string
    UpdateMetafieldInput:
      type: object
      properties:
        description:
          type: string
          description: Description of the metafield.
        owner_id:
          type: string
          description: Unique numeric identifier of the owner_resource.
        owner_resource:
          $ref: '#/components/schemas/MetafieldOwnerResource'
        value:
          type: string
          description: The content of the metafield
        value_type:
          type: string
          enum:
            - string
            - integer
            - json_string
    Onetime:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - address_id
        - external_variant_id
        - next_charge_scheduled_at
        - price
        - product_title
        - quantity
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the Onetime purchase
        address_id:
          type: integer
          description: Unique numeric identifier for the address the Onetime Purchase is associated with (cannot be used with next_charge_scheduled_at)
        created_at:
          type: string
          format: date-time
          description: The time the Onetime item was first created.
        customer_id:
          type: integer
          description: Unique numeric identifier for the customer the Onetime purchase is tied to.
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        external_variant_id:
          $ref: '#/components/schemas/ExternalVariantId'
        is_cancelled:
          type: boolean
          description: Flag indicating if the the onetime is cancelled.
        next_charge_scheduled_at:
          type: string
          format: date-time
          description: Date of the Onetime purchase execution. Cannot be used with add_to_next_charge
        price:
          type: string
          description: The price of the item before discounts, taxes, or shipping have been applied.
        product_title:
          type: string
          description: The name of the product in a shop’s catalog.
        properties:
          type: array
          description: An array containing key value pairs for any supplementary data.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        quantity:
          type: integer
          description: The number of items in the Onetime purchase.
        sku:
          type: string
          description: A unique identifier of the item in the fulfillment.
        sku_override:
          type: boolean
          description: |
            Flag that is automatically updated to true when SKU is passed on POST or PUT.
            
            When sku_override is true, the sku on the Onetime will be used to generate Charges and Orders.
            When sku_override is false, Recharge will dynamically fetch the sku from the corresponding external_platform_variant.
        updated_at:
          type: string
          description: The time the Onetime purchase was last updated.
        variant_title:
          type: string
          description: The name of the variant in a shop’s catalog.
    OnetimeResponse:
      type: object
      required:
        - onetime
      properties:
        onetime:
          $ref: '#/components/schemas/Onetime'
    CreateOnetimeInput:
      type: object
      required:
        - address_id
        - external_variant_id
        - next_charge_scheduled_at
        - price
        - product_title
        - quantity
      properties:
        address_id:
          type: integer
          description: Unique numeric identifier for the address the Onetime Purchase is associated with (cannot be used with next_charge_scheduled_at)
        add_to_next_charge:
          type: boolean
          description: Instructs to add the Onetime to the next charge scheduled under this Address.
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        external_variant_id:
          $ref: '#/components/schemas/ExternalVariantId'
        next_charge_scheduled_at:
          type: string
          format: date-time
          description: Date of the Onetime purchase execution. Cannot be used with add_to_next_charge
        price:
          type: string
          description: The price of the item before discounts, taxes, or shipping have been applied.
        product_title:
          type: string
          description: The name of the product in a shop’s catalog.
        properties:
          type: array
          description: An array containing key value pairs for any supplementary data.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        quantity:
          type: integer
          description: The number of items in the Onetime purchase.
        sku:
          type: string
          description: A unique identifier of the item in the fulfillment.
    UpdateOnetimeInput:
      type: object
      properties:
        address_id:
          type: integer
          description: Unique numeric identifier for the address the Onetime Purchase is associated with (cannot be used with next_charge_scheduled_at)
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        external_variant_id:
          $ref: '#/components/schemas/ExternalVariantId'
        next_charge_scheduled_at:
          type: string
          format: date-time
          description: Date of the Onetime purchase execution. Cannot be used with add_to_next_charge
        price:
          type: string
          description: The price of the item before discounts, taxes, or shipping have been applied.
        product_title:
          type: string
          description: The name of the product in a shop’s catalog.
        properties:
          type: array
          description: An array containing key value pairs for any supplementary data.
          items:
            $ref: '#/components/schemas/OrderAttribute'
        quantity:
          type: integer
          description: The number of items in the Onetime purchase.
        sku:
          type: string
          description: A unique identifier of the item in the fulfillment.
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int56
          description: The unique numeric identifier for the order
        address_id:
          type: integer
          description: The id of the associated Address within Recharge
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
        charge:
          $ref: '#/components/schemas/OrderCharge'
        client_details:
          $ref: '#/components/schemas/ClientDetails'
        created_at:
          type: string
          format: date-time
          description: The date when the order was created
        currency:
          type: string
          description: The currency of the payment used to create the order
        customer:
          $ref: '#/components/schemas/CustomerReference'
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/OrderDiscount'
        external_cart_token:
          type: string
          description: The cart token as it appears in an external system
        external_order_id:
          $ref: '#/components/schemas/ExternalOrderId'
        external_order_number:
          $ref: '#/components/schemas/ExternalOrderId'
        is_prepaid:
          type: boolean
          description: A boolean representing if this Order is generated from a prepaid purchase
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        note:
          type: string
          description: Notes associated with the Order
        order_attributes:
          type: array
          items:
            $ref: '#/components/schemas/OrderAttribute'
        processed_at:
          type: string
          format: date-time
          description: The date time that the associated charge was processed at
        scheduled_at:
          type: string
          format: date-time
          description: The date time of when the associated charge is/was scheduled to process
        shipping_address:
          $ref: '#/components/schemas/InlineAddress'
        shipping_lines:
          type: array
          items:
            $ref: '#/components/schemas/ShippingLine'
        status:
          $ref: '#/components/schemas/OrderStatus'
        subtotal_price:
          type: string
          description: The subtotal price (sum of all line items * their quantity) of the order less discounts
        tags:
          type: string
          description: A comma separated list of tags
        tax_lines:
          type: array
          items:
            $ref: '#/components/schemas/TaxLine'
        taxable:
          type: boolean
        total_discounts:
          type: string
          description: The total discounted dollar value of the Order
        total_duties:
          type: string
          description: The total cost of duties for the Order
        total_line_items_price:
          type: integer
          description: The total price of all line items of the Order
        total_price:
          type: string
          description: The total amount due of the Order
        total_refunds:
          type: string
          description: The total dollar amount of refunds associated with the Order
        total_tax:
          type: string
          description: The total tax due associated with the Order
        total_weight_grams:
          type: integer
          description: The total weight of the order in grams
        type:
          $ref: '#/components/schemas/OrderType'
        updated_at:
          type: string
          format: date-time
    OrderResponse:
      type: object
      required:
        - order
      properties:
        order:
          $ref: '#/components/schemas/Order'
    UpdateOrderInput:
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
        customer:
          $ref: '#/components/schemas/CustomerReference'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        external_order_id:
          $ref: '#/components/schemas/ExternalOrderId'
        scheduled_at:
          type: string
          format: date-time
          description: The date when the order will be shipped
        shipping_address:
          $ref: '#/components/schemas/InlineAddress'
        status:
          $ref: '#/components/schemas/OrderStatus'
    OrderType:
      type: string
      enum:
        - checkout
        - recurring
    OrderStatus:
      type: string
      enum:
        - success
        - error
        - queued
        - cancelled
    OrderShippingLine:
      type: object
      description: Represents a shipping rate.
      properties:
        code:
          type: string
          description: The shipping rate code.
        price:
          type: string
          description: The shipping rate price.
        title:
          type: string
          description: The shipping rate title.
    OrderCharge:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int56
          description: The id of the charge associated with this order.
        external_transaction_id:
          $ref: '#/components/schemas/ExternalTransactionId'
    OrderDiscount:
      type: object
      properties:
        id:
          type: integer
          format: int56
        code:
          type: string
        value:
          type: number
        value_type:
          type: string
          enum:
            - percentage
            - fixed_amount
    PaymentType:
      type: string
      enum:
        - CREDIT_CARD
        - PAYPAL
        - APPLE_PAY
        - GOOGLE_PAY
        - SEPA_DEBIT
    ProcessorName:
      type: string
      enum:
        - stripe,
        - braintree
        - authorize
        - shopify_payments
        - mollie
    PaymentMethod:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - customer_id
        - payment_type
        - processor_customer_token
        - processor_name
      properties:
        id:
          type: integer
          format: int56
          description: The unique payment method id for a customer.
        customer_id:
          type: integer
          description: The Recharge customer_id.
        created_at:
          type: string
          format: date-time
        default:
          type: boolean
          description: >
            If this is the default Payment_method for the Customer. 
            Customer must have 1 and only 1 default payment Payment_method.
        payment_details:
          $ref: '#/components/schemas/PaymentDetails'
        payment_type:
          $ref: '#/components/schemas/PaymentType'
        processor_customer_token:
          type: string
          description: The customer token at the processor
        processor_name:
          $ref: '#/components/schemas/ProcessorName'
        processor_payment_method_token:
          type: string
          description: The payment token at the processor
        status:
          type: string
          enum:
            - unvalidated
            - valid
            - invalid
            - empty
        status_reason:
          type: string
          description: |
            The status reason for the payment method.

            Often used when invalid to provide background details in invalidity.
        updated_at:
          type: string
          format: date-time
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
    PaymentMethodResponse:
      type: object
      required:
        - payment_method
      properties:
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
    CreatePaymentMethodInput:
      type: object
      required:
        - customer_id
        - payment_type
        - processor_customer_token
        - processor_name
      properties:
        customer_id:
          type: integer
          description: The Recharge customer_id.
        default:
          type: boolean
          description: >
            If this is the default Payment_method for the Customer. 
            Customer must have 1 and only 1 default payment Payment_method.
        payment_type:
          $ref: '#/components/schemas/PaymentType'
        processor_customer_token:
          type: string
          description: The customer token at the processor
        processor_name:
          $ref: '#/components/schemas/ProcessorName'
        processor_payment_method_token:
          type: string
          description: The payment token at the processor
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
    UpdatePaymentMethodInput:
      type: object
      properties:
        default:
          type: boolean
          description: >
            If this is the default Payment_method for the Customer. 
            Customer must have 1 and only 1 default payment Payment_method.
        processor_name:
          $ref: '#/components/schemas/ProcessorName'
        billing_address:
          $ref: '#/components/schemas/InlineAddress'
    PlanType:
      type: string
      enum:
        - subscription
        - prepaid
        - onetime
      description: The type of the plan. Products with a prepaid plan cannot have plans of other types.
    Plan:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - external_product_id
        - subscription_preferences
        - title
        - type
      properties:
        id:
          type: integer
          format: int56
          description: Unique numeric identifier for the Plan.
        channel_settings:
          $ref: '#/components/schemas/DiscountChannelSettings'
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: If deleted, the time the plan was deleted.
        discount_amount:
          type: string
          description: >-
            The discount amount applied to the product price when purchased through this Plan. 
            All Plans for a product must have the same discount amount.
        discount_type:
          $ref: '#/components/schemas/DiscountType'
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        sort_order:
          type: integer
          description: The number indicating the order which the plan will be in a list of related plans.
        subscription_preferences:
          $ref: '#/components/schemas/SubscriptionPreferences'
        title:
          type: string
          description: The title of the plan. All Plans for a product must have the same title.
        type:
          $ref: '#/components/schemas/PlanType'
        updated_at:
          type: string
          format: date-time
    PlanResponse:
      type: object
      properties:
        plan:
          $ref: '#/components/schemas/Plan'
      required:
        - plan
    ListPlansResponse:
      type: object
      required:
        - plans
      properties:
        previous_cursor:
          type: string
        next_cursor:
          type: string
        plans:
          type: array
          items:
            $ref: '#/components/schemas/Plan'
    CreatePlanInput:
      type: object
      required:
        - external_product_id
        - subscription_preferences
        - title
        - type
      properties:
        channel_settings:
          $ref: '#/components/schemas/DiscountChannelSettings'
        discount_amount:
          type: string
          description: >-
            The discount amount applied to the product price when purchased through this Plan. 
            All Plans for a product must have the same discount amount.
        discount_type:
          $ref: '#/components/schemas/DiscountType'
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        sort_order:
          type: integer
          description: The number indicating the order which the plan will be in a list of related plans.
        subscription_preferences:
          $ref: '#/components/schemas/SubscriptionPreferences'
        title:
          type: string
          description: The title of the plan. All Plans for a product must have the same title.
        type:
          $ref: '#/components/schemas/PlanType'
    UpdatePlanInput:
      type: object
      properties:
        channel_settings:
          $ref: '#/components/schemas/DiscountChannelSettings'
        discount_amount:
          type: string
          description: >-
            The discount amount applied to the product price when purchased through this Plan. 
            All Plans for a product must have the same discount amount.
        discount_type:
          $ref: '#/components/schemas/DiscountType'
        external_product_id:
          $ref: '#/components/schemas/ExternalProductId'
        sort_order:
          type: integer
          description: The number indicating the order which the plan will be in a list of related plans.
        subscription_preferences:
          $ref: '#/components/schemas/SubscriptionPreferences'
        title:
          type: string
          description: The title of the plan. All Plans for a product must have the same title.
    BulkCreatePlanInput:
      type: object
      required:
        - plans
      properties:
        plans:
          type: array
          items:
            $ref: '#/components/schemas/CreatePlanInput'
    BulkUpdatePlanInput:
      type: object
      required:
        - plans
      properties:
        plans:
          type: array
          items:
            $ref: '#/components/schemas/UpdatePlanInput'
    Product:
      type: object
      required:
        - external_product_id
        - external_updated_at
        - external_created_at
        - options
        - title
        - variants
        - vendor
      properties:
        external_product_id:
          type: string
          description: Unique numeric identifier of the product record in Recharge. The primary id of the record.
        brand:
          type: string
          description: The brand name of the product.
        external_created_at:
          type: string
          format: date-time
          description: The date and time at which the product was created in an external product catalog.
        external_updated_at:
          type: string
          format: date-time
          description: The date and time at which the product was updated in an external product catalog.
        images:
          type: array
          items:
            $ref: '#/components/schemas/Images'
        options:
          type: array
          items:
            $ref: '#/components/schemas/ProductOption'
        published_at:
          type: string
          format: date-time
          description: >-
            The datetime at which the product became available for purchase. To make the product available, 
            this should be set in the past.
        requires_shipping:
          type: boolean
          description: Indicator of shipping requirement. Dictates the default for the variants. Can be overridden at the variant level.
        title:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariant'
        vendor:
          type: string
          description: The vendor of the product
    ProductDimensions:
      type: object
      description: A container of variant dimensions.
      properties:
        weight:
          type: integer
          description: The weight of the product in the weight unit configured for your store.
        weight_unit:
          type: string
          description: Read only. The weight unit specified for your store.
    ProductVariant:
      type: object
      properties:
        dimensions:
          $ref: '#/components/schemas/ProductDimensions'
        external_variant_id:
          type: string
          description: The variant id in your PIM. The primary key for the variant.
        image:
          $ref: '#/components/schemas/Images'
        sort_order:
          type: integer
          description: The sort order in which the x image from the array should appear when displayed.
        option_values:
          type: array
          description: An array of option values, linking the variant to the options listed at the product level.
          items:
            $ref: '#/components/schemas/ProductVariantOptionValue'
        prices:
          $ref: '#/components/schemas/ProductVariantPrice'
        requires_shipping:
          type: boolean
          description: |
            Indicator of shipping requirement. If true the product associated to the variant needs to be shipped.
            
            Default value is what is set at the Product level for requires_shipping.
        sku:
          type: string
          description: The stock keeping unit of the variant.
        tax_code:
          type: string
          description: The tax code of the variant. This value will be used when calculating tax with a third party tax service.
        taxable:
          type: boolean
          description: A boolean indicator of the variant’s taxability.
        title:
          type: string
          description: The title of the variant.
    ProductVariantPrice:
      type: object
      description: An object containing prices for the variant.
      properties:
        compare_at_price:
          type: string
          description: The compare-at price for the variant.
        unit_price:
          type: string
          description: The unit price for the variant.
    ProductOption:
      type: object
      required:
        - name
        - position
        - values
      properties:
        name:
          type: string
          description: The name of the option, such as size, color, etc
        position:
          type: integer
          description: The position in which the x option from the array should appear when displayed
        values:
          type: array
          description: An array of values for the x option in the options array
          items:
            $ref: '#/components/schemas/ProductOptionValue'
    ProductOptionValue:
      type: object
      required:
        - label
        - position
      properties:
        label:
          type: string
          description: >-
            The label of the option value. For example, if the option name is size, 
            this value may be small, medium, large, etc.
        position:
          type: integer
          description: The position in which the y option value from the array should appear when displayed
    ProductVariantOptionValue:
[...]
