openapi: 3.0.0
info:
  title: Yotpo UGC
  version: '1.0'
servers:
  - url: https://api.yotpo.com
components:
  securitySchemes: {}
  schemas:
    Badge:
      type: object
      properties:
        id:
          type: integer
          example: 1
          default: 0
        name:
          type: string
          example: Newbie
        description:
          type: string
          example: Hooray, you wrote your first review with Yotpo! Now you have this cool profile page, and you can earn Yotpo score and have even more badges.
        image_100:
          type: string
          example: http://s3.amazonaws.com/yotpo-static-images/badges/100/1.png
        image_300:
          type: string
          example: http://s3.amazonaws.com/yotpo-static-images/badges/300/1.png
    Account:
      type: object
      properties:
        id:
          type: integer
          example: 15906
          default: 0
        domain:
          type: string
          example: ' http://www.shop.com'
        map_image:
          type: object
          properties:
            id:
              type: integer
              example: 3371260
              default: 0
            image_url:
              type: string
              example: http://d2zookpajyck3d.cloudfront.net/Account/75365/3371260/thumb.png?1418043528
            big_image_url:
              type: string
              example: http://d2zookpajyck3d.cloudfront.net/Account/75365/3371260/big.png?1418043528
            image_content_type:
              type: string
              example: image/png
            image_width:
              type: integer
              example: 165
              default: 0
            image_height:
              type: integer
              example: 144
              default: 0
            imageable_type:
              type: string
              example: Account
            imageable_id:
              type: integer
              example: 75365
              default: 0
        comments_avatar:
          type: object
          properties:
            id:
              type: integer
              example: 3371711
              default: 0
            image_url:
              type: string
              example: http://d2zookpajyck3d.cloudfront.net/Account/75365/3371711/thumb.jpg?1418201566
            big_image_url:
              type: string
              example: http://d2zookpajyck3d.cloudfront.net/Account/75365/3371711/big.jpg?1418201566
            image_content_type:
              type: string
              example: image/jpeg
            image_width:
              type: integer
              example: 857
              default: 0
            image_height:
              type: integer
              example: 805
              default: 0
            imageable_type:
              type: string
              example: Account
            imageable_id:
              type: integer
              example: 75365
              default: 0
        comments_display_name:
          type: string
          example: Eli Belly
    Product:
      type: object
      properties:
        id:
          type: integer
          example: 19059423
          default: 0
        name:
          type: string
          example: Casablanca
        slug:
          type: string
          example: casablanca--15026822254372427
        product_url:
          type: string
          example: http://www.shirtstore.com/products/casablanca-1
        shorten_url:
          type: string
          example: https://yotpo.com/go/zdYLqwyf
        images:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 14088727
                default: 0
              image_url:
                type: string
                example: https://ddcfq0gxiontw.cloudfront.net/Product/19059423/14088727/square.jpg?1512208919
              big_image_url:
                type: string
                example: https://ddcfq0gxiontw.cloudfront.net/Product/19059423/14088727/big.jpg?1512208919
        social_network_links:
          type: object
          properties:
            facebook:
              type: string
              example: https://yotpo.com/go/9rE7vkSV
            twitter:
              type: string
              example: https://yotpo.com/go/b8DLD0se
            linkedin:
              type: string
              example: https://yotpo.com/go/xPuuMNQn
            google_oauth2:
              type: string
              example: https://yotpo.com/go/6eiPnlxP
        facebook_testemonials_page_product_url:
          type: string
          example: https://yotpo.com/go/unavuR5y
    ProductApp:
      type: object
      properties:
        id:
          type: integer
          example: 18880628
          default: 0
        product_url:
          type: string
          example: http://www.shirtstore.com/products/casablanca-1
        domain_key:
          type: string
          example: '360430337'
        product:
          type: object
          properties:
            id:
              type: integer
              example: 19059423
              default: 0
            name:
              type: string
              example: Casablanca
    ProductListItem:
      type: object
      properties:
        Location_idx:
          type: array
          items:
            type: integer
            example: 0
            default: 0
        Product:
          $ref: '#/components/schemas/Product'
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1597310
          default: 0
        display_name:
          type: string
          example: John S.
        slug:
          type: string
          example: john-s--1103
        social_image:
          type: string
          example: https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png
        is_social_connected:
          type: boolean
          example: false
          default: true
        bio: { }
        score:
          type: integer
          example: 0
          default: 0
        badges:
          type: array
          items:
            $ref: '#/components/schemas/Badge'
    Review:
      type: object
      properties:
        id:
          type: integer
          example: 48264478
          default: 0
        title:
          type: string
          example: Perfect, great fit and quality
        content:
          type: string
          example: Perfect, great fit and quality fabric.
        score:
          type: integer
          example: 5
          default: 0
        votes_up:
          type: integer
          example: 0
          default: 0
        votes_down:
          type: integer
          example: 0
          default: 0
        user_type:
          type: string
          example: User
        user_vote:
          type: integer
          example: 0
          default: 0
        deleted:
          type: boolean
          example: false
          default: true
        new:
          type: boolean
          example: false
          default: true
        verified_buyer:
          type: boolean
          example: true
          default: true
        archived:
          type: boolean
          example: false
          default: true
        social_pushed:
          type: boolean
          example: false
          default: true
        facebook_pushed:
          type: integer
          example: 0
          default: 0
        twitter_pushed:
          type: integer
          example: 0
          default: 0
        created_at:
          type: string
          example: '2017-11-13T18:10:05.000Z'
        updated_at:
          type: string
          example: '2017-11-13T22:54:37.000Z'
        user_reference:
          type: string
          example: '5853381989'
        users:
          type: array
          items:
            type: object
        user:
          $ref: '#/components/schemas/User'
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductListItem'
        products_apps:
          type: array
          items:
            $ref: '#/components/schemas/ProductApp'
        account:
          $ref: '#/components/schemas/Account'
    Bottomline:
      type: object
      properties:
        total_reviews:
          type: integer
          example: 4328
          default: 0
        average_score:
          type: number
          example: 4.81
          default: 0
    ReviewSummary:
      type: object
      properties:
        id:
          type: integer
          example: 34789515
          default: 0
        title:
          type: string
          example: GREAT shirts
        content:
          type: string
          example: I now have several of these shirts and they are great. Great quality and look. My only minor complaint is that I have had one or two that have been SLIGHTLY on the small side. That said, their order process is easy and the product is great I will continue to buy most of my shirts from them.
        score:
          type: integer
          example: 4
          default: 0
        votes_up:
          type: integer
          example: 0
          default: 0
        votes_down:
          type: integer
          example: 0
          default: 0
        created_at:
          type: string
          example: '2016-12-27T14:43:58.000Z'
        updated_at:
          type: string
          example: '2017-04-13T18:56:19.000Z'
        sentiment:
          type: number
          example: 0.963555
          default: 0
        sku:
          type: string
          example: '1'
        name:
          type: string
          example: Robert S.
        email:
          type: string
          example: robsmith@email.com
        reviewer_type:
          type: string
          example: verified_buyer
        deleted:
          type: boolean
          example: false
          default: true
        user_reference: { }
security:
  - {}
paths:
  /reviews/dynamic_create:
    post:
      summary: Create review (synchronous)
      description: 'Note: This method is recommended for development only.'
      operationId: create-review-synchronous
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - appkey
                - sku
                - product_title
                - display_name
                - email
                - review_content
                - review_title
                - review_score
              properties:
                appkey:
                  type: string
                  description: The store ID
                domain:
                  type: string
                  description: The account domain
                sku:
                  type: string
                  description: The ID of the product on your site. This parameter supports alphanumeric (a...z, A...Z, 0...9), "_" and "-" characters.
                product_title:
                  type: string
                  description: The title of the product
                product_description:
                  type: string
                  description: The description of the product
                product_url:
                  type: string
                  description: The url of the product on your ecommerce site
                product_image_url:
                  type: string
                  description: The url of the product image
                display_name:
                  type: string
                  description: The name of the reviewer
                email:
                  type: string
                  description: The email of the reviewer
                is_incentivized:
                  type: boolean
                  description: Indicates if the review comes from an incentivized source (for example, a product sampling company)
                review_content:
                  type: string
                  description: The content of the review
                review_title:
                  type: string
                  description: The title of the review
                review_score:
                  type: string
                  description: The review score
                signature:
                  type: string
                  description: Relevant only for customers using the Trusted Vendors feature. The signature is the hexadecimal representation of a computed Hash-based Message Authentication Code, using SHA256 as the cryptographic function (HMAC-SHA256). The secret for the function is the account secret.
                time_stamp:
                  type: string
                  description: Required for customers using the Trusted Vendors feature. Unix timestamp.
                submission_time_stamp:
                  type: string
                  description: Relevant only for customers using the Trusted Vendors feature. The date the review was created (if not today). Can be up to 7 days in the past. If you want to add a creation date that is more than 7 days in the past, please contact support
                reviewer_type:
                  type: string
                  description: 'Required for customers using the Trusted Vendors feature. Possible values: `verified_buyer` or `verified_reviewer`'
                delivery_type:
                  type: string
                  description: The type of delivery designated for this purchase e.g. express, expedited, standard
                user_reference:
                  type: string
                  description: External user id, can be used later on to retrieve reviews associated with this user
                image_urls:
                  type: array
                  description: The URLs of images associated with the review. You can upload up to 5 images per review.
                  items:
                    type: string
                order_metadata:
                  properties:
                    coupon_used:
                      type: boolean
                      description: Part of `order_metadata`, indicates whether a coupon was used at purchase
                    name:
                      type: string
                      description: The name of an order-related custom property e.g. order history
                    value:
                      type: string
                      description: The order-related `custom_properties` value
                  type: object
                product_metadata:
                  properties:
                    color:
                      type: string
                      description: The color of the item
                    size:
                      type: string
                      description: The size of the item
                    material:
                      type: string
                      description: The material the product is made of
                    model:
                      type: string
                      description: The model name of the product
                    vendor:
                      type: string
                      description: The product vendor
                    coupon_used:
                      type: string
                      description: Whether a coupon was used for this product
                    custom_properties:
                      properties:
                        name:
                          type: string
                          description: The name of a product-related custom property
                        value:
                          type: string
                          description: The value associated with a product-related custom property
                      type: object
                  type: object
                customer_metadata:
                  properties:
                    state:
                      type: string
                      description: The state the customer is located in
                    country:
                      type: string
                      description: 'Two-letter uppercase country code indicating the customer country. To comply with Google Seller Ratings conventions, the country code value must be from [this list](https://datahub.io/core/country-list) of compatible codes. Default value: `US`.'
                    address:
                      type: string
                      description: The customer's address
                    phone_number:
                      type: string
                      description: The customer's phone number
                    custom_properties:
                      properties:
                        name:
                          type: string
                          description: The name of the customer-related custom property
                        value:
                          type: string
                          description: The value of the customer-related custom property
                      type: object
                  type: object
            examples:
              Review:
                value:
                  appkey: '### YOUR APP_KEY HERE###'
                  domain: http://www.shop.com
                  sku: '10'
                  product_title: Phone
                  product_description: Smart Phone
                  product_url: http://www.shop.com/phone.html
                  product_image_url: http://www.shop.com/phone.jpg
                  display_name: John Smith
                  email: john@shop.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: Great Phone
                  review_score: 5
                  signature: F9GJ3PbthaNLVImLB0Sk9PoAT6hZFzborCnkIWiE
                  time_stamp: '1415107190'
                  reviewer_type: verified_buyer
                  image_urls:
                    - https://i.imgur.com/FtFkDF1.jepg
                    - https://cnn.com/image/2.jpg
              Review + Metadata:
                value:
                  appkey: GByQO9d6Z9W0pBOQan3RPoxOO7rFhyXOFnRA3xGA
                  domain: http://www.theshirtstore.com
                  sku: '10'
                  product_title: Plain T-Shirt
                  product_description: A plain T-shirt
                  product_url: http://www.theshirtstore.com/tshirt.html
                  product_image_url: http://www.thetshirtstore.com/shirt.jpg
                  display_name: John Smith
                  email: shopper@email.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: My favorite tshirt
                  review_score: 5
                  signature: F8GJ3PbthaMLVImLB0Sk8PoAT6hZFzborCnkIWiF
                  time_stamp: '1415107190'
                  reviewer_type: verified_buyer
                  order_metadata:
                    coupon_used: 'true'
                    delivery_type: Express
                    custom_properties:
                      - name: order_history
                        value: '5'
                  product_metadata:
                    color: black
                    size: large
                    material: cotton
                    model: soho
                    vendor: the shirt store
                    coupon_used: 'true'
                    custom_properties:
                      - name: event_type
                        value: birthday
                      - name: shirt_name
                        value: Alfonzo
                  customer_metadata:
                    state: California
                    country: US
                    address: 144 Daisyfield Drive
                    phone_number: '111111111111'
                    custom_properties:
                      - name: membership_type
                        value: annual
              Review  + Custom Questions:
                value:
                  appkey: 8tjDdNxdRYkwPgS4ISrLjOh4LBBrpGM3rFunqZAk
                  domain: http://my-store.myshopify.com
                  sku: '10'
                  product_title: Black T-Shirt
                  product_description: A very nice T-Shirt made with 100% cotton
                  product_url: https://my-store.myshopify.com/products/Black T-Shirt
                  display_name: Johni Smith
                  email: john@doe.com
                  is_incentivized: true
                  review_content: I love this shirt
                  review_title: I love T-Shirts
                  review_score: 5
                  custom_fields:
                    '--94251':
                      - Skiing
                      - Snowboarding
                      - Hiking
                      - Running
              Trusted Vendor:
                value:
                  appkey: PGIkyrrTBQ0VtQOn8rPpedQEEdBIL7vtr9Cu4LvA
                  domain: http://www.shop.com
                  sku: '10'
                  product_title: Phone
                  product_description: Smart Phone
                  product_url: http://www.shop.com/phone.html
                  product_image_url: http://www.shop.com/phone.jpg
                  display_name: John Smith
                  email: john@shop.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: Great Phone
                  review_score: 5
                  signature: The SHA256 or HMAC signature goes here
                  time_stamp: '1426770722'
                  reviewer_type: verified_buyer
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                        "status": {
                            "code": 200,
                            "message": "OK"
                        },
                        "response": {
                            "reviews": [
                                {
                                    "id": 2557878,
                                    "content": "It&#x27;s really good",
                                    "title": "Great Phone",
                                    "score": 5,
                                    "user": {
                                        "id": 1597310,
                                        "display_name": "John S.",
                                        "slug": "john-s--1103",
                                        "social_image": "https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png",
                                        "is_social_connected": false,
                                        "bio": null,
                                        "score": 0,
                                        "badges": []
                                    },
                                    "user_type": "User",
                                    "users": [],
                                    "products": [
                                        {
                                            "Location_idx": [
                                                0,
                                                0
                                            ],
                                            "Product": {
                                                "product_url": "http:///www.shop.com/phone.html",
                                                "id": 3512850,
                                                "name": "Phone",
                                                "slug": "phone--4",
                                                "shorten_url": "https://yotpo.com/go/vqGhdhtG",
                                                "images": [],
                                                "social_network_links": {
                                                    "facebook": "https://yotpo.com/go/3uw3JT3N",
                                                    "twitter": "https://yotpo.com/go/lwQUYeb2",
                                                    "linkedin": "https://yotpo.com/go/4IZQlBAg",
                                                    "google_oauth2": "https://yotpo.com/go/9tYsZMej"
                                                },
                                                "facebook_testemonials_page_product_url": "https://yotpo.com/go/ztcfKvZl"
                                            }
                                        }
                                    ],
                                    "votes_up": 0,
                                    "votes_down": 0,
                                    "user_vote": 0,
                                    "created_at": "2014-12-10T15:03:16Z",
                                    "deleted": false,
                                    "new": true,
                                    "verified_buyer": true,
                                    "archived": false,
                                    "social_pushed": false,
                                    "facebook_pushed": 0,
                                    "twitter_pushed": 0,
                                    "account": {
                                        "id": 15906,
                                        "domain": " http://www.shop.com",
                                        "map_image": {
                                            "id": 3371260,
                                            "image_url": "http://d2zookpajyck3d.cloudfront.net/Account/75365/3371260/thumb.png?1418043528",
                                            "big_image_url": "http://d2zookpajyck3d.cloudfront.net/Account/75365/3371260/big.png?1418043528",
                                            "image_content_type": "image/png",
                                            "image_width": 165,
                                            "image_height": 144,
                                            "imageable_type": "Account",
                                            "imageable_id": 75365
                                        },
                                        "comments_avatar": {
                                            "id": 3371711,
                                            "image_url": "http://d2zookpajyck3d.cloudfront.net/Account/75365/3371711/thumb.jpg?1418201566",
                                            "big_image_url": "http://d2zookpajyck3d.cloudfront.net/Account/75365/3371711/big.jpg?1418201566",
                                            "image_content_type": "image/jpeg",
                                            "image_width": 857,
                                            "image_height": 805,
                                            "imageable_type": "Account",
                                            "imageable_id": 75365
                                        },
                                        "comments_display_name": "Eli Belly"
                                    },
                                    "products_apps": [
                                        {
                                            "id": 3443620,
                                            "product_url": "http:///www.shop.com/phone.html",
                                            "domain_key": "10",
                                            "product": {
                                                "id": 3512850,
                                                "name": "Phone"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      reviews:
                        type: array
                        items:
                          $ref: '#/components/schemas/Review'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
  /oauth/token:
    post:
      summary: Yotpo authentication
      description: |-
        This endpoint uses your Yotpo API Key and API Secret to generate the API `utoken` necessary to authenticate most of Yotpo's API calls. 

        To find your API key and API secret, see <a href="https://support.yotpo.com/en/article/finding-your-app-key-and-your-secret-key" target="_blank">this article</a>.
      operationId: yotpo-authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - grant_type
              properties:
                client_id:
                  type: string
                  description: Also referred to as app key or Store ID
                client_secret:
                  type: string
                  description: Also referred to as API secret
                grant_type:
                  type: string
                  description: Must be `client_credentials`
                  default: client_credentials
            examples:
              JSON:
                value:
                  client_id: YOUR client_id
                  client_secret: YOUR client_secret
                  grant_type: client_credentials
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "access_token": "YOUR_UTOKEN",
                      "token_type": "bearer"
                    }
                Invalid Grant Type:
                  value: |-
                    {
                      "error": "unsupported_grant_type"
                    }
                Invalid Client:
                  value: |-
                    {
                        "error": "invalid_client"
                    }
              schema:
                oneOf:
                  - type: object
                    properties:
                      access_token:
                        type: string
                        example: YOUR_UTOKEN
                      token_type:
                        type: string
                        example: bearer
                  - title: Invalid Grant Type
                    type: object
                    properties:
                      error:
                        type: string
                        example: unsupported_grant_type
                  - title: Invalid Client
                    type: object
                    properties:
                      error:
                        type: string
                        example: invalid_client
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": {
                            "message": "Couldn't find Account with app_key = ",
                            "code": 404,
                            "error_type": "Exceptions::RecordNotFound"
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Couldn''t find Account with app_key = '
                      code:
                        type: integer
                        example: 404
                        default: 0
                      error_type:
                        type: string
                        example: Exceptions::RecordNotFound
      deprecated: false
      security: []
  /apps/{app_key}/subomain_check/{subdomain}:
    get:
      summary: Find if your yotpo.me Subdomain is available
      description: ''
      operationId: find-if-the-xxxxyotpome-subdomain-is-valid
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: subdomain
          in: path
          description: The name of the subdomain you wish to verify.
          required: true
          schema:
            type: string
        - name: utoken
          in: query
          description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {"status" : {
                        "code" : 200,
                        "message" : "OK"
                      },
                      "response" : {
                        "subdomain" : {
                          "available" : "true",
                          "subdomain" : "MySite"
                        }
                      }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      subdomain:
                        type: object
                        properties:
                          available:
                            type: string
                            example: 'true'
                          subdomain:
                            type: string
                            example: MySite
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: GET https://api.yotpo.com/apps/YOUR_APP_KEY/subomain_check/MySite/?utoken=YOUR_UTOKEN
        samples-languages:
          - http
  /products/{app_key}/{product_id}/bottomline:
    get:
      summary: Retrieve bottom line (total reviews and average score) for a specific product
      description: ''
      operationId: get-bottom-line-total-reviews-and-average-score
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: product_id
          in: path
          description: The ID of the product on your site
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                       "status":{
                          "code":200,
                          "message":"OK"
                       },
                       "response":{
                          "bottomline":{
                             "average_score":4.52,
                             "total_reviews":23
                          }
                       }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      bottomline:
                        type: object
                        properties:
                          average_score:
                            type: number
                            example: 4.52
                            default: 0
                          total_reviews:
                            type: integer
                            example: 23
                            default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: GET https://api.yotpo.com/products/YOUR_APP_KEY/product_id/bottomline
        samples-languages:
          - http
  /apps/:app_key/unsubscribers/mass_create:
    post:
      summary: Remove a set of email addresses from email distribution lists
      description: ''
      operationId: remove-a-set-of-email-addresses-from-email-distrib
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - utoken
              properties:
                utoken:
                  type: string
                  description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
                email_list:
                  properties:
                    email_type:
                      properties:
                        email:
                          type: array
                          description: Email address
                          items:
                            type: string
                      description: Email type
                      required:
                        - email
                      type: object
                  type: object
                async:
                  type: boolean
                  description: Perform subscription changes asynchronously.
                validate_data:
                  type: boolean
                  description: Validate the email_list. You can only use this parameter with async.
            examples:
              HTTP+JSON:
                value:
                  utoken: '### YOUR UTOKEN HERE ###'
                  email_list:
                    '1':
                      - test@gmail.com
                      - test2@gmail.com
                      - test4@gmail.com
                    '3':
                      - test@gmail.com
                      - test2@gmail.com
                      - test4@gmail.com
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Default output:
                  value: |
                    {
                      "status": {
                        "code": 200,
                        "message": "OK"
                      },
                      "response": {
                        "unsubscribers": [
                          {
                            "id": 105158,
                            "user_email": "test@gmail.com",
                            "email_type_id": 1,
                            "unsubscribed_by_name": "MODERATOR"
                          },
                          {
                            "id": 105159,
                            "user_email": "test2@gmail.com",
                            "email_type_id": 1,
                            "unsubscribed_by_name": "MODERATOR"
                          },
                          {
                            "id": 105160,
                            "user_email": "test4@gmail.com",
                            "email_type_id": 1,
                            "unsubscribed_by_name": "MODERATOR"
                          },
                          {
                            "id": 105161,
                            "user_email": "test@gmail.com",
                            "email_type_id": 3,
                            "unsubscribed_by_name": "MODERATOR"
                          },
                          {
                            "id": 105162,
                            "user_email": "test2@gmail.com",
                            "email_type_id": 3,
                            "unsubscribed_by_name": "MODERATOR"
                          },
                          {
                            "id": 105163,
                            "user_email": "test4@gmail.com",
                            "email_type_id": 3,
                            "unsubscribed_by_name": "MODERATOR"
                          }
                        ]
                      }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      unsubscribers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 105158
                              default: 0
                            user_email:
                              type: string
                              example: test@gmail.com
                            email_type_id:
                              type: integer
                              example: 1
                              default: 0
                            unsubscribed_by_name:
                              type: string
                              example: MODERATOR
            text/plain:
              examples:
                Output with async parameter:
                  value: |-
                    {
                      "status": {
                        "code": 200,
                        "message": "OK"
                      }
                    }
                Output with async and validate_data parameters:
                  value: |-
                    {
                      "status": {
                        "code": 200,
                        "message": "OK"
                      },
                      "errors": [
                        {
                          "value": "14",
                          "error": "email type ID is not valid"
                        },
                        {
                          "value": "invalid-email-1",
                          "error": "email is not valid"
                        },
                        {
                          "value": "invalid-email-2",
                          "error": "email is not valid"
                        }
                      ]
                    }
              schema:
                oneOf:
                  - title: Output with async parameter
                    type: object
                    properties:
                      status:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: 200
                            default: 0
                          message:
                            type: string
                            example: OK
                  - title: Output with async and validate_data parameters
                    type: object
                    properties:
                      status:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: 200
                            default: 0
                          message:
                            type: string
                            example: OK
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            value:
                              type: string
                              example: '14'
                            error:
                              type: string
                              example: email type ID is not valid
        '401':
          description: '401'
          content:
            application/json:
              examples:
                The feature is disabled:
                  value: |-
                    {
                        "status": {
                            "message": "Feature is disabled MapBlackList",
                            "code": 401,
                            "error_type": "Exceptions::FeatureDisabled"
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Feature is disabled MapBlackList
                      code:
                        type: integer
                        example: 401
                        default: 0
                      error_type:
                        type: string
                        example: Exceptions::FeatureDisabled
      deprecated: false
  /products/{app_key}/yotpo_global_reviews/reviews.json:
    get:
      summary: Retrieve reviews for a user using external user reference ID
      description: This endpoint requires a Yotpo premium plan.
      operationId: retrieve-reviews-for-a-specific-user
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: user_reference
          in: query
          description: External User ID for which to return the reviews.
          required: true
          schema:
            type: string
        - name: since_id
          in: query
          description: Minimum ID of the returned reviews
          schema:
            type: string
        - name: since_date
          in: query
          description: Earliest creation date of returned reviews
          schema:
            type: string
            format: date
        - name: since_updated_at
          in: query
          description: Earliest update date of returned reviews
          schema:
            type: string
            format: date
        - name: count
          in: query
          description: Number of reviews to return
          schema:
            type: string
        - name: page
          in: query
          description: Page number to return reviews for
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": {
                            "code": 200,
                            "message": "OK"
                        },
                        "response": {
                            "bottomline": {
                                "total_reviews": 4328,
                                "average_score": 4.81
                            },
                            "reviews": [
                                {
                                    "id": 48264478,
                                    "title": "Perfect, great fit and quality",
                                    "content": "Perfect, great fit and quality fabric.",
                                    "score": 5,
                                    "votes_up": 0,
                                    "votes_down": 0,
                                    "user_type": "User",
                                    "user_vote": 0,
                                    "deleted": false,
                                    "new": false,
                                    "verified_buyer": true,
                                    "archived": false,
                                    "social_pushed": false,
                                    "facebook_pushed": 0,
                                    "twitter_pushed": 0,
                                    "created_at": "2017-11-13T18:10:05.000Z",
                                    "updated_at": "2017-11-13T22:54:37.000Z",
                                    "user_reference": "5853381989",
                                    "users": [],
                                    "user": {
                                        "id": 14220530,
                                        "display_name": "Laura S.",
                                        "slug": "laura-s-14188339604672942810",
                                        "social_image": "https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png",
                                        "is_social_connected": false,
                                        "bio": null,
                                        "score": 0,
                                        "badges": []
                                    },
                                    "products": [
                                        {
                                            "Location_idx": [
                                                0,
                                                0
                                            ],
                                            "Product": {
                                                "id": 19059423,
                                                "name": "Casablanca",
                                                "slug": "casablanca--15026822254372427",
                                                "product_url": "http://www.shirtstore.com/products/casablanca-1",
                                                "shorten_url": "https://yotpo.com/go/zdYLqwyf",
                                                "images": [
                                                    {
                                                        "id": 14088727,
                                                        "image_url": "https://ddcfq0gxiontw.cloudfront.net/Product/19059423/14088727/square.jpg?1512208919",
                                                        "big_image_url": "https://ddcfq0gxiontw.cloudfront.net/Product/19059423/14088727/big.jpg?1512208919"
                                                    }
                                                ],
                                                "social_network_links": {
                                                    "facebook": "https://yotpo.com/go/9rE7vkSV",
                                                    "twitter": "https://yotpo.com/go/b8DLD0se",
                                                    "linkedin": "https://yotpo.com/go/xPuuMNQn",
                                                    "google_oauth2": "https://yotpo.com/go/6eiPnlxP"
                                                },
                                                "facebook_testemonials_page_product_url": "https://yotpo.com/go/unavuR5y"
                                            }
                                        }
                                    ],
                                    "products_apps": {
                                        "id": 18880628,
                                        "product_url": "http://www.shirtstore.com/products/casablanca-1",
                                        "domain_key": "360430337",
                                        "product": {
                                            "id": 19059423,
                                            "name": "Casablanca"
                                        }
                                    },
                                    "account": {
                                        "id": 187091,
                                        "domain": "http://www.shirtstore.com",
                                        "map_image": {
                                            "id": 13577180,
                                            "image_url": "https://ddcfq0gxiomtw.cloudfront.net/Account/187091/13577180/thumb.?1486410867",
                                            "big_image_url": "https://ddcfq0gxiomtw.cloudfront.net/Account/187091/13577180/big.?1486410867",
                                            "image_content_type": "image/png",
                                            "image_width": 2550,
                                            "image_height": 409
                                        }
                                    }
                                }
                            ]
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      bottomline:
                        $ref: '#/components/schemas/Bottomline'
                      reviews:
                        type: array
                        items:
                          $ref: '#/components/schemas/Review'
        '400':
          description: '400'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /apps/:app_key/unsubscribers/mass_delete:
    delete:
      summary: Re-add email addresses to email distribution lists
      description: Re-adds email addresses to your mailing list that you added to your Yotpo email blocklist. Customers who organically unsubscribed from your mailing list will not be re-added.
      operationId: re-add-email-addresses-to-email-distribution-lists
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - utoken
              properties:
                utoken:
                  type: string
                  description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
                email_list:
                  properties:
                    email_type:
                      properties:
                        email:
                          type: array
                          description: Email address
                          items:
                            type: string
                      description: Email type
                      required:
                        - email
                      type: object
                  type: object
                  description: Hash of emails by email type containing email type and list of emails.
                async:
                  type: boolean
                  description: Perform subscription changes asynchronously.
                validate_data:
                  type: string
                  description: Validate the email_list. You can only use this parameter with async.
            examples:
              HTTP+JSON:
                value:
                  utoken: '### YOUR UTOKEN HERE ###'
                  email_list:
                    '1':
                      - test@gmail.com
                      - test2@gmail.com
                      - test4@gmail.com
                    '3':
                      - test@gmail.com
                      - test2@gmail.com
                      - test4@gmail.com
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Default output:
                  value: |
                    {
                      "status": {
                        "code": 200,
                        "message": "OK"
                      },
                      "response": {
                        "unsubscribers": [
                          {
                            "id": 18637,
                            "user_email": "test@gmail.com",
                            "email_type_id": 1,
                            "unsubscribed_by_name": "USER"
                          },
                          {
                            "id": 18638,
                            "user_email": "test2@gmail.com",
                            "email_type_id": 1,
                            "unsubscribed_by_name": "USER"
                          },
                          {
                            "id": 18639,
                            "user_email": "test4@gmail.com",
                            "email_type_id": 1,
                            "unsubscribed_by_name": "USER"
                          },
                          {
                            "id": 18640,
                            "user_email": "test@gmail.com",
                            "email_type_id": 3,
                            "unsubscribed_by_name": "USER"
                          },
                          {
                            "id": 18641,
                            "user_email": "test2@gmail.com",
                            "email_type_id": 3,
                            "unsubscribed_by_name": "USER"
                          },
                          {
                            "id": 18642,
                            "user_email": "test4@gmail.com",
                            "email_type_id": 3,
                            "unsubscribed_by_name": "USER"
                          }

                        ]  }}
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      unsubscribers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 18637
                              default: 0
                            user_email:
                              type: string
                              example: test@gmail.com
                            email_type_id:
                              type: integer
                              example: 1
                              default: 0
                            unsubscribed_by_name:
                              type: string
                              example: USER
            text/plain:
              examples:
                Output with async and validate_data parameters:
                  value: |-
                    {
                      "status": {
                        "code": 200,
                        "message": "OK"
                      },
                      "errors": [
                        {
                          "value": "14",
                          "error": "email type ID is not valid"
                        },
                        {
                          "value": "invalid-email-1",
                          "error": "email is not valid"
                        },
                        {
                          "value": "invalid-email-2",
                          "error": "email is not valid"
                        }
                      ]
                    }
                Output with async parameter:
                  value: |-
                    {
                      "status": {
                        "code": 200,
                        "message": "OK"
                      }
                    }
              schema:
                oneOf:
                  - title: Output with async and validate_data parameters
                    type: object
                    properties:
                      status:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: 200
                            default: 0
                          message:
                            type: string
                            example: OK
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            value:
                              type: string
                              example: '14'
                            error:
                              type: string
                              example: email type ID is not valid
                  - title: Output with async parameter
                    type: object
                    properties:
                      status:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: 200
                            default: 0
                          message:
                            type: string
                            example: OK
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/apps/{app_key}/reviews:
    get:
      summary: Retrieve all reviews
      description: ''
      operationId: retrieve-all-reviews
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: utoken
          in: query
          description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
          required: true
          schema:
            type: string
        - name: since_id
          in: query
          description: Lowest ID of the returned reviews
          schema:
            type: string
        - name: since_date
          in: query
          description: Earliest creation date of returned reviews
          schema:
            type: string
            format: date
        - name: since_updated_at
          in: query
          description: Earliest update date of returned reviews
          schema:
            type: string
            format: date
        - name: count
          in: query
          description: Number of reviews to return
          schema:
            type: string
        - name: page
          in: query
          description: Page number to return reviews for
          schema:
            type: string
        - name: deleted
          in: query
          description: Include unpublished reviews
          schema:
            type: boolean
        - name: user_reference
          in: query
          description: Filter by user reference
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "reviews": [
                            {
                                "id": 34789515,
                                "title": "GREAT shirts",
                                "content": "I now have several of these shirts and they are great. Great quality and look. My only minor complaint is that I have had one or two that have been SLIGHTLY on the small side. That said, their order process is easy and the product is great I will continue to buy most of my shirts from them.",
                                "score": 4,
                                "votes_up": 0,
                                "votes_down": 0,
                                "created_at": "2016-12-27T14:43:58.000Z",
                                "updated_at": "2017-04-13T18:56:19.000Z",
                                "sentiment": 0.963555,
                                "sku": "1",
                                "name": "Robert S.",
                                "email": "robsmith@email.com",
                                "reviewer_type": "verified_buyer",
                                "deleted": false,
                                "user_reference": null
                            },
                            {
                                "id": 34950796,
                                "title": "Very Good Shirts",
                                "content": "These shirts fit well and are excellent quality. Need more non-iron and buttoned down choices.",
                                "score": 4,
                                "votes_up": 0,
                                "votes_down": 0,
                                "created_at": "2016-12-27T15:12:44.000Z",
                                "updated_at": "2017-06-14T20:10:40.000Z",
                                "sentiment": 0.981573,
                                "sku": "1",
                                "name": "Giorgio A.",
                                "email": "garmani@email.com",
                                "reviewer_type": "verified_buyer",
                                "deleted": false,
                                "user_reference": null
                            },
                            {
                                "id": 34768928,
                                "title": "Great shirts!",
                                "content": "All four shirts I have purchsed are the perfect fit for me, and customer service is excellent. Can&#x27;t that beat that combination!",
                                "score": 4,
                                "votes_up": 0,
                                "votes_down": 0,
                                "created_at": "2016-12-27T15:56:45.000Z",
                                "updated_at": "2017-04-13T19:23:01.000Z",
                                "sentiment": 0.99147,
                                "sku": "1",
                                "name": "David M.",
                                "email": "davidmancuso@loft.com",
                                "reviewer_type": "verified_buyer",
                                "deleted": false,
                                "user_reference": null
                            },
                            {
                                "id": 34878412,
                                "title": "Great fabric and fit",
                                "content": "Very pleased with the fit of all of the products that I brought a total of three shirts",
                                "score": 4,
                                "votes_up": 0,
                                "votes_down": 0,
                                "created_at": "2016-12-29T23:19:16.000Z",
                                "updated_at": "2017-04-13T19:26:13.000Z",
                                "sentiment": 0.98101,
                                "sku": "1",
                                "name": "Frankie K.",
                                "email": "knuckles@warehouse.com",
                                "reviewer_type": "verified_buyer",
                                "deleted": false,
                                "user_reference": null
                            }
                        ]
                    }
              schema:
                type: object
                properties:
                  reviews:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReviewSummary'
        '400':
          description: '400'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      security: []
  /products/{app_key}/{sku}/qna_bottomline:
    get:
      summary: Retrieve the bottom line for Q&A
      description: Retrieve the Bottom Line for a given product using the product SKU number. The Bottom Line will return the total questions and total answers for the desired product.
      operationId: retrieve-the-bottom-line-for-questions-and-answers
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: sku
          in: path
          description: The ID of the product on your site
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       status:{  
                          code:200,
                          message:"OK"
                       },
                       response:{  
                          total_questions:7,
                          total_answers:9
                       }
                    }
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Feature not enabled:
                  value: |-
                    {
                        "status": {
                            "message": "Feature is disabled questions_and_answers",
                            "code": 401,
                            "error_type": "Exceptions::FeatureDisabled"
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Feature is disabled questions_and_answers
                      code:
                        type: integer
                        example: 401
                        default: 0
                      error_type:
                        type: string
                        example: Exceptions::FeatureDisabled
      deprecated: false
      security: []
      x-readme:
        code-samples:
          - language: http
            code: GET https://api.yotpo.com/products/YOUR_APP_KEY/1234/qna_bottomline
        samples-languages:
          - http
  /products/{app_key}/{sku}/questions:
    get:
      summary: Retrieve Q&A for a product
      description: Retrieve Questions and Answers for a given product using the product SKU number.
      operationId: retrieve-questions-and-answers-for-a-product
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: sku
          in: path
          description: The unique ID of the product on your site (does not have to be the SKU)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |2-
                      {
                        "status": {
                            "code": 200,
                            "message": "OK"
                        },
                        "response": {
                            "total_questions": 2,
                            "total_answers": 2,
                            "questions": [
                                {
                                    "id": 4682,
                                    "content": "Can I use the camera with gloves?",
                                    "asker": {
                                        "id": 1009196,
                                        "display_name": "john carter",
                                        "slug": "john-carter",
                                        "social_image": "https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png",
                                        "is_social_connected": false,
                                        "bio": null,
                                        "score": 0,
                                        "badges": []
                                    },
                                    "user_type": "User",
                                    "created_at": "2014-07-01T14:30:01.173Z",
                                    "sorted_public_answers": [
                                        {
                                            "id": 15421,
                                            "content": "You can, as long as they are not too thick",
                                            "store_owner_comment": true,
                                            "answerer": {
                                                "id": 1002730,
                                                "display_name": "David davidson",
                                                "slug": "vladi-testing",
                                                "social_image": null,
                                                "is_social_connected": false,
                                                "bio": null,
                                                "score": 16,
                                                "badges": [
                                                    {
                                                        "id": 1,
                                                        "name": "Newbie",
                                                        "description": "Hooray, you wrote your first review with Yotpo! Now you have this cool profile page, and you can earn Yotpo score and have even more badges.",
                                                        "image_100": "http://s3.amazonaws.com/yotpo-static-images/badges/100/1.png",
                                                        "image_300": "http://s3.amazonaws.com/yotpo-static-images/badges/300/1.png"
                                                    }
                                                ]
                                            },
                                            "votes_up": 0,
                                            "votes_down": 1,
                                            "created_at": "2014-07-01T14:30:58.673Z"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      total_questions:
                        type: integer
                        example: 2
                        default: 0
                      total_answers:
                        type: integer
                        example: 2
                        default: 0
                      questions:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 4682
                              default: 0
                            content:
                              type: string
                              example: Can I use the camera with gloves?
                            asker:
                              $ref: '#/components/schemas/User'
                            user_type:
                              type: string
                              example: User
                            created_at:
                              type: string
                              example: '2014-07-01T14:30:01.173Z'
                            sorted_public_answers:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    example: 15421
                                    default: 0
                                  content:
                                    type: string
                                    example: You can, as long as they are not too thick
                                  store_owner_comment:
                                    type: boolean
                                    example: true
                                    default: true
                                  answerer:
                                    $ref: '#/components/schemas/User'
                                  votes_up:
                                    type: integer
                                    example: 0
                                    default: 0
                                  votes_down:
                                    type: integer
                                    example: 1
                                    default: 0
                                  created_at:
                                    type: string
                                    example: '2014-07-01T14:30:58.673Z'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Feature not enabled:
                  value: |-
                    {
                        "status": {
                            "message": "Feature is disabled questions_and_answers",
                            "code": 401,
                            "error_type": "Exceptions::FeatureDisabled"
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Feature is disabled questions_and_answers
                      code:
                        type: integer
                        example: 401
                        default: 0
                      error_type:
                        type: string
                        example: Exceptions::FeatureDisabled
        '404':
          description: '404'
          content:
            text/plain:
              examples:
                Incorrect app_key:
                  value: |-
                    {
                        "status": {
                            "message": "Couldn't find Account with app_key = PdFT1iSNcIZr5EOmLUeDZvZV1Wx3mLa",
                            "code": 404,
                            "error_type": "Exceptions::RecordNotFound"
                        }
                    }
                Incorrect sku:
                  value: |-
                    {
                        "status": {
                            "message": "Couldn't find ProductsApp with domain_key = 20122",
                            "code": 404,
                            "error_type": "Exceptions::RecordNotFound"
                        }
                    }
              schema:
                oneOf:
                  - title: Incorrect app_key
                    type: object
                    properties:
                      status:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Couldn't find Account with app_key = PdFT1iSNcIZr5EOmLUeDZvZV1Wx3mLa
                          code:
                            type: integer
                            example: 404
                            default: 0
                          error_type:
                            type: string
                            example: Exceptions::RecordNotFound
                  - title: Incorrect sku
                    type: object
                    properties:
                      status:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Couldn't find ProductsApp with domain_key = 20122
                          code:
                            type: integer
                            example: 404
                            default: 0
                          error_type:
                            type: string
                            example: Exceptions::RecordNotFound
      deprecated: false
      security: []
      x-readme:
        code-samples:
          - language: http
            code: GET https://api.yotpo.com/products/YOUR_APP_KEY/1234/questions
        samples-languages:
          - http
  /apps/{app_key}/unsubscribers:
    get:
      summary: Retrieve a list of unsubscribers
      description: ''
      operationId: retrieve-a-list-of-unsubscribers
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: utoken
          in: query
          description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
          required: true
          schema:
            type: string
        - name: count
          in: query
          description: Number of unsubscribers to return
          schema:
            type: string
        - name: page
          in: query
          description: Page number to return unsubscribers for
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": {
                            "code": 200,
                            "message": "OK"
                        },
                        "response": {
                            "unsubscribers": [
                                {
                                    "id": 2038,
                                    "user_email": "test@gmail.com",
                                    "email_type_id": 1,
                                    "unsubscribed_by_name": "USER"
                                },
                                {
                                    "id": 2226,
                                    "user_email": "test2@gmail.com",
                                    "email_type_id": 1,
                                    "unsubscribed_by_name": "USER"
                                },
                                {
                                    "id": 2732,
                                    "user_email": "test3@gmail.com",
                                    "email_type_id": 1,
                                    "unsubscribed_by_name": "USER"
                                },
                                {
                                    "id": 2912,
                                    "user_email": "test4@gmail.com",
                                    "email_type_id": 1,
                                    "unsubscribed_by_name": "USER"
                                }
                            ]
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      unsubscribers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2038
                              default: 0
                            user_email:
                              type: string
                              example: test@gmail.com
                            email_type_id:
                              type: integer
                              example: 1
                              default: 0
                            unsubscribed_by_name:
                              type: string
                              example: USER
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: GET https://api.yotpo.com/apps/YOUR_APP_KEY/unsubscribers?utoken=YOUR_UTOKEN
        samples-languages:
          - http
  /apps/{app_key}/coupons/unique/stats:
    get:
      summary: Retrieve dynamic coupon code statistics
      description: ''
      operationId: retrieve-unique-code-statistics
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: utoken
          in: query
          description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status": {
                          "code": 200
                          "message": "OK"
                      }
                      "response": {
                          "stats": {
                              "map_review": 17,
                              "map_review_share": 1002
                          }
                      }
                    }
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /apps/:app_key/coupons/unique/delete:
    post:
      summary: Delete a dynamic coupon action's codes
      description: ''
      operationId: delete-a-coupon-action
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - utoken
                - coupon_action
              properties:
                utoken:
                  type: string
                  description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
                coupon_action:
                  type: string
                  description: Which review request mail to apply the coupon to.
            examples:
              HTTP + JSON:
                value:
                  utoken: YOUR_UTOKEN
                  coupon_action: map_review
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "status": {
                           "code": 200
                           "message": "OK"
                       }
                    }
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /apps/:app_key/coupons/unique:
    post:
      summary: Upload dynamic coupon codes
      description: ''
      operationId: upload-unique-coupon-codes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - utoken
                - coupon_action
                - codes
              properties:
                utoken:
                  type: string
                  description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
                coupon_action:
                  type: string
                  description: Which review request mail to apply the coupon to.
                codes:
                  type: string
                  description: Array of dynamic coupon codes
            examples:
              HTTP+JSON:
                value:
                  utoken: YOUR_UTOKEN
                  coupon_action: map_review
                  codes:
                    - sdfj789klvd
                    - sdfsfd1313jkl
                    - mkklwlwer43qkjl
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status: {
                          "code": 200
                          "message": "OK"
                      }
                      "response": {
                          "total_codes": 20
                          "errors": {
                              "empty_cell": {
                                   "error_text": "Empty cells",
                                   "error_count": 0
                          }
                               "code_length": {
                                   "error_text": "Max/Min code digit requirements",
                                   "error_count": 0
                          }
                               "duplicate_code": {
                                   "error_text": "Duplicated content",
                                   "error_count": 0
                          },
                          "new-codes": 3
                       }
                    }
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /apps/{app_key}/coupons/unique:
    get:
      summary: Retrieve all dynamic coupon codes
      description: ''
      operationId: retrieve-all-unique-coupon-codes
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: utoken
          in: query
          description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status": {
                          "code": 200
                          "message": "OK"
                      },
                      "response": {
                          "coupons": {
                            {
                                  "code": "couponNum0"
                            },
                            {
                                  "code": "couponNum1"
                            },
                            {
                                  "code": "couponNum10" 
                            },
                            {
                                  "code": "couponNum100"
                            },
                            {
                                  "code": "couponNum1000"
                            },
                            {
                                  "code": "couponNum101"
                            },
                            {
                                  "code": "couponNum102"
                            },
                            {
                                  "code": "couponNum103"
                            },
                            {
                                  "code": "couponNum104"
                            },
                            {
                                  "code": "couponNum105"
                            }
                      }
                    }
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: GET https://api.yotpo.com/apps/YOUR_APP_KEY/coupons/unique?utoken=YOUR_UTOKEN
        samples-languages:
          - http
  /reviews/{review_id}/vote/{vote_type}:
    post:
      summary: Upvote or downvote reviews
      description: Vote up or down on whether a particular review is helpful by `review_id`.
      operationId: vote-on-reviews
      parameters:
        - name: review_id
          in: path
          description: The review id of the review you want to add vote to
          required: true
          schema:
            type: string
        - name: vote_type
          in: path
          description: Vote type - `up` or `down`. Each click brings vote count up or down by one.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                     "status": {
                       "code": 200,
                       "message": "OK"
                     },
                     "response": {
                       "vote": {
                         "id": 10
                       }
                     }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      vote:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 10
                            default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /questions/send_confirmation_mail:
    post:
      summary: Create question (with confirmation email)
      description: Create and send a Question which requires email confirmation.
      operationId: send-question-confirmation-mail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - review_content
                - display_name
                - email
                - appkey
                - sku
                - product_title
                - product_url
              properties:
                review_content:
                  type: string
                  description: The question the customer asks
                display_name:
                  type: string
                  description: The customer's name
                email:
                  type: string
                  description: The customer's email
                appkey:
                  type: string
                  description: The store ID
                sku:
                  type: string
[...]
