openapi: 3.0.0
info:
  title: API Settings
  version: '1.0'
servers:
  - url: https://api.yotpo.com
components:
  securitySchemes: {}
  schemas:
    Account:
      type: object
      properties:
        id:
          type: integer
          example: 15906
          default: 0
        domain:
          type: string
          example: ' http://www.shop.com'
        map_image:
          type: object
          properties:
            id:
              type: integer
              example: 3371260
              default: 0
            image_url:
              type: string
              example: http://d2zookpajyck3d.cloudfront.net/Account/75365/3371260/thumb.png?1418043528
            big_image_url:
              type: string
              example: http://d2zookpajyck3d.cloudfront.net/Account/75365/3371260/big.png?1418043528
            image_content_type:
              type: string
              example: image/png
            image_width:
              type: integer
              example: 165
              default: 0
            image_height:
              type: integer
              example: 144
              default: 0
            imageable_type:
              type: string
              example: Account
            imageable_id:
              type: integer
              example: 75365
              default: 0
        comments_avatar:
          type: object
          properties:
            id:
              type: integer
              example: 3371711
              default: 0
            image_url:
              type: string
              example: http://d2zookpajyck3d.cloudfront.net/Account/75365/3371711/thumb.jpg?1418201566
            big_image_url:
              type: string
              example: http://d2zookpajyck3d.cloudfront.net/Account/75365/3371711/big.jpg?1418201566
            image_content_type:
              type: string
              example: image/jpeg
            image_width:
              type: integer
              example: 857
              default: 0
            image_height:
              type: integer
              example: 805
              default: 0
            imageable_type:
              type: string
              example: Account
            imageable_id:
              type: integer
              example: 75365
              default: 0
        comments_display_name:
          type: string
          example: Eli Belly
    Product:
      type: object
      properties:
        id:
          type: integer
          example: 19059423
          default: 0
        name:
          type: string
          example: Casablanca
        slug:
          type: string
          example: casablanca--15026822254372427
        product_url:
          type: string
          example: http://www.shirtstore.com/products/casablanca-1
        shorten_url:
          type: string
          example: https://yotpo.com/go/zdYLqwyf
        images:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 14088727
                default: 0
              image_url:
                type: string
                example: https://ddcfq0gxiontw.cloudfront.net/Product/19059423/14088727/square.jpg?1512208919
              big_image_url:
                type: string
                example: https://ddcfq0gxiontw.cloudfront.net/Product/19059423/14088727/big.jpg?1512208919
        social_network_links:
          type: object
          properties:
            facebook:
              type: string
              example: https://yotpo.com/go/9rE7vkSV
            twitter:
              type: string
              example: https://yotpo.com/go/b8DLD0se
            linkedin:
              type: string
              example: https://yotpo.com/go/xPuuMNQn
            google_oauth2:
              type: string
              example: https://yotpo.com/go/6eiPnlxP
        facebook_testemonials_page_product_url:
          type: string
          example: https://yotpo.com/go/unavuR5y
    ProductApp:
      type: object
      properties:
        id:
          type: integer
          example: 18880628
          default: 0
        product_url:
          type: string
          example: http://www.shirtstore.com/products/casablanca-1
        domain_key:
          type: string
          example: '360430337'
        product:
          type: object
          properties:
            id:
              type: integer
              example: 19059423
              default: 0
            name:
              type: string
              example: Casablanca
    ProductListItem:
      type: object
      properties:
        Location_idx:
          type: array
          items:
            type: integer
            example: 0
            default: 0
        Product:
          $ref: '#/components/schemas/Product'
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1597310
          default: 0
        display_name:
          type: string
          example: John S.
        slug:
          type: string
          example: john-s--1103
        social_image:
          type: string
          example: https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png
        is_social_connected:
          type: boolean
          example: false
          default: true
        bio: {}
        score:
          type: integer
          example: 0
          default: 0
        badges:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
              image_300:
                type: string
              image_500:
                type: string
    Review:
      type: object
      properties:
        id:
          type: integer
          example: 48264478
          default: 0
        title:
          type: string
          example: Perfect, great fit and quality
        content:
          type: string
          example: Perfect, great fit and quality fabric.
        score:
          type: integer
          example: 5
          default: 0
        votes_up:
          type: integer
          example: 0
          default: 0
        votes_down:
          type: integer
          example: 0
          default: 0
        user_type:
          type: string
          example: User
        user_vote:
          type: integer
          example: 0
          default: 0
        deleted:
          type: boolean
          example: false
          default: true
        new:
          type: boolean
          example: false
          default: true
        verified_buyer:
          type: boolean
          example: true
          default: true
        archived:
          type: boolean
          example: false
          default: true
        social_pushed:
          type: boolean
          example: false
          default: true
        facebook_pushed:
          type: integer
          example: 0
          default: 0
        twitter_pushed:
          type: integer
          example: 0
          default: 0
        created_at:
          type: string
          example: '2017-11-13T18:10:05.000Z'
        updated_at:
          type: string
          example: '2017-11-13T22:54:37.000Z'
        user_reference:
          type: string
          example: '5853381989'
        users:
          type: array
          items:
            type: object
        user:
          $ref: '#/components/schemas/User'
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductListItem'
        products_apps:
          $ref: '#/components/schemas/ProductApp'
        account:
          $ref: '#/components/schemas/Account'
    Bottomline:
      type: object
      properties:
        total_reviews:
          type: integer
          example: 4328
          default: 0
        average_score:
          type: number
          example: 4.81
          default: 0
security:
  - {}
paths:
  /v1/widget/reviews:
    post:
      summary: Create review
      description: This is the asynchronous method and is recommended for general use.
      operationId: create-review
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - appkey
                - sku
                - product_title
                - product_url
                - display_name
                - email
                - review_content
                - review_title
                - review_score
              properties:
                appkey:
                  type: string
                  description: The store ID
                domain:
                  type: string
                  description: The account domain
                sku:
                  type: string
                  description: 'The unique ID of the product on your site (doesn''t have to be the SKU). To create a site review, use the value: `yotpo_site_reviews`. This parameter supports alphanumeric (a...z, A...Z, 0...9), "_" and "-" characters.'
                product_title:
                  type: string
                  description: The title of the product
                product_description:
                  type: string
                  description: The description of the product
                product_url:
                  type: string
                  description: The url of the product
                product_image_url:
                  type: string
                  description: The url of the product image
                display_name:
                  type: string
                  description: The reviewer's name
                email:
                  type: string
                  description: The email of the reviewer
                is_incentivized:
                  type: boolean
                  description: Indicates if the review comes from an incentivized source (for example, a product sampling company)
                review_content:
                  type: string
                  description: The content of the review
                review_title:
                  type: string
                  description: The title of the review
                review_score:
                  type: integer
                  description: The review score
                  format: int32
                signature:
                  type: string
                  description: 'Relevant only for customers using the Trusted Vendors feature. The signature is the hexadecimal representation of a computed Hash-based Message Authentication Code, using SHA256 as the cryptographic function (HMAC-SHA256). The secret for the function is the account secret. Note: The `time_stamp` and `reviewer_type` parameters are mandatory when using the signature parameter.'
                time_stamp:
                  type: string
                  description: Required for customers using the Trusted Vendors feature. Unix timestamp.
                  format: date-time
                submission_time_stamp:
                  type: string
                  description: Relevant only for customers using the Trusted Vendors feature. The date the review was created (if not today). Can be up to 7 days in the past. If you want to add a creation date that is more than 7 days in the past, please contact support
                  format: date-time
                reviewer_type:
                  type: string
                  description: 'Required for customers using the Trusted Vendors feature. Possible values: `verified_buyer` or `verified_reviewer`'
                order_metadata:
                  properties:
                    coupon_used:
                      type: boolean
                      description: Part of `order_metadata`, indicates whether a coupon was used at purchase
                  type: object
                delivery_type:
                  type: string
                  description: The type of delivery designated for this purchase e.g. express, expedited, standard
                custom_properties:
                  properties:
                    name:
                      type: string
                      description: The name of an order-related custom property e.g. order history
                    value:
                      type: string
                      description: The order-related `custom_properties` value
                  type: object
                product_metadata:
                  properties:
                    color:
                      type: string
                      description: The color of the item
                    size:
                      type: string
                      description: The size of the item
                    material:
                      type: string
                      description: The material the product is made of
                    model:
                      type: string
                      description: The model name of the product
                    vendor:
                      type: string
                      description: The product vendor
                    coupon_used:
                      type: boolean
                      description: Whether a coupon was used for this product
                    custom_properties:
                      properties:
                        name:
                          type: string
                          description: The name of a product-related custom property
                        value:
                          type: string
                          description: The value associated with a product-related custom property
                      type: object
                  type: object
                customer_metadata:
                  properties:
                    state:
                      type: string
                      description: The state the customer is located in
                    country:
                      type: string
                      description: 'Two-letter uppercase country code indicating the customer country. To comply with Google Seller Ratings conventions, the country code value must be from [this list](https://datahub.io/core/country-list) of compatible codes. Default value: `US`.'
                    address:
                      type: string
                      description: The customer's address
                    phone_number:
                      type: string
                      description: The customer's phone number
                    custom_properties:
                      properties:
                        name:
                          type: string
                          description: The name of the customer-related custom property
                        value:
                          type: string
                          description: The value of the customer-related custom property
                      type: object
                  type: object
            examples:
              Create Review:
                value:
                  appkey: '### YOUR APP_KEY HERE ###'
                  domain: http://www.shop.com
                  sku: '10'
                  product_title: Phone
                  product_description: Smart Phone
                  product_url: http://www.shop.com/phone.html
                  product_image_url: http://www.shop.com/phone.jpg
                  display_name: John Smith
                  email: john@shop.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: Great Phone
                  review_score: 5
              Create Review + Metadata:
                value:
                  appkey: GByQO9d6Z9W0pBOQan3RPoxOO7rFhyXOFnRA3xGA
                  domain: http://www.theshirtstore.com
                  sku: '10'
                  product_title: Plain T-Shirt
                  product_description: A plain T-shirt
                  product_url: http://www.theshirtstore.com/tshirt.html
                  product_image_url: http://www.thetshirtstore.com/shirt.jpg
                  display_name: John Smith
                  email: shopper@email.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: My favorite tshirt
                  review_score: 5
                  signature: F8GJ3PbthaMLVImLB0Sk8PoAT6hZFzborCnkIWiF
                  time_stamp: '1415107190'
                  reviewer_type: verified_buyer
                  order_metadata:
                    coupon_used: 'true'
                    delivery_type: Express
                    custom_properties:
                      - name: order_history
                        value: '5'
                  product_metadata:
                    color: black
                    size: large
                    material: cotton
                    model: soho
                    vendor: the shirt store
                    coupon_used: 'true'
                    custom_properties:
                      - name: event_type
                        value: birthday
                      - name: shirt_name
                        value: Alfonzo
                  customer_metadata:
                    state: California
                    country: US
                    address: 144 Daisyfield Drive
                    phone_number: '111111111111'
                    custom_properties:
                      - name: membership_type
                        value: annual
              Create Review + Custom Questions:
                value:
                  appkey: Fyhba57IlBTciQecZ8uMxpiI7N5Z0wp7EhLQih6M
                  domain: http://my-store.myshopify.com
                  sku: '10'
                  product_title: Black T-Shirt
                  product_description: A very nice T-Shirt made with 100% cotton
                  product_url: https://my-store.myshopify.com/products/Black T-Shirt
                  display_name: Johni Smith
                  email: jsmith@shopper.com
                  is_incentivized: true
                  review_content: I love this shirt
                  review_title: I love T-Shirts
                  review_score: 5
                  custom_fields:
                    '--12159': empty answers3? empty answers3?
                    '--12014': '123'
              Trusted Vendor:
                value:
                  appkey: PGIkyrrTBQ0VtQOn8rPpedQEEdBIL7vtr9Cu4LvA
                  domain: http://www.shop.com
                  sku: '10'
                  product_title: Phone
                  product_description: Smart Phone
                  product_url: http://www.shop.com/phone.html
                  product_image_url: http://www.shop.com/phone.jpg
                  display_name: John Smith
                  email: john@shop.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: Great Phone
                  review_score: 5
                  signature: The SHA256 or HMAC signature goes here
                  time_stamp: '1426770722'
                  reviewer_type: verified_buyer
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "code": 200,
                        "message": "ok",
                        "image_upload_token": "08733ce2540436bfe12ee87e5b26d7feffe22298"
                    }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                    default: 0
                  message:
                    type: string
                    example: ok
                  image_upload_token:
                    type: string
                    example: 08733ce2540436bfe12ee87e5b26d7feffe22298
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Missing parameter:
                  value: |-
                    {
                        "status": {
                            "message": "Missing email",
                            "code": 500,
                            "error_type": "Exceptions::InvalidParams"
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Missing email
                      code:
                        type: integer
                        example: 500
                        default: 0
                      error_type:
                        type: string
                        example: Exceptions::InvalidParams
      deprecated: false
      security: []
  /v1/apps/{app_key}/reviews:
    get:
      summary: Retrieve all reviews
      description: ''
      operationId: retrieve-all-reviews
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: utoken
          in: query
          description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
          required: true
          schema:
            type: string
        - name: since_id
          in: query
          description: Lowest ID of the returned reviews
          schema:
            type: string
        - name: since_date
          in: query
          description: Earliest creation date of returned reviews
          schema:
            type: string
            format: date
        - name: since_updated_at
          in: query
          description: Earliest update date of returned reviews
          schema:
            type: string
            format: date
        - name: count
          in: query
          description: Number of reviews to return
          schema:
            type: string
        - name: page
          in: query
          description: Page number to return reviews for
          schema:
            type: string
        - name: deleted
          in: query
          description: Include unpublished reviews
          schema:
            type: boolean
        - name: user_reference
          in: query
          description: Filter by user reference
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "reviews": [
                            {
                                "id": 34789515,
                                "title": "GREAT shirts",
                                "content": "I now have several of these shirts and they are great. Great quality and look. My only minor complaint is that I have had one or two that have been SLIGHTLY on the small side. That said, their order process is easy and the product is great I will continue to buy most of my shirts from them.",
                                "score": 4,
                                "votes_up": 0,
                                "votes_down": 0,
                                "created_at": "2016-12-27T14:43:58.000Z",
                                "updated_at": "2017-04-13T18:56:19.000Z",
                                "sentiment": 0.963555,
                                "sku": "1",
                                "name": "Robert S.",
                                "email": "robsmith@email.com",
                                "reviewer_type": "verified_buyer",
                                "deleted": false,
                                "user_reference": null
                            },
                            {
                                "id": 34950796,
                                "title": "Very Good Shirts",
                                "content": "These shirts fit well and are excellent quality. Need more non-iron and buttoned down choices.",
                                "score": 4,
                                "votes_up": 0,
                                "votes_down": 0,
                                "created_at": "2016-12-27T15:12:44.000Z",
                                "updated_at": "2017-06-14T20:10:40.000Z",
                                "sentiment": 0.981573,
                                "sku": "1",
                                "name": "Giorgio A.",
                                "email": "garmani@email.com",
                                "reviewer_type": "verified_buyer",
                                "deleted": false,
                                "user_reference": null
                            },
                            {
                                "id": 34768928,
                                "title": "Great shirts!",
                                "content": "All four shirts I have purchsed are the perfect fit for me, and customer service is excellent. Can&#x27;t that beat that combination!",
                                "score": 4,
                                "votes_up": 0,
                                "votes_down": 0,
                                "created_at": "2016-12-27T15:56:45.000Z",
                                "updated_at": "2017-04-13T19:23:01.000Z",
                                "sentiment": 0.99147,
                                "sku": "1",
                                "name": "David M.",
                                "email": "davidmancuso@loft.com",
                                "reviewer_type": "verified_buyer",
                                "deleted": false,
                                "user_reference": null
                            },
                            {
                                "id": 34878412,
                                "title": "Great fabric and fit",
                                "content": "Very pleased with the fit of all of the products that I brought a total of three shirts",
                                "score": 4,
                                "votes_up": 0,
                                "votes_down": 0,
                                "created_at": "2016-12-29T23:19:16.000Z",
                                "updated_at": "2017-04-13T19:26:13.000Z",
                                "sentiment": 0.98101,
                                "sku": "1",
                                "name": "Frankie K.",
                                "email": "knuckles@warehouse.com",
                                "reviewer_type": "verified_buyer",
                                "deleted": false,
                                "user_reference": null
                            }
                        ]
                    }
              schema:
                type: object
                properties:
                  reviews:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
        '400':
          description: '400'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      security: []
  /reviews/dynamic_create:
    post:
      summary: Create review (synchronous)
      description: 'Note: This method is recommended for development only.'
      operationId: create-review-synchronous
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - appkey
                - sku
                - product_title
                - display_name
                - email
                - review_content
                - review_title
                - review_score
              properties:
                appkey:
                  type: string
                  description: The store ID
                domain:
                  type: string
                  description: The account domain
                sku:
                  type: string
                  description: The ID of the product on your site. This parameter supports alphanumeric (a...z, A...Z, 0...9), "_" and "-" characters.
                product_title:
                  type: string
                  description: The title of the product
                product_description:
                  type: string
                  description: The description of the product
                product_url:
                  type: string
                  description: The url of the product on your ecommerce site
                product_image_url:
                  type: string
                  description: The url of the product image
                display_name:
                  type: string
                  description: The name of the reviewer
                email:
                  type: string
                  description: The email of the reviewer
                is_incentivized:
                  type: boolean
                  description: Indicates if the review comes from an incentivized source (for example, a product sampling company)
                review_content:
                  type: string
                  description: The content of the review
                review_title:
                  type: string
                  description: The title of the review
                review_score:
                  type: string
                  description: The review score
                signature:
                  type: string
                  description: Relevant only for customers using the Trusted Vendors feature. The signature is the hexadecimal representation of a computed Hash-based Message Authentication Code, using SHA256 as the cryptographic function (HMAC-SHA256). The secret for the function is the account secret.
                time_stamp:
                  type: string
                  description: Required for customers using the Trusted Vendors feature. Unix timestamp.
                submission_time_stamp:
                  type: string
                  description: Relevant only for customers using the Trusted Vendors feature. The date the review was created (if not today). Can be up to 7 days in the past. If you want to add a creation date that is more than 7 days in the past, please contact support
                reviewer_type:
                  type: string
                  description: 'Required for customers using the Trusted Vendors feature. Possible values: `verified_buyer` or `verified_reviewer`'
                delivery_type:
                  type: string
                  description: The type of delivery designated for this purchase e.g. express, expedited, standard
                user_reference:
                  type: string
                  description: External user id, can be used later on to retrieve reviews associated with this user
                image_urls:
                  type: array
                  description: The URLs of images associated with the review. You can upload up to 5 images per review.
                  items:
                    type: string
                order_metadata:
                  properties:
                    coupon_used:
                      type: boolean
                      description: Part of `order_metadata`, indicates whether a coupon was used at purchase
                  type: object
                custom_properties:
                  properties:
                    name:
                      type: string
                      description: The name of an order-related custom property e.g. order history
                    value:
                      type: string
                      description: The order-related `custom_properties` value
                  type: object
                product_metadata:
                  properties:
                    color:
                      type: string
                      description: The color of the item
                    size:
                      type: string
                      description: The size of the item
                    material:
                      type: string
                      description: The material the product is made of
                    model:
                      type: string
                      description: The model name of the product
                    vendor:
                      type: string
                      description: The product vendor
                    coupon_used:
                      type: string
                      description: Whether a coupon was used for this product
                    custom_properties:
                      properties:
                        name:
                          type: string
                          description: The name of a product-related custom property
                        value:
                          type: string
                          description: The value associated with a product-related custom property
                      type: object
                  type: object
                customer_metadata:
                  properties:
                    state:
                      type: string
                      description: The state the customer is located in
                    country:
                      type: string
                      description: 'Two-letter uppercase country code indicating the customer country. To comply with Google Seller Ratings conventions, the country code value must be from [this list](https://datahub.io/core/country-list) of compatible codes. Default value: `US`.'
                    address:
                      type: string
                      description: The customer's address
                    phone_number:
                      type: string
                      description: The customer's phone number
                    custom_properties:
                      properties:
                        name:
                          type: string
                          description: The name of the customer-related custom property
                        value:
                          type: string
                          description: The value of the customer-related custom property
                      type: object
                  type: object
            examples:
              Review:
                value:
                  appkey: '### YOUR APP_KEY HERE###'
                  domain: http://www.shop.com
                  sku: '10'
                  product_title: Phone
                  product_description: Smart Phone
                  product_url: http://www.shop.com/phone.html
                  product_image_url: http://www.shop.com/phone.jpg
                  display_name: John Smith
                  email: john@shop.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: Great Phone
                  review_score: 5
                  signature: F9GJ3PbthaNLVImLB0Sk9PoAT6hZFzborCnkIWiE
                  time_stamp: '1415107190'
                  reviewer_type: verified_buyer
                  image_urls:
                    - https://i.imgur.com/FtFkDF1.jepg
                    - https://cnn.com/image/2.jpg
              Review + Metadata:
                value:
                  appkey: GByQO9d6Z9W0pBOQan3RPoxOO7rFhyXOFnRA3xGA
                  domain: http://www.theshirtstore.com
                  sku: '10'
                  product_title: Plain T-Shirt
                  product_description: A plain T-shirt
                  product_url: http://www.theshirtstore.com/tshirt.html
                  product_image_url: http://www.thetshirtstore.com/shirt.jpg
                  display_name: John Smith
                  email: shopper@email.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: My favorite tshirt
                  review_score: 5
                  signature: F8GJ3PbthaMLVImLB0Sk8PoAT6hZFzborCnkIWiF
                  time_stamp: '1415107190'
                  reviewer_type: verified_buyer
                  order_metadata:
                    coupon_used: 'true'
                    delivery_type: Express
                    custom_properties:
                      - name: order_history
                        value: '5'
                  product_metadata:
                    color: black
                    size: large
                    material: cotton
                    model: soho
                    vendor: the shirt store
                    coupon_used: 'true'
                    custom_properties:
                      - name: event_type
                        value: birthday
                      - name: shirt_name
                        value: Alfonzo
                  customer_metadata:
                    state: California
                    country: US
                    address: 144 Daisyfield Drive
                    phone_number: '111111111111'
                    custom_properties:
                      - name: membership_type
                        value: annual
              Review  + Custom Questions:
                value:
                  appkey: Fyhba57IlBTciQecZ8uMxpiI7N5Z0wp7EhLQih6M
                  domain: http://my-store.myshopify.com
                  sku: '10'
                  product_title: Black T-Shirt
                  product_description: A very nice T-Shirt made with 100% cotton
                  product_url: https://my-store.myshopify.com/products/Black T-Shirt
                  display_name: Johni Smith
                  email: jsmith@shopper.com
                  is_incentivized: true
                  review_content: I love this shirt
                  review_title: I love T-Shirts
                  review_score: 5
                  custom_fields:
                    '--12159': empty answers3? empty answers3?
                    '--12014': '123'
              Trusted Vendor:
                value:
                  appkey: PGIkyrrTBQ0VtQOn8rPpedQEEdBIL7vtr9Cu4LvA
                  domain: http://www.shop.com
                  sku: '10'
                  product_title: Phone
                  product_description: Smart Phone
                  product_url: http://www.shop.com/phone.html
                  product_image_url: http://www.shop.com/phone.jpg
                  display_name: John Smith
                  email: john@shop.com
                  is_incentivized: true
                  review_content: It’s really good
                  review_title: Great Phone
                  review_score: 5
                  signature: The SHA256 or HMAC signature goes here
                  time_stamp: '1426770722'
                  reviewer_type: verified_buyer
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                        "status": {
                            "code": 200,
                            "message": "OK"
                        },
                        "response": {
                            "reviews": [
                                {
                                    "id": 2557878,
                                    "content": "It&#x27;s really good",
                                    "title": "Great Phone",
                                    "score": 5,
                                    "user": {
                                        "id": 1597310,
                                        "display_name": "John S.",
                                        "slug": "john-s--1103",
                                        "social_image": "https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png",
                                        "is_social_connected": false,
                                        "bio": null,
                                        "score": 0,
                                        "badges": []
                                    },
                                    "user_type": "User",
                                    "users": [],
                                    "products": [
                                        {
                                            "Location_idx": [
                                                0,
                                                0
                                            ],
                                            "Product": {
                                                "product_url": "http:///www.shop.com/phone.html",
                                                "id": 3512850,
                                                "name": "Phone",
                                                "slug": "phone--4",
                                                "shorten_url": "https://yotpo.com/go/vqGhdhtG",
                                                "images": [],
                                                "social_network_links": {
                                                    "facebook": "https://yotpo.com/go/3uw3JT3N",
                                                    "twitter": "https://yotpo.com/go/lwQUYeb2",
                                                    "linkedin": "https://yotpo.com/go/4IZQlBAg",
                                                    "google_oauth2": "https://yotpo.com/go/9tYsZMej"
                                                },
                                                "facebook_testemonials_page_product_url": "https://yotpo.com/go/ztcfKvZl"
                                            }
                                        }
                                    ],
                                    "votes_up": 0,
                                    "votes_down": 0,
                                    "user_vote": 0,
                                    "created_at": "2014-12-10T15:03:16Z",
                                    "deleted": false,
                                    "new": true,
                                    "verified_buyer": true,
                                    "archived": false,
                                    "social_pushed": false,
                                    "facebook_pushed": 0,
                                    "twitter_pushed": 0,
                                    "account": {
                                        "id": 15906,
                                        "domain": " http://www.shop.com",
                                        "map_image": {
                                            "id": 3371260,
                                            "image_url": "http://d2zookpajyck3d.cloudfront.net/Account/75365/3371260/thumb.png?1418043528",
                                            "big_image_url": "http://d2zookpajyck3d.cloudfront.net/Account/75365/3371260/big.png?1418043528",
                                            "image_content_type": "image/png",
                                            "image_width": 165,
                                            "image_height": 144,
                                            "imageable_type": "Account",
                                            "imageable_id": 75365
                                        },
                                        "comments_avatar": {
                                            "id": 3371711,
                                            "image_url": "http://d2zookpajyck3d.cloudfront.net/Account/75365/3371711/thumb.jpg?1418201566",
                                            "big_image_url": "http://d2zookpajyck3d.cloudfront.net/Account/75365/3371711/big.jpg?1418201566",
                                            "image_content_type": "image/jpeg",
                                            "image_width": 857,
                                            "image_height": 805,
                                            "imageable_type": "Account",
                                            "imageable_id": 75365
                                        },
                                        "comments_display_name": "Eli Belly"
                                    },
                                    "products_apps": [
                                        {
                                            "id": 3443620,
                                            "product_url": "http:///www.shop.com/phone.html",
                                            "domain_key": "10",
                                            "product": {
                                                "id": 3512850,
                                                "name": "Phone"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      reviews:
                        type: array
                        items:
                          $ref: '#/components/schemas/Review'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
  /reviews/{review_id}:
    get:
      summary: Retrieve a review by review ID
      description: Retrieve **published** reviews by `review_id`. Please note that unpublished reviews cannot be retrieved using this endpoint.
      operationId: retrieve-a-review-by-review-id
      parameters:
        - name: review_id
          in: path
          description: The review id
          required: true
          schema:
            type: integer
            format: int32
        - name: utoken
          in: query
          description: Your Yotpo account access token. See [Yotpo Authentication](https://apidocs.yotpo.com/reference#yotpo-authentication) to learn how to generate your utoken.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       status:{
                          code:200,
                          message:"OK"
                       },
                       response:{
                          review:{
                             id:1010591,
                             content:"Tolles Produkt zu fairen Preisen",
                             title:"Tolles Produkt",
                             score:5,
                             user:{
                                id:650200,
                                display_name:"Wolfgang Mau",
                                slug:"wolfgang-mau",
                                social_image:"https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg",
                                is_social_connected:true,
                                bio:null,
                                score:0,
                                badges:[
                                   {
                                      id:1,
                                      name:"Newbie",
                                      description:"Hooray, you wrote your first review with Yotpo! Now you have this cool profile page, and you can earn Yotpo score and have even more badges.",
                                      image_100:"http://s3.amazonaws.com/yotpo-static-images/badges/100/1.png",
                                      image_300:"http://s3.amazonaws.com/yotpo-static-images/badges/300/1.png"
                                   }
                                ]
                             },
                             user_type:"User",
                             users:[

                             ],
                             products:[
                                {
                                   Location_idx:[
                                      0,
                                      0
                                   ],
                                   Product:{
                                      product_url:"http://my.yotpo.com",
                                      id:1739260,
                                      name:"Canon EOS 5D Mark II",
                                      slug:"canon-eos-5d-mark-ii--2",
                                      shorten_url:"https://yotpo.com/go/8sPQAjFl",
                                      images:[
                                         {
                                            id:1705775,
                                            image_url:"http://ddcfq0gxiontw.cloudfront.net/Product/1739260/1705775/square.jpg?1455184269",
                                            big_image_url:"http://ddcfq0gxiontw.cloudfront.net/Product/1739260/1705775/big.jpg?1455184269"
                                         }
                                      ],
                                      social_network_links:{
                                         facebook:"https://yotpo.com/go/3gfFbHuY",
                                         twitter:"https://yotpo.com/go/8RneA6fJ",
                                         linkedin:"https://yotpo.com/go/1dxwNwR1",
                                         google_oauth2:"https://yotpo.com/go/iiJdm1XC"
                                      },
                                      facebook_testemonials_page_product_url:"https://yotpo.com/go/hLGFhtvz"
                                   }
                                }
                             ],
                             votes_up:1,
                             votes_down:0,
                             user_vote:0,
                             sentiment: 0.732,
                             created_at:"2014-03-18T09:27:45.792Z",
                             deleted:false,
                             new:false,
                             verified_buyer:false,
                             archived:false,
                             social_pushed:false,
                             facebook_pushed:0,
                             twitter_pushed:0,
                             account:{
                                id:4,
                                domain:"widget.yotpo.com"
                             },
                             products_apps:[
                                {
                                   id:1696312,
                                   product_url:"http://my.yotpo.com",
                                   domain_key:"B000HT3P7E",
                                   product:{
                                      id:1739260,
                                      name:"Canon EOS 5D Mark II"
                                   }
                                }
                             ]
                          }
                       }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      review:
                        $ref: '#/components/schemas/Review'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
  /products/{app_key}/yotpo_global_reviews/reviews.json:
    get:
      summary: Retrieve reviews for a user using external user reference ID
      description: This endpoint requires a Yotpo premium plan.
      operationId: retrieve-reviews-for-a-specific-user
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: user_reference
          in: query
          description: External User ID for which to return the reviews.
          required: true
          schema:
            type: string
        - name: since_id
          in: query
          description: Minimum ID of the returned reviews
          schema:
            type: string
        - name: since_date
          in: query
          description: Earliest creation date of returned reviews
          schema:
            type: string
            format: date
        - name: since_updated_at
          in: query
          description: Earliest update date of returned reviews
          schema:
            type: string
            format: date
        - name: count
          in: query
          description: Number of reviews to return
          schema:
            type: string
        - name: page
          in: query
          description: Page number to return reviews for
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": {
                            "code": 200,
                            "message": "OK"
                        },
                        "response": {
                            "bottomline": {
                                "total_reviews": 4328,
                                "average_score": 4.81
                            },
                            "reviews": [
                                {
                                    "id": 48264478,
                                    "title": "Perfect, great fit and quality",
                                    "content": "Perfect, great fit and quality fabric.",
                                    "score": 5,
                                    "votes_up": 0,
                                    "votes_down": 0,
                                    "user_type": "User",
                                    "user_vote": 0,
                                    "deleted": false,
                                    "new": false,
                                    "verified_buyer": true,
                                    "archived": false,
                                    "social_pushed": false,
                                    "facebook_pushed": 0,
                                    "twitter_pushed": 0,
                                    "created_at": "2017-11-13T18:10:05.000Z",
                                    "updated_at": "2017-11-13T22:54:37.000Z",
                                    "user_reference": "5853381989",
                                    "users": [],
                                    "user": {
                                        "id": 14220530,
                                        "display_name": "Laura S.",
                                        "slug": "laura-s-14188339604672942810",
                                        "social_image": "https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png",
                                        "is_social_connected": false,
                                        "bio": null,
                                        "score": 0,
                                        "badges": []
                                    },
                                    "products": [
                                        {
                                            "Location_idx": [
                                                0,
                                                0
                                            ],
                                            "Product": {
                                                "id": 19059423,
                                                "name": "Casablanca",
                                                "slug": "casablanca--15026822254372427",
                                                "product_url": "http://www.shirtstore.com/products/casablanca-1",
                                                "shorten_url": "https://yotpo.com/go/zdYLqwyf",
                                                "images": [
                                                    {
                                                        "id": 14088727,
                                                        "image_url": "https://ddcfq0gxiontw.cloudfront.net/Product/19059423/14088727/square.jpg?1512208919",
                                                        "big_image_url": "https://ddcfq0gxiontw.cloudfront.net/Product/19059423/14088727/big.jpg?1512208919"
                                                    }
                                                ],
                                                "social_network_links": {
                                                    "facebook": "https://yotpo.com/go/9rE7vkSV",
                                                    "twitter": "https://yotpo.com/go/b8DLD0se",
                                                    "linkedin": "https://yotpo.com/go/xPuuMNQn",
                                                    "google_oauth2": "https://yotpo.com/go/6eiPnlxP"
                                                },
                                                "facebook_testemonials_page_product_url": "https://yotpo.com/go/unavuR5y"
                                            }
                                        }
                                    ],
                                    "products_apps": {
                                        "id": 18880628,
                                        "product_url": "http://www.shirtstore.com/products/casablanca-1",
                                        "domain_key": "360430337",
                                        "product": {
                                            "id": 19059423,
                                            "name": "Casablanca"
                                        }
                                    },
                                    "account": {
                                        "id": 187091,
                                        "domain": "http://www.shirtstore.com",
                                        "map_image": {
                                            "id": 13577180,
                                            "image_url": "https://ddcfq0gxiomtw.cloudfront.net/Account/187091/13577180/thumb.?1486410867",
                                            "big_image_url": "https://ddcfq0gxiomtw.cloudfront.net/Account/187091/13577180/big.?1486410867",
                                            "image_content_type": "image/png",
                                            "image_width": 2550,
                                            "image_height": 409
                                        }
                                    }
                                }
                            ]
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      bottomline:
                        $ref: '#/components/schemas/Bottomline'
                      reviews:
                        type: array
                        items:
                          $ref: '#/components/schemas/Review'
        '400':
          description: '400'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /products/{app_key}/{product_id}/bottomline:
    get:
      summary: Retrieve bottom line (total reviews and average score) for a specific product
      description: ''
      operationId: get-bottom-line-total-reviews-and-average-score
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: product_id
          in: path
          description: The ID of the product on your site
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                       "status":{
                          "code":200,
                          "message":"OK"
                       },
                       "response":{
                          "bottomline":{
                             "average_score":4.52,
                             "total_reviews":23
                          }
                       }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      bottomline:
                        $ref: '#/components/schemas/Bottomline'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: GET https://api.yotpo.com/products/YOUR_APP_KEY/product_id/bottomline
        samples-languages:
          - http
  /v1/apps/{app_key}/bottom_lines:
    get:
      summary: Retrieve bottom line (total reviews and average score) for all products
      description: |-
        A request to retrieve all bottomlines (average score and review count of an account). The request is paginated and limited for a maximum of 100 items per page.

        Product grouping and/or syndication may result in two bottom line scores for each product:
        * The first score represents all grouped reviews and syndicated reviews
        * The second score represents the organic score
      operationId: v1-retrieve-bottom-line-total-reviews-and-average-score-for-all-products
      parameters:
        - name: app_key
          in: path
          description: The store ID
          required: true
          schema:
            type: string
        - name: count
          in: query
          description: The amount of bottom lines to return per page. Maximum 100 per page.
          required: true
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: The page number of the paginated response.
          required: true
          schema:
            type: integer
            format: int32
        - name: since_date
          in: query
          description: Earliest creation date of returned reviews (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: since_id
          in: query
          description: Minimum ID of the returned reviews.
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": {
                            "code": 200,
                            "message": "OK"
                        },
                        "response": {
                            "bottomlines": [
                                {
                                    "domain_key": "1518844613",
                                    "product_score": 4.86,
                                    "total_reviews": 28
                                },
                                {
                                    "domain_key": "158482417",
                                    "product_score": 4.74,
                                    "total_reviews": 31
                                },
                                {
                                    "domain_key": "158483079",
                                    "product_score": 4.84,
                                    "total_reviews": 32
                                },
                                {
                                    "domain_key": "158486229",
                                    "product_score": 5,
                                    "total_reviews": 8
                                },
                                {
                                    "domain_key": "158489459",
                                    "product_score": 5,
                                    "total_reviews": 5
                                }
                            ],
                            "page": "5",
                            "per_page": "5"
                        }
                    }
                With Grouping/Syndication:
                  value: "{\n\tstatus: {\n\t\tcode: 200,\n\t\tmessage: \"OK\"\n\t},\n\tresponse: {\n\t\tbottomlines: [{\n\t\t\t\tdomain_key: \"yotpo_site_reviews\",\n\t\t\t\tproduct_score: 4.81,\n\t\t\t\ttotal_reviews: 278\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"yotpo_site_reviews\",\n\t\t\t\tproduct_score: 4.67,\n\t\t\t\ttotal_reviews: 81\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514291267\",\n\t\t\t\tproduct_score: 4.78,\n\t\t\t\ttotal_reviews: 161\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514291267\",\n\t\t\t\tproduct_score: 4.72,\n\t\t\t\ttotal_reviews: 43\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514287427\",\n\t\t\t\tproduct_score: 4.76,\n\t\t\t\ttotal_reviews: 448\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514287427\",\n\t\t\t\tproduct_score: 4.66,\n\t\t\t\ttotal_reviews: 119\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514285763\",\n\t\t\t\tproduct_score: 4.75,\n\t\t\t\ttotal_reviews: 1430\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514285763\",\n\t\t\t\tproduct_score: 4.63,\n\t\t\t\ttotal_reviews: 390\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514290755\",\n\t\t\t\tproduct_score: 4.82,\n\t\t\t\ttotal_reviews: 271\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514290755\",\n\t\t\t\tproduct_score: 4.75,\n\t\t\t\ttotal_reviews: 73\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514291843\",\n\t\t\t\tproduct_score: 4.82,\n\t\t\t\ttotal_reviews: 164\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514291843\",\n\t\t\t\tproduct_score: 5,\n\t\t\t\ttotal_reviews: 34\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514288835\",\n\t\t\t\tproduct_score: 4.86,\n\t\t\t\ttotal_reviews: 294\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"10514288835\",\n\t\t\t\tproduct_score: 4.88,\n\t\t\t\ttotal_reviews: 72\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"1725244538926\",\n\t\t\t\tproduct_score: 4.79,\n\t\t\t\ttotal_reviews: 53\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"1853301456942\",\n\t\t\t\tproduct_score: 4,\n\t\t\t\ttotal_reviews: 4\n\t\t\t},\n\t\t\t{\n\t\t\t\tdomain_key: \"1853301456942\",\n\t\t\t\tproduct_score: 3.67,\n\t\t\t\ttotal_reviews: 3\n\t\t\t}\n\t\t],\n\t\tpage: \"1\",\n\t\tper_page: \"100\"\n\t}\n}"
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      bottomlines:
                        type: array
                        items:
                          type: object
                          properties:
                            domain_key:
                              type: string
                              example: '1518844613'
                            product_score:
                              type: number
                              example: 4.86
                              default: 0
                            total_reviews:
                              type: integer
                              example: 28
                              default: 0
                      page:
                        type: string
                        example: '5'
                      per_page:
                        type: string
                        example: '5'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
  /products/{app_key}/yotpo_site_reviews/bottomline:
    get:
      summary: Retrieve bottom line (total reviews and average score) for all site reviews
      description: Retrieve all bottom lines (average score and total site review count per account).
      operationId: retrieve-bottom-line-for-all-site-reviews
      parameters:
        - name: app_key
          in: path
          description: The store ID
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status": {
                            "code": 200,
                            "message": "OK"
                        },
                        "response": {
                            "bottomline": {
                                "average_score": 4.9,
                                "total_reviews": 120
                            }
                        }
                    }
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 200
                        default: 0
                      message:
                        type: string
                        example: OK
                  response:
                    type: object
                    properties:
                      bottomline:
                        $ref: '#/components/schemas/Bottomline'
        '400':
          description: '400'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
x-readme:
  headers:
    - value: application/json
      key: Content-Type
  explorer-enabled: false
  proxy-enabled: true
  samples-enabled: true
x-readme-fauxas: true
