{
  "openapi": "3.0.1",
  "info": {
    "title": "Olyslager REST API",
    "description": "Olyslager REST API for quering product recommendations based on different selection methods.",
    "termsOfService": "https://www.olyslager.com/wp-content/uploads/2021/09/Olyslager-NL-General-Terms-and-Conditions-v3.1.pdf",
    "contact": {
      "name": "Olyslager",
      "url": "https://www.olyslager.com/",
      "email": "api-support@olyslager.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.olyslager.com/rest"
    }
  ],
  "paths": {
    "/products/{productId}/categories/{categoryId}/makes": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "/products/{productId}/categories/{categoryId}/makes?language={language} - GET",
        "description": "Retrieves all makes related to a combination of productId and categoryId",
        "operationId": "get-products-productid-categories-categoryid-makes-language-language",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Format - int32. The id of a product",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "categoryId",
            "in": "path",
            "description": "Format - int32. The id of a category",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Makes retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MakeListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakeListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "makeName": "string",
                      "imageUrlSmall": "string",
                      "imageUrlMedium": "string",
                      "imageUrlLarge": "string",
                      "typeYearStart": 0,
                      "typeYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakeListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "makeName": "string",
                      "imageUrlSmall": "string",
                      "imageUrlMedium": "string",
                      "imageUrlLarge": "string",
                      "typeYearStart": 0,
                      "typeYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "User unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tecdoc/{tecDocId}": {
      "get": {
        "tags": [
          "TecDoc"
        ],
        "summary": "/tecdoc/{tecDocId}?language={language} - GET",
        "description": "Convert TecDoc id to LIS type id",
        "operationId": "get-tecdoc-tecdocid-language-language",
        "parameters": [
          {
            "name": "tecDocId",
            "in": "path",
            "description": "Format - int32. TecDoc id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TecDoc id converted to LIS type id",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "typeName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "fuel": "string",
                      "driveType": "string",
                      "cylinderCC": 0,
                      "cylinderCount": 0,
                      "engineBuild": "string",
                      "powerHP": 0,
                      "powerKW": 0,
                      "powerRPM": 0,
                      "valveCount": 0,
                      "modelImageUrlSmall": "string",
                      "modelImageUrlMedium": "string",
                      "modelImageUrlLarge": "string",
                      "categoryId": 0,
                      "categoryName": "string",
                      "makeId": 0,
                      "makeName": "string",
                      "modelId": 0,
                      "modelName": "string",
                      "modelCode": "string",
                      "modelYearStart": 0,
                      "modelYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "typeName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "fuel": "string",
                      "driveType": "string",
                      "cylinderCC": 0,
                      "cylinderCount": 0,
                      "engineBuild": "string",
                      "powerHP": 0,
                      "powerKW": 0,
                      "powerRPM": 0,
                      "valveCount": 0,
                      "modelImageUrlSmall": "string",
                      "modelImageUrlMedium": "string",
                      "modelImageUrlLarge": "string",
                      "categoryId": 0,
                      "categoryName": "string",
                      "makeId": 0,
                      "makeName": "string",
                      "modelId": 0,
                      "modelName": "string",
                      "modelCode": "string",
                      "modelYearStart": 0,
                      "modelYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "User unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "/products?language={language} - GET",
        "description": "Retrieves all products related to a customer",
        "operationId": "get-products-language-language",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Products retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "language": "string",
                      "productId": 0,
                      "productName": "string",
                      "productCode": "string",
                      "packshot": "string",
                      "appOrder": 0,
                      "url": "string",
                      "pds": "string",
                      "msds": "string"
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "language": "string",
                      "productId": 0,
                      "productName": "string",
                      "productCode": "string",
                      "packshot": "string",
                      "appOrder": 0,
                      "url": "string",
                      "pds": "string",
                      "msds": "string"
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "User unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "/search?language={language}&searchText={searchText}&searchCount={searchCount}&facetCount={facetCount} - GET",
        "description": "Retrieve results based on search query",
        "operationId": "get-search-language-language-searchtext-searchtext-searchcount-searchcount-f",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "The text that needs to be used for the search",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchCount",
            "in": "query",
            "description": "Format - int32. The maximum amount of results that will be returned. A value greater than 100 returns bad request error.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "facetCount",
            "in": "query",
            "description": "Format - int32. The maximum amount of items per facet that will be retuned. Use 0 to disable the facets to be retuned.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            },
            "example": 5
          },
          {
            "name": "categoryFilter[]",
            "in": "query",
            "description": "Filter value to apply on categories. Repeat this parameter for each category value to include in the filter. The filter value must match exactly the value from the returned facet. Examples: categoryFilter[]=Cars or categoryFilter[]=Cars&categoryFilter[]=Light commercial vehicles (< 7.5t)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "makeFilter[]",
            "in": "query",
            "description": "Filter value to apply on makes. Repeat this parameter for each make value to include in the filter. The filter value must match exactly the value from the returned facet. Examples: makeFilter[]=Mazda (EU) or makeFilter[]=Mazda (EU)&makeFilter[]=Mercedes-Benz (EU)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "modelFilter[]",
            "in": "query",
            "description": "Filter value to apply on models. Repeat this parameter for each model value to include in the filter. The filter value must match exactly the value from the returned facet. Examples: modelFilter[]=CX-5 or modelFilter[]=CX-5&modelFilter[]=E-Class",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "cilinderCapacityFilter[]",
            "in": "query",
            "description": "Filter value to apply on cilinder capacities. Repeat this parameter for each cilinder capacity value to include in the filter. The filter value must match exactly the value from the returned facet. Examples: cilinderCapacityFilter[]=2.0 or cilinderCapacityFilter[]=2.0&cilinderCapacityFilter[]=3.0",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "driveTypeFilter[]",
            "in": "query",
            "description": "Filter value to apply on drive types. Repeat this parameter for each drive type value to include in the filter. The filter value must match exactly the value from the returned facet. Examples: driveTypeFilter[]=f.w.d. or driveTypeFilter[]=f.w.d.&driveTypeFilter[]=r.w.d.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fuelFilter[]",
            "in": "query",
            "description": "Filter value to apply on fuels. Repeat this parameter for each fuel value to include in the filter. The filter value must match exactly the value from the returned facet. Examples: fuelFilter[]=Petrol or fuelFilter[]=Petrol&fuelFilter[]=Diesel",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "powerKwFilter[]",
            "in": "query",
            "description": "Filter value to apply on power kW. Repeat this parameter for each power kW value to include in the filter. The filter value must match exactly the value from the returned facet. Examples: powerKwFilter[]=150 or powerKwFilter[]=150&powerKwFilter[]=160",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "powerHpFilter[]",
            "in": "query",
            "description": "Filter value to apply on power HP. Repeat this parameter for each power HP value to include in the filter. The filter value must match exactly the value from the returned facet. Examples: powerHpFilter[]=110 or powerHpFilter[]=110&powerHpFilter[]=120",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "yearFilter[]",
            "in": "query",
            "description": "Filter value to apply on years. Repeat this parameter for each year value to include in the filter. The filter value must match exactly the value from the returned facet. Examples:  yearFilter[]=2021 or yearFilter[]=2021&yearFilter[]=2022",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {
                    "facets": [
                      {
                        "facet": "string",
                        "values": [
                          {
                            "value": "string",
                            "count": 0
                          }
                        ]
                      }
                    ],
                    "results": [
                      {
                        "typeId": 0,
                        "category": "string",
                        "make": "string",
                        "model": "string",
                        "modelCode": "string",
                        "type": "string",
                        "typeCode": "string",
                        "yearStart": 0,
                        "yearEnd": 0,
                        "fuel": "string",
                        "driveType": "string",
                        "cilinderCapacity": "string",
                        "powerHp": "string",
                        "powerKw": "string",
                        "engineCode": "string",
                        "modelImageUrlSmall": "string",
                        "modelImageUrlMedium": "string",
                        "modelImageUrlLarge": "string"
                      }
                    ]
                  },
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {
                    "facets": [
                      {
                        "facet": "string",
                        "values": [
                          {
                            "value": "string",
                            "count": 0
                          }
                        ]
                      }
                    ],
                    "results": [
                      {
                        "typeId": 0,
                        "category": "string",
                        "make": "string",
                        "model": "string",
                        "modelCode": "string",
                        "type": "string",
                        "typeCode": "string",
                        "yearStart": 0,
                        "yearEnd": 0,
                        "fuel": "string",
                        "driveType": "string",
                        "cilinderCapacity": "string",
                        "powerHp": "string",
                        "powerKw": "string",
                        "engineCode": "string",
                        "modelImageUrlSmall": "string",
                        "modelImageUrlMedium": "string",
                        "modelImageUrlLarge": "string"
                      }
                    ]
                  },
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "User unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/types": {
      "get": {
        "tags": [
          "Type"
        ],
        "summary": "/types?language={language}&modelId={modelId} - GET",
        "description": "Retrieves all types",
        "operationId": "get-types-language-language-modelid-modelid",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "modelId",
            "in": "query",
            "description": "Format - int32. The model id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "yearFilter",
            "in": "query",
            "description": "Format - int32. Filter on year",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The order of the returned values \r\n \r\n            Available values: \r\n\r\n            apporder \r\n\r\n            id \r\n\r\n            makename \r\n\r\n            typeyearstart \r\n\r\n            typeyearend \r\n",
            "schema": {
              "type": "string",
              "default": "apporder"
            }
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "types retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TypeListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "typeName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "fuel": "string",
                      "driveType": "string",
                      "cylinderCC": 0,
                      "cylinderCount": 0,
                      "engineBuild": "string",
                      "powerHP": 0,
                      "powerKW": 0,
                      "powerRPM": 0,
                      "valveCount": 0,
                      "modelImageUrlSmall": "string",
                      "modelImageUrlMedium": "string",
                      "modelImageUrlLarge": "string"
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "typeName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "fuel": "string",
                      "driveType": "string",
                      "cylinderCC": 0,
                      "cylinderCount": 0,
                      "engineBuild": "string",
                      "powerHP": 0,
                      "powerKW": 0,
                      "powerRPM": 0,
                      "valveCount": 0,
                      "modelImageUrlSmall": "string",
                      "modelImageUrlMedium": "string",
                      "modelImageUrlLarge": "string"
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "tags": [
          "Model"
        ],
        "summary": "/models?language={language}&makeId={makeId} - GET",
        "description": "Retrieves all models",
        "operationId": "get-models-language-language-makeid-makeid",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "makeId",
            "in": "query",
            "description": "Format - int32. The make id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "yearFilter",
            "in": "query",
            "description": "Format - int32. Filter on year",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The order of the returned values \r\n \r\n            Available values: \r\n\r\n            apporder \r\n\r\n            id \r\n\r\n            makename \r\n\r\n            typeyearstart \r\n\r\n            typeyearend \r\n",
            "schema": {
              "type": "string",
              "default": "apporder"
            }
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Models retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "modelName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "imageUrlSmall": "string",
                      "imageUrlMedium": "string",
                      "imageUrlLarge": "string",
                      "typeYearStart": 0,
                      "typeYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "modelName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "imageUrlSmall": "string",
                      "imageUrlMedium": "string",
                      "imageUrlLarge": "string",
                      "typeYearStart": 0,
                      "typeYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/licenseplates/{countryCode}": {
      "get": {
        "tags": [
          "LicensePlate"
        ],
        "summary": "/licenseplates/{countryCode}?language={language}&licensePlate={licensePlate} - GET",
        "description": "Retrieves a license plate info",
        "operationId": "get-licenseplates-countrycode-language-language-licenseplate-licenseplate",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "The country code of a license plate",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/LicensePlateCountryCode"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "licensePlate",
            "in": "query",
            "description": "The unique combination of a license plate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License plate types retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "typeName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "fuel": "string",
                      "driveType": "string",
                      "cylinderCC": 0,
                      "cylinderCount": 0,
                      "engineBuild": "string",
                      "powerHP": 0,
                      "powerKW": 0,
                      "powerRPM": 0,
                      "valveCount": 0,
                      "modelImageUrlSmall": "string",
                      "modelImageUrlMedium": "string",
                      "modelImageUrlLarge": "string",
                      "categoryId": 0,
                      "categoryName": "string",
                      "makeId": 0,
                      "makeName": "string",
                      "modelId": 0,
                      "modelName": "string",
                      "modelCode": "string",
                      "modelYearStart": 0,
                      "modelYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "typeName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "fuel": "string",
                      "driveType": "string",
                      "cylinderCC": 0,
                      "cylinderCount": 0,
                      "engineBuild": "string",
                      "powerHP": 0,
                      "powerKW": 0,
                      "powerRPM": 0,
                      "valveCount": 0,
                      "modelImageUrlSmall": "string",
                      "modelImageUrlMedium": "string",
                      "modelImageUrlLarge": "string",
                      "categoryId": 0,
                      "categoryName": "string",
                      "makeId": 0,
                      "makeName": "string",
                      "modelId": 0,
                      "modelName": "string",
                      "modelCode": "string",
                      "modelYearStart": 0,
                      "modelYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/recommendations/{typeId}": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "/recommendations/{typeId}?language={language} - GET",
        "description": "Retrieves a specific type by unique id",
        "operationId": "get-recommendations-typeid-language-language",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "Format - int32. The type id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TypeRecommendationOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeRecommendationOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {
                    "id": 0,
                    "appOrder": 0,
                    "typeName": "string",
                    "code": "string",
                    "yearStart": 0,
                    "yearEnd": 0,
                    "fuel": "string",
                    "driveType": "string",
                    "cylinderCC": 0,
                    "cylinderCount": 0,
                    "engineBuild": "string",
                    "powerHP": 0,
                    "powerKW": 0,
                    "powerRPM": 0,
                    "valveCount": 0,
                    "modelImageUrlSmall": "string",
                    "modelImageUrlMedium": "string",
                    "modelImageUrlLarge": "string",
                    "categoryId": 0,
                    "categoryName": "string",
                    "makeId": 0,
                    "makeName": "string",
                    "modelId": 0,
                    "modelName": "string",
                    "modelCode": "string",
                    "modelYearStart": 0,
                    "modelYearEnd": 0,
                    "consumables": [
                      {
                        "name": "string",
                        "description": "string",
                        "code": "string",
                        "displayOrder": 0,
                        "image": "string",
                        "articles": [
                          {
                            "skuNumber": "string",
                            "eanCode": "string",
                            "amountPerPackage": 0,
                            "unitAmount": 0,
                            "unitId": 0,
                            "unitName": "string",
                            "packageTypeId": 0,
                            "packageTypeName": "string",
                            "image": "string"
                          }
                        ]
                      }
                    ],
                    "components": [
                      {
                        "id": 0,
                        "appOrder": 0,
                        "componentName": "string",
                        "componentCode": "string",
                        "componentCategoryId": 0,
                        "productRecommendations": [
                          {
                            "productAppOrder": 0,
                            "productName": "string",
                            "productCode": "string",
                            "productImage": "string",
                            "productUrl": "string",
                            "productPds": "string",
                            "productMsds": "string",
                            "temperatureName": "string",
                            "useAppOrder": 0,
                            "useName": "string",
                            "intervals": [
                              {
                                "appOrder": 0,
                                "intervalName": "string",
                                "intervalType": "string"
                              }
                            ],
                            "salesItems": [
                              {
                                "salesItemId": 0,
                                "partNumber": "string",
                                "eanCode": "string",
                                "packingUnit": 0,
                                "unitTypeId": 0,
                                "unitTypeShort": "string",
                                "unitTypeName": "string",
                                "packagingTypeId": 0,
                                "packagingTypeName": "string",
                                "imageName": "string",
                                "link": "string",
                                "appOrder": 0
                              }
                            ],
                            "brandRanges": [
                              {
                                "brandRangeId": 0,
                                "brandRangeName": "string"
                              }
                            ]
                          }
                        ],
                        "capacities": [
                          {
                            "item": "string",
                            "appOrder": 0,
                            "value": "string",
                            "unit": "string",
                            "condition": "string"
                          }
                        ],
                        "consumables": [
                          {
                            "name": "string",
                            "description": "string",
                            "code": "string",
                            "displayOrder": 0,
                            "image": "string",
                            "articles": [
                              {
                                "skuNumber": "string",
                                "eanCode": "string",
                                "amountPerPackage": 0,
                                "unitAmount": 0,
                                "unitId": 0,
                                "unitName": "string",
                                "packageTypeId": 0,
                                "packageTypeName": "string",
                                "image": "string"
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "disclaimer": "string"
                  },
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeRecommendationOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {
                    "id": 0,
                    "appOrder": 0,
                    "typeName": "string",
                    "code": "string",
                    "yearStart": 0,
                    "yearEnd": 0,
                    "fuel": "string",
                    "driveType": "string",
                    "cylinderCC": 0,
                    "cylinderCount": 0,
                    "engineBuild": "string",
                    "powerHP": 0,
                    "powerKW": 0,
                    "powerRPM": 0,
                    "valveCount": 0,
                    "modelImageUrlSmall": "string",
                    "modelImageUrlMedium": "string",
                    "modelImageUrlLarge": "string",
                    "categoryId": 0,
                    "categoryName": "string",
                    "makeId": 0,
                    "makeName": "string",
                    "modelId": 0,
                    "modelName": "string",
                    "modelCode": "string",
                    "modelYearStart": 0,
                    "modelYearEnd": 0,
                    "consumables": [
                      {
                        "name": "string",
                        "description": "string",
                        "code": "string",
                        "displayOrder": 0,
                        "image": "string",
                        "articles": [
                          {
                            "skuNumber": "string",
                            "eanCode": "string",
                            "amountPerPackage": 0,
                            "unitAmount": 0,
                            "unitId": 0,
                            "unitName": "string",
                            "packageTypeId": 0,
                            "packageTypeName": "string",
                            "image": "string"
                          }
                        ]
                      }
                    ],
                    "components": [
                      {
                        "id": 0,
                        "appOrder": 0,
                        "componentName": "string",
                        "componentCode": "string",
                        "componentCategoryId": 0,
                        "productRecommendations": [
                          {
                            "productAppOrder": 0,
                            "productName": "string",
                            "productCode": "string",
                            "productImage": "string",
                            "productUrl": "string",
                            "productPds": "string",
                            "productMsds": "string",
                            "temperatureName": "string",
                            "useAppOrder": 0,
                            "useName": "string",
                            "intervals": [
                              {
                                "appOrder": 0,
                                "intervalName": "string",
                                "intervalType": "string"
                              }
                            ],
                            "salesItems": [
                              {
                                "salesItemId": 0,
                                "partNumber": "string",
                                "eanCode": "string",
                                "packingUnit": 0,
                                "unitTypeId": 0,
                                "unitTypeShort": "string",
                                "unitTypeName": "string",
                                "packagingTypeId": 0,
                                "packagingTypeName": "string",
                                "imageName": "string",
                                "link": "string",
                                "appOrder": 0
                              }
                            ],
                            "brandRanges": [
                              {
                                "brandRangeId": 0,
                                "brandRangeName": "string"
                              }
                            ]
                          }
                        ],
                        "capacities": [
                          {
                            "item": "string",
                            "appOrder": 0,
                            "value": "string",
                            "unit": "string",
                            "condition": "string"
                          }
                        ],
                        "consumables": [
                          {
                            "name": "string",
                            "description": "string",
                            "code": "string",
                            "displayOrder": 0,
                            "image": "string",
                            "articles": [
                              {
                                "skuNumber": "string",
                                "eanCode": "string",
                                "amountPerPackage": 0,
                                "unitAmount": 0,
                                "unitId": 0,
                                "unitName": "string",
                                "packageTypeId": 0,
                                "packageTypeName": "string",
                                "image": "string"
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "disclaimer": "string"
                  },
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/datasets": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "/datasets - GET",
        "description": "Retrieve all available datasets related to the customer",
        "operationId": "get-datasets",
        "parameters": [
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datasets retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {
                    "datasetCode": "string"
                  },
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {
                    "datasetCode": "string"
                  },
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/types/{typeId}/components": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "/products/{productId}/types/{typeId}/components?language={language} - GET",
        "description": "Retrieves all components related to a combination of productId and typeId",
        "operationId": "get-products-productid-types-typeid-components-language-language",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Format - int32. The id of a product",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "typeId",
            "in": "path",
            "description": "Format - int32. The id of a type",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Components retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "componentName": "string",
                      "componentCode": "string",
                      "componentCategoryId": 0
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "componentName": "string",
                      "componentCode": "string",
                      "componentCategoryId": 0
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "User unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/makes/{makeId}/models": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "/products/{productId}/makes/{makeId}/models?language={language} - GET",
        "description": "Retrieves all models related to a combination of productId and makeId",
        "operationId": "get-products-productid-makes-makeid-models-language-language",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Format - int32. The id of a product",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "makeId",
            "in": "path",
            "description": "Format - int32. The id of a make",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Models retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "modelName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "imageUrlSmall": "string",
                      "imageUrlMedium": "string",
                      "imageUrlLarge": "string",
                      "typeYearStart": 0,
                      "typeYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "modelName": "string",
                      "code": "string",
                      "yearStart": 0,
                      "yearEnd": 0,
                      "imageUrlSmall": "string",
                      "imageUrlMedium": "string",
                      "imageUrlLarge": "string",
                      "typeYearStart": 0,
                      "typeYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "User unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/categories": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "/products/{productId}/categories?language={language} - GET",
        "description": "Retrieves all categories related to a product",
        "operationId": "get-products-productid-categories-language-language",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Format - int32. The id of a product",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "x-oly-subscription",
            "in": "header",
            "description": "Subscription key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-oly-dataset",
            "in": "header",
            "description": "Dataset name header for dataset selection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product categories retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "categoryName": "string",
                      "typeYearStart": 0,
                      "typeYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": [
                    {
                      "id": 0,
                      "appOrder": 0,
                      "categoryName": "string",
                      "typeYearStart": 0,
                      "typeYearEnd": 0
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": ""
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectOperationResult"
                },
                "example": {
                  "success": true,
                  "statusCode": 0,
                  "resultData": {},
                  "message": "string"
[...]
