openapi: 3.0.3
info:
  title: BigCommerce Catalog API
  description: Combined BigCommerce Catalog API specification including products, categories, brands, and variants.
  version: 1.0.0
servers:
  - url: https://api.bigcommerce.com/stores/{store_hash}/v3
    variables:
      store_hash:
        default: your_store_hash
tags:
  - name: Batch metafields
  - name: Brands
  - name: Bulk pricing rules
  - name: Categories
  - name: Categories (deprecated)
  - name: Category assignments
  - name: Category trees
  - name: Channel assignments
  - name: Complex rules
  - name: Custom fields
  - name: Images
  - name: Metafields
  - name: Product modifiers
  - name: Product variant options
  - name: Product variants
  - name: Products
  - name: Reviews
  - name: Sort order
  - name: Summary
  - name: Values
  - name: Variants (Batch)
  - name: Videos
paths:
  /catalog/brands:
    get:
      tags:
        - Brands
      summary: Get All Brands
      description: Returns a list of brands. Optional filter parameters can be passed in.
      operationId: getBrands
      parameters:
        - $ref: '#/components/parameters/IdQuery'
        - $ref: '#/components/parameters/IdInQuery'
        - $ref: '#/components/parameters/IdNotInQuery'
        - $ref: '#/components/parameters/IdMinQuery'
        - $ref: '#/components/parameters/IdMaxQuery'
        - $ref: '#/components/parameters/IdGreaterQuery'
        - $ref: '#/components/parameters/IdLessQuery'
        - $ref: '#/components/parameters/NameQuery'
        - $ref: '#/components/parameters/NameLikeQuery'
        - $ref: '#/components/parameters/PageTitleQuery'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/IncludeFieldsQuery'
        - $ref: '#/components/parameters/ExcludeFieldsQuery'
        - $ref: '#/components/parameters/SortQuery'
        - $ref: '#/components/parameters/DirectionQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Brand Collection Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brand'
                  meta:
                    $ref: '#/components/schemas/MetaCollection'
              example:
                data:
                  - id: 35
                    name: Sagaform
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /brands/Sagaform.html
                      is_customized: false
                  - id: 36
                    name: OFS
                    page_title: OFS
                    meta_keywords:
                      - modern
                      - clean
                      - contemporary
                    meta_description: OFS is a modern brand.
                    image_url: ''
                    search_keywords: kitchen, laundry, cart, storage
                    custom_url:
                      url: /brands/OFS.html
                      is_customized: false
                  - id: 37
                    name: Common Good
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    image_url: >-
                      https://cdn8.bigcommerce.com/s-jrah6gmn/product_images/k/screen%20shot%202018-05-07%20at%2012.24.24%20pm_1525785365__65102.png
                    search_keywords: ''
                    custom_url:
                      url: /brands/Common-Good.html
                      is_customized: false
                  - id: 38
                    name: BigCommerce
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /bigcommerce/
                      is_customized: false
                  - id: 39
                    name: Acme Brand
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    image_url: https://cdn8.bigcommerce.com/s-jrah6gmn/product_images/q/apihqggzm__53766.jpg
                    search_keywords: ''
                    custom_url:
                      url: /test-brand-one/
                      is_customized: false
                  - id: 40
                    name: Fog Linen Work
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /fog-linen-work/
                      is_customized: false
                  - id: 41
                    name: Barr-Co.
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /barr-co/
                      is_customized: false
                  - id: 42
                    name: Thames & Hudson
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /thames-hudson/
                      is_customized: false
                  - id: 43
                    name: Able Brewing
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /able-brewing/
                      is_customized: false
                  - id: 44
                    name: Chemex
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /chemex/
                      is_customized: false
                  - id: 45
                    name: Kinfolk
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /kinfolk/
                      is_customized: false
                  - id: 46
                    name: Iris Hantverk
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /iris-hantverk/
                      is_customized: false
                  - id: 47
                    name: Gather Journal
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /gather-journal/
                      is_customized: false
                  - id: 48
                    name: Openhouse Magazine
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /openhouse-magazine/
                      is_customized: false
                  - id: 49
                    name: Smith Journal
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: description
                    image_url: ''
                    search_keywords: ''
                    custom_url:
                      url: /smith-journal/
                      is_customized: false
                meta:
                  pagination:
                    total: 15
                    count: 15
                    per_page: 50
                    current_page: 1
                    total_pages: 1
                    links:
                      current: '?page=1&limit=50'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Brands
      summary: Create a Brand
      description: |-
        Creates a brand.

        **Required Fields**
        - name

        **Limits**
        - 30,000 brands per store limit
      operationId: createBrand
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Brand Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Brand'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
                description: |-
                  Brand Response returns for:
                  * Create Brand
                  * Get Brand by Id
                  * Update Brand by Id
              example:
                data:
                  id: 50
                  name: Common Good
                  meta_keywords:
                    - modern
                    - clean
                    - contemporary
                  meta_description: Common Good is a modern brand
                  image_url: ''
                  search_keywords: kitchen, laundry, cart, storage
                  custom_url:
                    url: /brands/Common-Good.html
                    is_customized: false
                meta: {}
        '207':
          $ref: '#/components/responses/MultiStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Brand was in conflict with another brand. This is the result of duplicate unique fields such as name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: >-
            Brand was not valid. This is the result of missing required fields, or of invalid data. See the response for
            more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Brands
      summary: Delete Brands
      description: To delete brand objects, you must include a value for the name filter.
      operationId: deleteBrands
      parameters:
        - $ref: '#/components/parameters/NameRequired'
        - $ref: '#/components/parameters/PageTitleQuery'
      responses:
        '204':
          description: ''
          content: {}
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Accept'
  /catalog/brands/metafields:
    get:
      summary: Get All Brand Metafields
      tags:
        - Batch metafields
      description: Get all brand metafields.
      operationId: getBrandsMetafields
      responses:
        '200':
          description: |
            List of `Metafield` objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  errors: {}
      parameters:
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/MetafieldKeyParam'
        - $ref: '#/components/parameters/MetafieldKeyInParam'
        - $ref: '#/components/parameters/MetafieldNamespaceParam'
        - $ref: '#/components/parameters/MetafieldNamespaceInParam'
        - $ref: '#/components/parameters/DirectionParam'
        - $ref: '#/components/parameters/IncludeFieldsParamMetafields'
        - $ref: '#/components/parameters/date_modified_min'
        - $ref: '#/components/parameters/date_modified_max'
        - $ref: '#/components/parameters/date_created_min'
        - $ref: '#/components/parameters/date_created_max'
        - $ref: '#/components/parameters/BeforeCursorParam'
        - $ref: '#/components/parameters/AfterCursorParam'
    post:
      summary: Create multiple metafields
      tags:
        - Batch metafields
      description: Create multiple metafields.
      operationId: createBrandsMetafields
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MetafieldPost'
        description: ''
      responses:
        '200':
          description: |
            List of created `Metafield` objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePostPut'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '422':
          description: |
            Response object for metafields creation with partial success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccessPostPut'
    put:
      summary: Update multiple metafields
      tags:
        - Batch metafields
      description: Create multiple metafields.
      operationId: updateBrandsMetafields
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MetafieldFull'
        description: ''
      responses:
        '200':
          description: |
            List of updated `Metafield` objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePostPut'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  errors:
                    type: object
                    properties: {}
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                errors: {}
        '422':
          description: JSON data is missing or invalid
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  errors:
                    type: object
                    properties: {}
                    description: Empty for 200 responses.
    delete:
      summary: Delete Multiple Metafields
      tags:
        - Batch metafields
      description: Delete all brand metafields.
      operationId: deleteBrandsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield IDs.
      responses:
        '200':
          description: |
            Response object for metafields deletion with success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '422':
          description: |
            Response object for metafields deletion with partial success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccessDelete'
    parameters:
      - $ref: '#/components/parameters/Accept'
  /catalog/brands/{brand_id}:
    get:
      tags:
        - Brands
      summary: Get a Brand
      description: Returns a single brand. Optional filter parameters can be passed in.
      operationId: getBrand
      parameters:
        - $ref: '#/components/parameters/IncludeFieldsQuery'
        - $ref: '#/components/parameters/ExcludeFieldsQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Brand Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Brand'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
                description: |-
                  Brand Response returns for:
                  * Create Brand
                  * Get Brand by Id
                  * Update Brand by Id
              example:
                data:
                  id: 50
                  name: Common Good
                  meta_keywords:
                    - modern
                    - clean
                    - contemporary
                  meta_description: Common Good is a modern brand
                  image_url: ''
                  search_keywords: kitchen, laundry, cart, storage
                  custom_url:
                    url: /brands/Common-Good.html
                    is_customized: false
                meta: {}
        '207':
          $ref: '#/components/responses/MultiStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ErrorWithDetails'
    put:
      tags:
        - Brands
      summary: Update a Brand
      description: |-
        Updates a brand.

        To update a brand image, send a request with an `image_url`.
      operationId: updateBrand
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Brand Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Brand'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
                description: |-
                  Brand Response returns for:
                  * Create Brand
                  * Get Brand by Id
                  * Update Brand by Id
              example:
                data:
                  id: 50
                  name: Common Good
                  meta_keywords:
                    - modern
                    - clean
                    - contemporary
                  meta_description: Common Good is a modern brand
                  image_url: ''
                  search_keywords: kitchen, laundry, cart, storage
                  custom_url:
                    url: /brands/Common-Good.html
                    is_customized: false
                meta: {}
        '207':
          $ref: '#/components/responses/MultiStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBase'
        '409':
          description: >
            The `Brand` was in conflict with another product. This is the result of duplicate unique values, such as
            `name`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: >
            The `Brand` was not valid. This is the result of missing required fields, or of invalid data. See the
            response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Brands
      summary: Delete a Brand
      description: Deletes a brand.
      operationId: deleteBrand
      responses:
        '204':
          description: ''
          content: {}
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/NotFoundError'
    parameters:
      - $ref: '#/components/parameters/BrandIdPath'
      - $ref: '#/components/parameters/Accept'
  /catalog/brands/{brand_id}/image:
    post:
      tags:
        - Images
      summary: Create a Brand Image
      description: >-
        Creates a brand image.


        **Required Fields**

        - image_file: Form posts are the only accepted upload option. For more information on how to upload an image see
        [Adding product images](/docs/store-operations/catalog#adding-product-images). NOTE:  Ensure you set the
        `Content-Type` header to `multipart/form-data; boundary=--example-boundary--` and set the correct URL for this
        endpoint.


        **Read-Only Fields**

        - id


        Only one image at a time can be created. To update a brand image, use the [Update a
        brand](/docs/rest-catalog/brands#update-a-brand) endpoint and an `image_url`.
      operationId: createBrandImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image_file:
                  type: string
                  format: binary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Brand Image Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      image_url:
                        type: string
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
              example:
                data:
                  image_url: https://cdn11.bigcommerce.com/s-{store_hash}/product_images/k/group_1545334669__76009.png
                meta: {}
        '400':
          description: >-
            Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include
            malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: >-
            Image was not valid. This is the result of a missing `image_file` field, or of an incorrect file type. See
            the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
    delete:
      tags:
        - Images
      summary: Delete a Brand Image
      description: Deletes a brand image.
      operationId: deleteBrandImage
      responses:
        '204':
          description: ''
          content: {}
    parameters:
      - $ref: '#/components/parameters/BrandIdPath'
      - $ref: '#/components/parameters/Accept'
  /catalog/brands/{brand_id}/metafields:
    get:
      tags:
        - Metafields
      summary: Get brand metafields
      description: Returns a list of brand metafields. Optional filter parameters can be passed in.
      operationId: getBrandMetafields
      parameters:
        - $ref: '#/components/parameters/IdQuery'
        - $ref: '#/components/parameters/IdInQuery'
        - $ref: '#/components/parameters/IdNotInQuery'
        - $ref: '#/components/parameters/IdMinQuery'
        - $ref: '#/components/parameters/IdMaxQuery'
        - $ref: '#/components/parameters/IdGreaterQuery'
        - $ref: '#/components/parameters/IdLessQuery'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/MetafieldKeyParam'
        - $ref: '#/components/parameters/MetafieldNamespaceParam'
        - $ref: '#/components/parameters/IncludeFieldsQuery'
        - $ref: '#/components/parameters/ExcludeFieldsQuery'
        - $ref: '#/components/parameters/BeforeCursorParam'
        - $ref: '#/components/parameters/AfterCursorParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Metafield Collection Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetafieldFull'
                  meta:
                    $ref: '#/components/schemas/MetaCollection'
              example:
                data:
                  - id: 6
                    key: Location
                    value: 4HG
                    namespace: Warehouse Locations
                    permission_set: app_only
                    resource_type: brand
                    resource_id: 111
                    description: Location in the warehouse
                    date_created: '1973-01-20T21:34:57.903Z'
                    date_modified: '1990-12-30T00:29:23.515Z'
                    owner_client_id: e8o0nm9ujew7byzu6x5dwjqe2rya2fv
                  - id: 7
                    key: Brand location
                    value: 4HG
                    namespace: Warehouse Locations
                    permission_set: read
                    resource_type: brand
                    resource_id: 111
                    description: Location in the warehouse
                    date_created: '1973-01-20T21:34:57.903Z'
                    date_modified: '1990-12-30T00:29:23.515Z'
                    owner_client_id: e8o0nm9ujew7byzu6x5dwjqe2rya2fv
                meta:
                  pagination:
                    total: 2
                    count: 2
                    per_page: 50
                    current_page: 1
                    total_pages: 1
                    links:
                      current: '?page=1&limit=50'
    post:
      tags:
        - Metafields
      summary: Create a Brand Metafield
      description: >-
        Creates a brand metafield.


        **Note:** The maximum number of metafields allowed on each order, product, category, variant, or brand is 250
        per client ID. For more information, see [Platform
        Limits](https://support.bigcommerce.com/s/article/Platform-Limits) in the Help Center.
      operationId: createBrandMetafield
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetafieldBase'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Metafield Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MetafieldFull'
                  meta:
                    title: Meta
                    type: object
                    properties: {}
                    description: Empty meta object; may be used later.
              examples:
                example-1:
                  value:
                    data:
                      id: 4
                      key: location_id
                      value: Shelf 3, Bin 5
                      namespace: App Namespace
                      permission_set: app_only
                      resource_type: brand
                      resource_id: 137
                      description: Where products are located
                      date_created: '2021-08-06T19:15:35+00:00'
                      date_modified: '2021-08-06T19:15:35+00:00'
                      owner_client_id: e8o0nm9ujew7byzu6x5dwjqe2rya2fv
                    meta: {}
                example-2:
                  value:
                    data:
                      id: 6
                      key: Location
                      value: 4HG
                      namespace: Warehouse Locations
                      permission_set: app_only
                      resource_type: category
                      resource_id: 111
                      description: Location in the warehouse.
                      date_created: '2018-05-07T20:14:17+00:00'
                      date_modified: '2018-05-07T20:14:17+00:00'
                      owner_client_id: e8o0nm9ujew7byzu6x5dwjqe2rya2fv
                    meta: {}
                example-3:
                  value:
                    data:
                      id: 4
                      key: location_id
                      value: Shelf 3, Bin 5
                      namespace: App Namespace
                      permission_set: app_only
                      resource_type: brand
                      resource_id: 137
                      description: Where products are located.
                      date_created: '2021-08-06T19:15:35+00:00'
                      date_modified: '2021-08-06T19:15:35+00:00'
                      owner_client_id: e8o0nm9ujew7byzu6x5dwjqe2rya2fv
                    meta: {}
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate unique key
            combination of the appʼs client id, namespace, key, resource_type, and resource_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the
            response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
      x-codegen-request-body-name: Metafield
    parameters:
      - $ref: '#/components/parameters/BrandIdPath'
      - $ref: '#/components/parameters/Accept'
  /catalog/brands/{brand_id}/metafields/{metafield_id}:
    get:
      tags:
        - Metafields
      summary: Get a Brand Metafields
      description: Returns a brand metafield. Optional filter parameters can be passed in.
      operationId: getBrandMetafield
      parameters:
        - $ref: '#/components/parameters/IncludeFieldsQuery'
        - $ref: '#/components/parameters/ExcludeFieldsQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Metafield Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MetafieldFull'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
              example:
                data:
                  id: 4
                  key: location_id
                  value: Shelf 3, Bin 5
                  namespace: App Namespace
                  permission_set: app_only
                  resource_type: product
                  resource_id: 137
                  description: Where products are located
                  date_created: '2021-08-06T19:15:35+00:00'
                  date_modified: '2021-08-06T19:15:35+00:00'
                  owner_client_id: e8o0nm9ujew7byzu6x5dwjqe2rya2fv
                meta: {}
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    put:
      tags:
        - Metafields
      summary: Update a Brand Metafield
      description: "Updates a brand metafield.\n\n**Required Fields**  \n* none\n\n**Read-Only Fields**\n* id\n* These fields can only be modified by the app (API credentials) that created the metafield:\n\t* namespace\n\t* key\n\t* permission_set\n\n**Usage Notes**\n* Attempting to modify `namespace`, `key`, and `permission_set` fields using a client ID different from the one used to create those metafields will result in a 403 error message.\n* The maximum number of metafields allowed on each order, product, category, variant, or brand is 250 per client ID. For more information, see [Platform Limits](https://support.bigcommerce.com/s/article/Platform-Limits) in the Help Center."
      operationId: updateBrandMetafield
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetafieldBasePut'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Metafield Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MetafieldFull'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
              example:
                data:
                  id: 4
                  key: location_id
                  value: Shelf 3, Bin 5
                  namespace: App Namespace
                  permission_set: app_only
                  resource_type: product
                  resource_id: 137
                  description: Where products are located
                  date_created: '2021-08-06T19:15:35+00:00'
                  date_modified: '2021-08-06T19:15:35+00:00'
                meta: {}
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
      x-codegen-request-body-name: Metafield
    delete:
      tags:
        - Metafields
      summary: Delete a Brand Metafield
      description: Deletes a brand metafield.
      operationId: deleteBrandMetafield
      responses:
        '204':
          description: ''
          content: {}
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    parameters:
      - $ref: '#/components/parameters/BrandIdPath'
      - $ref: '#/components/parameters/MetafieldIdPath'
      - $ref: '#/components/parameters/Accept'
  /catalog/categories:
    get:
      tags:
        - Categories (deprecated)
      deprecated: true
      summary: Get All Categories
      description: >-
        When possible, use the [Catalog Trees - Get all
        categories](/docs/rest-catalog/category-trees/categories#get-all-categories) endpoint instead.


        Returns a list of *Categories*. Optional filter parameters can be passed in.


        **Note:**

        The default rate limit for this endpoint is 40 concurrent requests.
      operationId: getCategories
      parameters:
        - $ref: '#/components/parameters/IdCategoryQueryParam'
        - $ref: '#/components/parameters/IdInParam'
        - $ref: '#/components/parameters/IdNotInParam'
        - $ref: '#/components/parameters/IdMinParam'
        - $ref: '#/components/parameters/IdMaxParam'
        - $ref: '#/components/parameters/IdGreaterParam'
        - $ref: '#/components/parameters/IdLessParam'
        - $ref: '#/components/parameters/NameParam'
        - $ref: '#/components/parameters/NameLikeParam'
        - $ref: '#/components/parameters/ParentIdParam'
        - $ref: '#/components/parameters/ParentIdInParam'
        - $ref: '#/components/parameters/ParentIdMinParam'
        - $ref: '#/components/parameters/ParentIdMaxParam'
        - $ref: '#/components/parameters/ParentIdGreaterParam'
        - $ref: '#/components/parameters/ParentIdLessParam'
        - $ref: '#/components/parameters/PageTitleParam'
        - $ref: '#/components/parameters/PageTitleLikeParam'
        - $ref: '#/components/parameters/KeywordParam'
        - $ref: '#/components/parameters/IsVisibleParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFieldsParam'
        - $ref: '#/components/parameters/ExcludeFieldsParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Category Base
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  meta:
                    $ref: '#/components/schemas/MetaCollection'
              example:
                data:
                  - id: 19
                    parent_id: 0
                    name: Garden
                    description: <p>This is the garden description</p>
                    views: 0
                    sort_order: 2
                    page_title: page title
                    meta_keywords:
                      - meta keyword
                    meta_description: meta description
                    layout_file: category.html
                    image_url: ''
                    is_visible: true
                    search_keywords: search keywords
                    default_product_sort: use_store_settings
                    custom_url:
                      url: /garden/
                      is_customized: false
                  - id: 20
                    parent_id: 0
                    name: Publications
                    description: ''
                    views: 0
                    sort_order: 4
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    layout_file: category_with_facets.html
                    image_url: ''
                    is_visible: true
                    search_keywords: ''
                    default_product_sort: use_store_settings
                    custom_url:
                      url: /publications/
                      is_customized: false
                  - id: 21
                    parent_id: 0
                    name: Kitchen
                    description: ''
                    views: 0
                    sort_order: 3
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    layout_file: category_with_facets.html
                    image_url: ''
                    is_visible: true
                    search_keywords: ''
                    default_product_sort: use_store_settings
                    custom_url:
                      url: /kitchen/
                      is_customized: false
                  - id: 22
                    parent_id: 0
                    name: Utility
                    description: ''
                    views: 0
                    sort_order: 5
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    layout_file: category_with_facets.html
                    image_url: ''
                    is_visible: true
                    search_keywords: ''
                    default_product_sort: use_store_settings
                    custom_url:
                      url: /utility/
                      is_customized: false
                  - id: 23
                    parent_id: 0
                    name: Shop All
                    description: ''
                    views: 0
                    sort_order: 0
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    layout_file: category_with_facets.html
                    image_url: ''
                    is_visible: true
                    search_keywords: ''
                    default_product_sort: use_store_settings
                    custom_url:
                      url: /shop-all/
                      is_customized: false
                  - id: 39
                    parent_id: 19
                    name: Bath
                    description: ''
                    views: 0
                    sort_order: 0
                    page_title: ''
                    meta_keywords:
                      - ''
                    meta_description: ''
                    layout_file: category.html
                    image_url: ''
                    is_visible: true
                    search_keywords: ''
                    default_product_sort: use_store_settings
                    custom_url:
                      url: /garden/bath/
                      is_customized: false
                meta:
                  pagination:
                    total: 6
                    count: 6
                    per_page: 50
                    current_page: 1
                    total_pages: 1
                    links:
                      current: '?page=1&limit=50'
    post:
      tags:
        - Categories (deprecated)
      deprecated: true
      summary: Create a Category
      description: "When possible, use the [Category Trees - Create categories](/docs/rest-catalog/category-trees/categories#create-categories) endpoint instead.\n\nCreates a *Category*.\n\nUse this endpoint when an API only works with categories of a default BigCommerce storefront (`channel_id=1`). \n\nUse the [Create categories](/docs/rest-catalog/category-trees/categories#create-categories) endpoint when an API works with categories across different category trees that belong to different storefront channels.\n\n**Required Fields**:\n- `parent_id`: \n\t- To create a child category, set the `parent_id` to the parent category.\n\t- To create a top level category, set the `parent_id` to `0`.\n- `name`\n\n**Read-Only Fields**:\n- `id`\n\n**Limits**:\n- 16,000 categories per store limit.\n- 1,000 categories per product limit.\n- 50 characters category name length.\n- 8 levels of child categories depth limit.\n- 65,535 characters category description length limit."
      operationId: createCategory
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryFull'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Category Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CategoryFull'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
        '207':
          description: >-
            Multiple operations have taken place and the status for each operation can be viewed in the body of the
            response. Typically indicates that a partial failure has occurred, such as when a `POST` or `PUT` request is
            successful, but saving the URL has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBase'
        '409':
          description: >
            The `Category` was in conflict with another category. This is the result of duplicate unique values, such as
            `name` or `custom_url`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
        '422':
          description: >
            The `Category` was not valid. This is the result of missing required fields, or of invalid data. See the
            response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
      x-codegen-request-body-name: category
    delete:
      tags:
        - Categories (deprecated)
      deprecated: true
      summary: Delete Categories
      description: >-
        When possible, use the [Category Trees - Delete
        categories](/docs/rest-catalog/category-trees/categories#delete-categories) endpoint instead.


        Deletes *Category* objects. At least one filter parameter is required to perform the `DELETE` operation.


        **Usage Notes**


        - Sending a `DELETE`request without specifying a filter parameter will result in a `422` error. 

        - Sending a `DELETE` request for a category that contains products will result in a `422` error. Move products
        to a new category by sending a `PUT` request to the `/catalog/products/{product_id}` endpoint before deleting a
        category.
      operationId: deleteCategories
      parameters:
        - $ref: '#/components/parameters/IdCategoryQueryParam'
        - $ref: '#/components/parameters/IdInParam'
        - $ref: '#/components/parameters/IdNotInParam'
        - $ref: '#/components/parameters/IdMinParam'
        - $ref: '#/components/parameters/IdMaxParam'
        - $ref: '#/components/parameters/IdGreaterParam'
        - $ref: '#/components/parameters/IdLessParam'
        - $ref: '#/components/parameters/NameParam'
        - $ref: '#/components/parameters/ParentIdParam'
        - $ref: '#/components/parameters/PageTitleParam'
        - $ref: '#/components/parameters/KeywordParam'
        - $ref: '#/components/parameters/IsVisibleParam'
        - $ref: '#/components/parameters/NameLikeParam'
        - $ref: '#/components/parameters/ParentIdInParam'
        - $ref: '#/components/parameters/ParentIdMinParam'
        - $ref: '#/components/parameters/ParentIdMaxParam'
        - $ref: '#/components/parameters/ParentIdGreaterParam'
        - $ref: '#/components/parameters/ParentIdLessParam'
        - $ref: '#/components/parameters/PageTitleLikeParam'
      responses:
        '204':
          description: ''
          content: {}
    parameters:
      - $ref: '#/components/parameters/Accept'
  /catalog/categories/metafields:
    get:
      summary: Get All Category Metafields
      tags:
        - Batch metafields
      description: Get all category metafields.
      operationId: getCategoriesMetafields
      responses:
        '200':
          description: |
            List of `Metafield` objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse'
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/MetafieldKeyParam'
        - $ref: '#/components/parameters/MetafieldKeyInParam'
        - $ref: '#/components/parameters/MetafieldNamespaceParam'
        - $ref: '#/components/parameters/MetafieldNamespaceInParam'
        - $ref: '#/components/parameters/DirectionParam'
        - $ref: '#/components/parameters/IncludeFieldsParamMetafields'
        - $ref: '#/components/parameters/date_modified_min'
        - $ref: '#/components/parameters/date_modified_max'
        - $ref: '#/components/parameters/date_created_min'
        - $ref: '#/components/parameters/date_created_max'
        - $ref: '#/components/parameters/BeforeCursorParam'
        - $ref: '#/components/parameters/AfterCursorParam'
    post:
      summary: Create multiple Metafields
      tags:
        - Batch metafields
      description: Create multiple metafields.
      operationId: createCategoriesMetafields
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MetafieldPost'
        description: ''
      responses:
        '200':
          description: |
            List of created `Metafield` objects.  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePostPut'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '422':
          description: |
            Response object for metafields creation with partial success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccessPostPut'
    put:
      summary: Update multiple Metafields
      tags:
        - Batch metafields
      description: Create multiple metafields.
      operationId: updateCategoriesMetafields
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MetafieldFull'
        description: ''
      responses:
        '200':
          description: |
            List of updated `Metafield` objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePostPut'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '422':
          description: |
            Response object for metafields creation with partial success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccessPostPut'
    delete:
      summary: Delete Multiple Metafields
      tags:
        - Batch metafields
      description: Delete all category metafields.
      operationId: deleteCategoriesMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield IDs.
      responses:
        '200':
          description: |
            Response object for metafields deletion with success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '422':
          description: |
            Response object for metafields deletion with partial success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccessDelete'
    parameters:
      - $ref: '#/components/parameters/Accept'
  /catalog/categories/{category_id}:
    get:
      tags:
        - Categories (deprecated)
      deprecated: true
      summary: Get a Category
      description: >-
        When possible, use the [Catalog Trees - Get all
        categories](/docs/rest-catalog/category-trees/categories#get-all-categories) endpoint instead. You can provide a
        category identifier using query parameters to retrieve a single category.


        Returns a single *Category*. Optional parameters can be passed in.


        **Note:**

        The default rate limit for this endpoint is 40 concurrent requests.
      operationId: getCategory
      parameters:
        - $ref: '#/components/parameters/IncludeFieldsParam'
        - $ref: '#/components/parameters/ExcludeFieldsParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Category Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CategoryFull'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    put:
      tags:
        - Categories (deprecated)
      deprecated: true
      summary: Update a Category
      description: >-
        When possible, use the [Catalog Trees - Update
        categories](/docs/rest-catalog/category-trees/categories#update-categories) endpoint instead.


        Updates a *Category*.


        **Required Fields**

        * none


        **Read-Only Fields**

        - id


        **Note:** 

        The default rate limit for this endpoint is 40 concurrent requests.
      operationId: updateCategory
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryFull'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Category Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CategoryFull'
                  meta:
                    title: Meta
                    type: object
                    properties: {}
                    description: Empty meta object; may be used later.
        '207':
          $ref: '#/components/responses/General207Status'
        '404':
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '409':
          description: >-
            The `Category` was in conflict with another category. This is the result of duplicate unique values, such as
            `name` or `custom_url`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
        '422':
          description: >-
            The `Category` was not valid. This is the result of missing required fields, or of invalid data. See the
            response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
      x-codegen-request-body-name: category
    delete:
      tags:
        - Categories (deprecated)
      deprecated: true
      summary: Delete a Category
      description: >-
        When possible, use the [Category Trees - Delete
        categories](/docs/rest-catalog/category-trees/categories#delete-categories) endpoint instead. You can provide a
        category identifier using query parameters to delete a single category.


        Deletes a *Category*.


        **Note:**

        The default rate limit for this endpoint is 40 concurrent requests.
      operationId: deleteCategory
      responses:
        '204':
          description: ''
          content: {}
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/CategoryIdParam'
  /catalog/categories/{category_id}/image:
    post:
      tags:
        - Images
      summary: Create a Category Image
      description: >-
        Create a *Category Image*.

         **Required Fields**
        - image_file: Form posts are the only accepted upload option.


        Only one image at a time can be created.


        Supported file types are `JPEG/JPG`, `GIF`, `PNG` and `ICO`.


        Limit image size to `8MB`.

        To update a *Category Image*, use the [Update
        categories](/docs/rest-catalog/category-trees/categories#update-categories) endpoint and an `image_url`.
      operationId: createCategoryImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image_file:
                  type: string
                  format: binary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Create Image Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      image_url:
                        type: string
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
              example:
                data:
                  image_url: https://cdn11.bigcommerce.com/s-{store_hash}/product_images/k/group_1545334669__76009.png
                meta: {}
        '400':
          description: >-
            Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include
            malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties: {}
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: >
            Image was not valid. This is the result of a missing `image_file` field or an incorrect file type. See the
            response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
    delete:
      tags:
        - Images
      summary: Delete a Category Image
      description: Deletes a *Category Image*.
      operationId: deleteCategoryImage
      responses:
        '204':
          description: ''
          content: {}
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/CategoryIdParam'
  /catalog/categories/{category_id}/metafields:
    get:
      tags:
        - Metafields
      summary: Get Category Metafields
      description: Returns a list of *Metafields* on a *Category*. Optional filter parameters can be passed in.
      operationId: getCategoryMetafields
      parameters:
        - $ref: '#/components/parameters/IdMetafieldQueryParam'
        - $ref: '#/components/parameters/IdInParam'
        - $ref: '#/components/parameters/IdNotInParam'
        - $ref: '#/components/parameters/IdMinParam'
        - $ref: '#/components/parameters/IdMaxParam'
        - $ref: '#/components/parameters/IdGreaterParam'
        - $ref: '#/components/parameters/IdLessParam'
        - $ref: '#/components/parameters/MetafieldKeyParam'
        - $ref: '#/components/parameters/MetafieldNamespaceParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFieldsParam'
        - $ref: '#/components/parameters/ExcludeFieldsParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Meta Field Collection Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetafieldFull'
                  meta:
                    $ref: '#/components/schemas/MetaCollection'
              example:
                data:
                  - id: 6
                    key: Location
                    value: 4HG
                    namespace: Warehouse Locations
                    permission_set: app_only
                    resource_type: category
                    resource_id: 111
                    description: Location in the warehouse
                    date_created: '1973-01-20T21:34:57.903Z'
                    date_modified: '1990-12-30T00:29:23.515Z'
                  - id: 7
                    key: Location
                    value: 4HG
                    namespace: Warehouse Locations
                    permission_set: read
                    resource_type: category
                    resource_id: 111
                    description: Location in the warehouse
                    date_created: '1973-01-20T21:34:57.903Z'
                    date_modified: '1990-12-30T00:29:23.515Z'
                meta:
                  pagination:
                    total: 2
                    count: 2
                    per_page: 50
                    current_page: 1
                    total_pages: 1
                    links:
                      current: '?page=1&limit=50'
    post:
      tags:
        - Metafields
      summary: Create a Category Metafield
      description: >-
        Creates a *Category Metafield*.


        **Required Fields:**

        - permission_set

        - namespace

        - key

        - value


        **Read-Only Fields**

        - id


        **Note:** The maximum number of metafields allowed on each order, product, category, variant, or brand is 250
        per client ID. For more information, see [Platform Limits (Help
        Center)](https://support.bigcommerce.com/s/article/Platform-Limits) in the Help Center.
      operationId: createCategoryMetafield
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetafieldBase'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Metafield Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MetafieldFull'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
              example:
                data:
                  id: 4
                  key: location_id
                  value: Shelf 3, Bin 5
                  namespace: App Namespace
                  permission_set: app_only
                  resource_type: category
                  resource_id: 137
                  description: Where products are located
                  date_created: '2021-08-06T19:15:35+00:00'
                  date_modified: '2021-08-06T19:15:35+00:00'
                meta: {}
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate, unique key
            combinations of the appʼs client id, namespace, key, resource_type, and resource_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the
            response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beta4errorResponse'
      x-codegen-request-body-name: Metafield
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/CategoryIdParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/MetafieldKeyParam'
      - $ref: '#/components/parameters/MetafieldKeyInParam'
      - $ref: '#/components/parameters/MetafieldNamespaceParam'
      - $ref: '#/components/parameters/MetafieldNamespaceInParam'
      - $ref: '#/components/parameters/DirectionParam'
      - $ref: '#/components/parameters/IncludeFieldsParamMetafields'
      - $ref: '#/components/parameters/date_created_min'
      - $ref: '#/components/parameters/date_created_max'
      - $ref: '#/components/parameters/date_modified_min'
      - $ref: '#/components/parameters/date_modified_max'
      - $ref: '#/components/parameters/BeforeCursorParam'
      - $ref: '#/components/parameters/AfterCursorParam'
  /catalog/categories/{category_id}/metafields/{metafield_id}:
    get:
      tags:
        - Metafields
      summary: Get a Category Metafield
      description: Returns a single *Category Metafield*. Optional parameters can be passed in.
      operationId: getCategoryMetafield
      parameters:
        - $ref: '#/components/parameters/IncludeFieldsParam'
        - $ref: '#/components/parameters/ExcludeFieldsParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Metafield Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MetafieldFull'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
              example:
                data:
                  id: 4
                  key: location_id
                  value: Shelf 3, Bin 5
                  namespace: App Namespace
                  permission_set: app_only
                  resource_type: category
                  resource_id: 137
                  description: Where products are located
                  date_created: '2021-08-06T19:15:35+00:00'
                  date_modified: '2021-08-06T19:15:35+00:00'
                meta: {}
        '404':
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    put:
      tags:
        - Metafields
      summary: Update a Category Metafield
      description: "Updates a *Category Metafield*.\n\n**Required Fields**\n* none\n\n**Read-Only Fields**\n* id\n* These fields can only be modified by the app (API credentials) that created the metafield:\n\t* namespace\n\t* key\n\t* permission_set\n\n**Usage Notes**\n* Attempting to modify `namespace`, `key`, and `permission_set` fields using a client ID different from the one used to create those metafields will result in a 403 error message. "
      operationId: updateCategoryMetafield
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetafieldBase'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Metafield Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MetafieldFull'
                  meta:
                    $ref: '#/components/schemas/MetaEmpty'
              example:
                data:
                  id: 4
                  key: location_id
                  value: Shelf 3, Bin 5
                  namespace: App Namespace
                  permission_set: app_only
                  resource_type: category
                  resource_id: 137
                  description: Where products are located
                  date_created: '2021-08-06T19:15:35+00:00'
                  date_modified: '2021-08-06T19:15:35+00:00'
                meta: {}
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
      x-codegen-request-body-name: Metafield
    delete:
      tags:
        - Metafields
      summary: Delete a Category Metafield
      description: Deletes a *Category Metafield*.
      operationId: deleteCategoryMetafield
      responses:
        '204':
          description: ''
          content: {}
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/CategoryIdParam'
      - $ref: '#/components/parameters/MetafieldIdParam'
  /catalog/categories/{category_id}/products/sort-order:
    get:
      tags:
        - Sort order
      summary: Get Product Sort Order
      description: >-
        Returns a list of products and their sort order for a specific category.


        **Limits**


        - page=2&limit=250 will return page 2 of the results with 250 items per page.


        **Usage Notes**


        * Product sort order only takes effect on the storefront when sorting by **Featured Items** in the category. See
        [Sort Order](https://support.bigcommerce.com/s/article/Sort-Order) for more information.

        * Data pairs are displayed in ascending order based on products' `sort_order` values.

        * `null` values are allowed for products without specified `sort_order` values.

        * Products with `sort_order` value of `null` will be displayed after products with valid numerical values.

        * The priorities for determining product sort order on a storefront are the following:
            * Priority 1: Manually specified sort order on Category Level (API).
            * Priority 2: Manually specified sort order on Product (Global) Level (UI/API).
            * Priority 3: Default sorting by Product ID (newly added products go first) (UI/API).
            
      operationId: getCategorySortOrders
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Sort Order Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductSortOrder'
                  meta:
                    $ref: '#/components/schemas/MetaCollection'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The requested category was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBase'
    put:
      tags:
        - Sort order
      summary: Update Product Sort Order
      description: Updates sort order of products within a specific category.
      operationId: updateCategorySortOrders
      parameters:
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              title: Product Sort Order Request
              type: array
              items:
                $ref: '#/components/schemas/ProductSortOrder'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Sort Order Response
                type: array
                items:
                  $ref: '#/components/schemas/ProductSortOrder'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The requested category was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBase'
        '415':
          $ref: '#/components/responses/Unsupported'
        '422':
          description: |-
            Unprocessable entity.

            Please verify if all requested products are assigned to the category.

            Please verify if all required fields are present in the request body and are filled with values correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBase'
      x-codegen-request-body-name: body
    parameters:
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/CategoryIdParam'
      - $ref: '#/components/parameters/PageParam'
  /catalog/products:
    get:
      tags:
        - Products
      summary: Get All Products
      description: Returns a list of **Products**. Optional filter parameters can be passed in.
      operationId: getProducts
      parameters:
        - name: id
          in: query
          description: |
            Filter items by product ID.
          schema:
            type: integer
        - $ref: '#/components/parameters/IdInParam'
        - $ref: '#/components/parameters/ChannelIdInParam'
        - $ref: '#/components/parameters/IdNotInParam'
        - $ref: '#/components/parameters/IncludeParamGetProducts'
        - $ref: '#/components/parameters/IncludeFieldsParam'
        - $ref: '#/components/parameters/ExcludeFieldsParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/DirectionParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/CategoriesInParam'
        - $ref: '#/components/parameters/IdMinParam'
        - $ref: '#/components/parameters/IdMaxParam'
        - $ref: '#/components/parameters/IdGreaterParam'
        - $ref: '#/components/parameters/IdLessParam'
        - $ref: '#/components/parameters/NameParam'
        - $ref: '#/components/parameters/MpnParam'
        - $ref: '#/components/parameters/UpcParam'
        - $ref: '#/components/parameters/PriceParam'
        - $ref: '#/components/parameters/WeightParam'
        - $ref: '#/components/parameters/ConditionParam'
        - $ref: '#/components/parameters/BrandIdParam'
        - $ref: '#/components/parameters/DateModifiedParam'
        - $ref: '#/components/parameters/DateModifiedMaxParam'
        - $ref: '#/components/parameters/DateModifiedMinParam'
        - $ref: '#/components/parameters/DateLastImportedParam'
        - $ref: '#/components/parameters/DateLastImportedNotParam'
        - $ref: '#/components/parameters/DateLastImportedMaxParam'
        - $ref: '#/components/parameters/DateLastImportedMinParam'
        - $ref: '#/components/parameters/IsVisibleParam'
        - $ref: '#/components/parameters/IsFeaturedParam'
        - $ref: '#/components/parameters/IsFreeShippingParam'
        - $ref: '#/components/parameters/InventoryLevelParam'
        - $ref: '#/components/parameters/InventoryLevelInParam'
        - $ref: '#/components/parameters/InventoryLevelNotInParam'
        - $ref: '#/components/parameters/InventoryLevelMinParam'
        - $ref: '#/components/parameters/InventoryLevelMaxParam'
        - $ref: '#/components/parameters/InventoryLevelGreaterParam'
        - $ref: '#/components/parameters/InventoryLevelLessParam'
        - $ref: '#/components/parameters/InventoryLowParam'
        - $ref: '#/components/parameters/OutOfStockParam'
        - $ref: '#/components/parameters/TotalSoldParam'
        - $ref: '#/components/parameters/ProductTypeParam'
        - $ref: '#/components/parameters/CategoriesParam'
        - $ref: '#/components/parameters/KeywordParam'
        - $ref: '#/components/parameters/KeywordContextParam'
        - $ref: '#/components/parameters/AvailabilityParam'
        - $ref: '#/components/parameters/SkuParam'
        - $ref: '#/components/parameters/SkuInParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Get All Products Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Product'
                        - type: object
                          properties:
                            channels:
                              type: array
                              items:
                                type: integer
                              description: >-
                                The channels to which the product is assigned. This field only appears in the response
                                if you include `channels` in the `include` query parameter.
                  meta:
                    $ref: '#/components/schemas/MetaCollection'
    put:
      tags:
        - Products
      summary: Update Products (Batch)
      description: |-
        Updates products in batches. Batches are limited to 10 products.

        **Required Fields**
        * `id` - product `id` is required for batch updates to products.

        **Read-Only Fields**
        - `id`
        - `date_created`
        - `date_modified`
        - `calculated_price`
        - `base_variant_id`
      operationId: updateProducts
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/IncludeFieldsParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPutCollection'
            example:
              - id: 0
                name: Smith Journal 13
                type: physical
                sku: SM-13
                description: >-
                  <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta
                  sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla
                  mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis
                  leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique
                  porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis
                  eget.</span></p>
                weight: 0
                width: 0
                depth: 0
                height: 0
                price: 0
                cost_price: 0
                retail_price: 0
                sale_price: 0
                map_price: 0
                tax_class_id: 0
                product_tax_code: string
                categories:
                  - 0
                brand_id: 37
                inventory_level: 0
                inventory_warning_level: 0
                inventory_tracking: none
                fixed_cost_shipping_price: 0
                is_free_shipping: true
                is_visible: true
                is_featured: true
                related_products:
                  - 0
                warranty: string
                bin_picking_number: string
                layout_file: string
                upc: string
                search_keywords: string
                availability: available
                availability_description: string
                gift_wrapping_options_type: any
                gift_wrapping_options_list:
                  - 0
                sort_order: -2147483648
                condition: New
                is_condition_shown: true
                order_quantity_minimum: 0
                order_quantity_maximum: 0
                page_title: string
                meta_keywords:
                  - string
                meta_description: string
                view_count: 0
                preorder_release_date: '2019-08-24T14:15:22Z'
                preorder_message: string
                is_preorder_only: true
                is_price_hidden: true
                price_hidden_label: string
                custom_url:
                  url: string
                  is_customized: true
                open_graph_type: product
                open_graph_title: string
                open_graph_description: string
                open_graph_use_meta_description: true
                open_graph_use_product_name: true
                open_graph_use_image: true
                gtin: string
                mpn: string
                date_last_imported: '2015-07-03T18:16:02+00:00'
                reviews_rating_sum: 3
                reviews_count: 4
                total_sold: 80
                custom_fields:
                  - id: 6
                    name: ISBN
                    value: '1234567890123'
                bulk_pricing_rules:
                  - id: 0
                    quantity_min: 10
                    quantity_max: 50
                    type: price
                    amount: 10
                images:
                  - image_file: string
                    is_thumbnail: true
                    sort_order: -2147483648
                    description: string
                    image_url: string
                    id: 0
                    product_id: 0
                    date_modified: '2019-08-24T14:15:22Z'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Update Products (Batch) Success Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  meta: {}
              example:
                id: 0
                name: Smith Journal 13
                type: physical
                sku: SM-13
                description: >-
                  <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel metus ac est egestas porta
                  sed quis erat. Integer id nulla massa. Proin vitae enim nisi. Praesent non dignissim nulla. Nulla
                  mattis id massa ac pharetra. Mauris et nisi in dolor aliquam sodales. Aliquam dui nisl, dictum quis
                  leo sit amet, rutrum volutpat metus. Curabitur libero nunc, interdum ac libero non, tristique
                  porttitor metus. Ut non dignissim lorem, in vestibulum leo. Vivamus sodales quis turpis
                  eget.</span></p>
                weight: 0
                width: 0
                depth: 0
                height: 0
                price: 0
                cost_price: 0
                retail_price: 0
                sale_price: 0
                map_price: 0
                tax_class_id: 0
                product_tax_code: string
                categories:
                  - 0
                brand_id: 37
                inventory_level: 0
                inventory_warning_level: 0
                inventory_tracking: none
                fixed_cost_shipping_price: 0
                is_free_shipping: true
                is_visible: true
                is_featured: true
                related_products:
                  - 0
                warranty: string
                bin_picking_number: string
                layout_file: string
                upc: string
                search_keywords: string
                availability: available
                availability_description: string
                gift_wrapping_options_type: any
                gift_wrapping_options_list:
                  - 0
                sort_order: -2147483648
                condition: New
                is_condition_shown: true
                order_quantity_minimum: 0
                order_quantity_maximum: 0
                page_title: string
                meta_keywords:
                  - string
                meta_description: string
                view_count: 0
                preorder_release_date: '2019-08-24T14:15:22Z'
                preorder_message: string
                is_preorder_only: true
                is_price_hidden: true
                price_hidden_label: string
                custom_url:
                  url: string
                  is_customized: true
                open_graph_type: product
                open_graph_title: string
                open_graph_description: string
                open_graph_use_meta_description: true
                open_graph_use_product_name: true
                open_graph_use_image: true
                gtin: string
                mpn: string
                date_last_imported: '2015-07-03T18:16:02+00:00'
                reviews_rating_sum: 3
                reviews_count: 4
                total_sold: 80
                custom_fields:
                  - id: 6
                    name: ISBN
                    value: '1234567890123'
                bulk_pricing_rules:
                  - id: 0
                    quantity_min: 10
                    quantity_max: 50
                    type: price
                    amount: 10
                images:
                  - image_file: string
                    is_thumbnail: true
                    sort_order: -2147483648
                    description: string
                    image_url: string
                    id: 0
                    product_id: 0
                    url_zoom: string
                    url_standard: string
                    url_thumbnail: string
                    url_tiny: string
                    date_modified: '2019-08-24T14:15:22Z'
        '207':
          description: >-
            Multi-status. Typically indicates that a partial failure has occurred, such as when a POST or PUT request is
            successful, but saving one of the attributes has failed.


            For example, the product information was updated successfully, but the inventory data failed to update or
            saving the URL failed. 


            If inventory data failed to update, verify that the inventory-related updates are well-formed and correct;
            for example, that they donʼt result in negative stock levels. Then consider updating the inventory data
            again.


            If the URL failed to update, check that the URL uses Latin letters, is no more than 255 characters, and is
            not taken by any other entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialSuccessResponse'
        '404':
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '409':
          description: >-
            `Product` was in conflict with another product. This is the result of duplicate unique values such as name
            or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting
            `bulk_pricing_rule`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse409'
        '413':
          description: 413 Request Entity Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBase'
              example:
                errors: {}
                status: 413
                title: The request payload is too large. The maximum items allowed in the array is 10.
                type: /api-docs/getting-started/api-status-codes
        '422':
          description: >-
            `Product` was not valid. This is the result of missing required fields or invalid data. See the response for
            more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse422'
      x-codegen-request-body-name: products
    post:
      tags:
        - Products
      summary: Create a Product
      description: >-
        Creates a *Product*. Only one product can be created at a time; however, you can create multiple product
        variants using the `variants` array.


        **Required Fields:**

        - `name`

        - `type`

        - `weight`

        - `price`

        - `categories` (required when you enable the V2 product experience in the control panel)


        **Read-Only Fields**

        - `id`

        - `date_created`

        - `date_modified`

        - `calculated_price`

        - `base_variant_id`


        **Limits**

        - 250 characters product name length.

        - A product can have up to 1000 images. Each image file or image uploaded by URL can be up to 8 MB.


        **Usage Notes**

        * You can create multiple product variants using the `variants` array.

        * This endpoint accepts a `video` array. To create a product video that accepts a `video` object, see [Create a
        Product Video](/docs/rest-catalog/products/videos#create-a-product-video) for information.
      operationId: createProduct
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/IncludeFieldsParam'
      requestBody:
        content:
          application/json:
            schema:
[...]
