openapi: 3.0.0
info:
  title: EPCC API
  version: '2022-06-02T19:38:36.250Z'
  description: API for price books functionality.
servers:
  - url: 'https://api.moltin.com'
  - url: 'https://useast.api.elasticpath.com'
components:
  parameters:
    filter:
      in: query
      description: A filter specification
      name: filter
      required: false
      schema:
        type: string
    page:
      name: page
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PageInput'
  requestBodies:
    bundle-configuration-data:
      content:
        application/json:
          schema:
            type: object
            title: BundleConfigurationData
            description: Container for a bundle configuration.
            properties:
              data:
                $ref: '#/components/schemas/ProductBundleConfiguration'
            required:
              - data
      description: The bundle configuration.
      required: true
    products-for-cart-configuration:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProductsForCartConfiguration'
      description: A list of product id or sku and bundle configuration for cart.
      required: true
  schemas:
    Sales:
      type: object
      description: A set of sale specifications.
      additionalProperties:
        $ref: '#/components/schemas/Sale'
    Currencies:
      type: object
      description: List of currency specific amounts.
      additionalProperties:
        $ref: '#/components/schemas/CurrencyAmount'
    Sale:
      type: object
      description: A set of sale prices and a validity period.
      properties:
        bundle_ids:
          $ref: '#/components/schemas/BundleIDs'
        schedule:
          $ref: '#/components/schemas/Schedule'
        currencies:
          $ref: '#/components/schemas/Currencies'

    CurrencyAmount:
      type: object
      description: Combination of an amount of a tax included indicator.
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        includes_tax:
          $ref: '#/components/schemas/IncludesTax'
        tiers:
          type: object
          description: An optional set of tier prices with minimum quantities.
          additionalProperties:
            $ref: '#/components/schemas/TierPrice'
    PageInput:
      type: object
      properties:
        limit:
          description: Number of resource entities per page.
          type: integer
          format: int64
          minimum: 1
        offset:
          description: Offset of first resource entity on page.
          type: integer
          format: int64
          minimum: 0
    PageMeta:
      type: object
      title: PageMeta
      properties:
        results:
          type: object
          properties:
            total:
              type: integer
        page:
          type: object
          properties:
            limit:
              type: integer
            offset:
              type: integer
            current:
              type: integer
            total:
              type: integer
    Links:
      type: object
      properties:
        self:
          type: string
          format: uri
          nullable: true
        first:
          type: string
          format: uri
          nullable: true
        last:
          type: string
          format: uri
          nullable: true
        prev:
          type: string
          format: uri
          nullable: true
        next:
          type: string
          format: uri
          nullable: true
    ProductBundleConfiguration:
      type: object
      title: BundleConfiguration
      description: A specification of a bundle's configuration.
      properties:
        selected_options:
          type: object
          description: The configuration of each component
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
              format: int64
      required:
        - selected_options
      x-go-name: ProductBundleConfiguration
    ID:
      type: string
      example: 4c45e4ec-26e0-4043-86e4-c15b9cf985a7
      x-go-name: ID
    SKU:
      type: string
      x-go-name: SKU
      nullable: true
    ProductList:
      type: array
      items:
        $ref: '#/components/schemas/ProductList'
      x-go-name: Data
    ProductListData:
      type: object
      title: ProductListData
      description: Container for a list of products.
      properties:
        meta:
          $ref: '#/components/schemas/PageMeta'
        data:
          $ref: '#/components/schemas/ProductList'
        links:
          $ref: '#/components/schemas/Links'
    ProductsForCartConfiguration:
      type: object
      title: ProductsForCartConfiguration
      description: A list of product id or sku and bundle configuration for cart.
      properties:
        data:
          $ref: '#/components/schemas/ProductList'
      required:
        - data
      x-go-name: ProductsForCartConfiguration
    Detail:
      type: string
      example: The price book already exists
      x-go-name: Detail
    Status:
      type: string
      example: '409'
      x-go-name: Status
    Title:
      type: string
      example: conflict
      x-go-name: Title
    ApiError:
      type: object
      title: ApiError
      description: This is a json-api style part of an error response
      properties:
        detail:
          $ref: '#/components/schemas/Detail'
        status:
          $ref: '#/components/schemas/Status'
        title:
          $ref: '#/components/schemas/Title'
      additionalProperties: false
      x-go-name: ApiError
    Errors:
      type: array
      items:
        $ref: '#/components/schemas/ApiError'
      x-go-name: Errors
    ErrorResponse:
      type: object
      title: ErrorResponse
      description: This is a json-api style Error response
      properties:
        errors:
          $ref: '#/components/schemas/Errors'
      additionalProperties: false
      x-go-name: ErrorResponse
    BundleIDs:
      type: array
      description: A list of bundle IDs that this sale price applied to.
      items:
        type: string
        format: uuid
      x-omitempty: true
      x-go-name: BundleIDs
    ValidFrom:
      type: string
      example: '2020-09-22 09:00:00+00:00'
      format: date-time
      x-go-name: ValidFrom
      nullable: true
    ValidTo:
      type: string
      example: '2020-09-22 09:00:00+00:00'
      format: date-time
      x-go-name: ValidTo
      nullable: true
    Schedule:
      type: object
      description: A definition of the times at which a sale is valid
      properties:
        valid_from:
          $ref: '#/components/schemas/ValidFrom'
        valid_to:
          $ref: '#/components/schemas/ValidTo'
      x-go-name: Schedule
    Amount:
      type: integer
      format: int64
      example: '50'
      x-go-name: Amount
      nullable: true
    IncludesTax:
      type: boolean
      example: false
      default: false
      x-go-name: IncludesTax
    MinQuantity:
      type: integer
      description: 'A value 1 or larger. If it does not exist, an error will be returned.'
      format: int64
      example: '10'
      x-go-name: MinQuantity
      nullable: true
    TierPrice:
      type: object
      description: A definition of a tier price
      properties:
        minimum_quantity:
          $ref: '#/components/schemas/MinQuantity'
        amount:
          $ref: '#/components/schemas/Amount'
      x-go-name: TierPrice
    Type:
      type: string
      x-go-name: Type
      default: price-modifier
      example: price-modifier
      enum:
        - price-modifier
    CreatedAt:
      type: string
      format: date-time
      example: '2020-09-22 09:00:00+00:00'
      x-go-name: CreatedAt
    Description:
      type: string
      example: This is a price book
      x-go-name: Description
      nullable: true
    Name:
      type: string
      example: large-supplement
      minLength: 1
      x-go-name: Name
      nullable: true
    UpdatedAt:
      type: string
      example: '2020-09-22 09:00:00+00:00'
      format: date-time
      x-go-name: UpdatedAt
    Pricebook:
      type: object
      title: Pricebook
      description: >-
        Top level entity in the price books domain model. It contains a list of
        product prices.
      properties:
        id:
          $ref: '#/components/schemas/ID'
        type:
          $ref: '#/components/schemas/Type'
        attributes:
          type: object
          properties:
            created_at:
              $ref: '#/components/schemas/CreatedAt'
            description:
              $ref: '#/components/schemas/Description'
            name:
              $ref: '#/components/schemas/Name'
            updated_at:
              $ref: '#/components/schemas/UpdatedAt'
          required:
            - name
            - created_at
            - updated_at
      required:
        - id
        - type
        - attributes
      additionalProperties: false
      x-go-name: Pricebook
    PricebookUpdate:
      type: object
      title: Pricebook
      description: Price book update request.
      properties:
        id:
          $ref: '#/components/schemas/ID'
        type:
          $ref: '#/components/schemas/Type'
        attributes:
          type: object
          properties:
            description:
              $ref: '#/components/schemas/Description'
            name:
              $ref: '#/components/schemas/Name'
          additionalProperties: false
      required:
        - id
        - type
        - attributes
      additionalProperties: false
      x-go-name: PricebookUpdate
    PricebookCreateParam:
      type: object
      title: PricebookWithoutId
      description: >-
        Top level entity in the price books domain model. It contains a list of
        product prices.
      properties:
        type:
          $ref: '#/components/schemas/Type'
        attributes:
          type: object
          properties:
            description:
              $ref: '#/components/schemas/Description'
            name:
              $ref: '#/components/schemas/Name'
          required:
            - name
          additionalProperties: false
      required:
        - type
        - attributes
      additionalProperties: false
      x-go-name: PricebookCreateParam
    PricebookCreateData:
      type: object
      title: PricebookCreateData
      description: Json-api style data object containing a price book to be created.
      properties:
        data:
          $ref: '#/components/schemas/PricebookCreateParam'
      required:
        - data
      additionalProperties: false
      x-go-name: PricebookCreateData
    PricebookUpdateData:
      type: object
      title: PricebookCreateData
      description: Json-api style data object containing a price book to be created.
      properties:
        data:
          $ref: '#/components/schemas/PricebookUpdate'
      required:
        - data
      additionalProperties: false
      x-go-name: PricebookUpdateData
    PricebookReplicate:
      type: object
      title: Pricebook
      description: Price book replicate request.
      properties:
        type:
          $ref: '#/components/schemas/Type'
        attributes:
          type: object
          properties:
            description:
              $ref: '#/components/schemas/Description'
            name:
              $ref: '#/components/schemas/Name'
          additionalProperties: false
      required:
        - type
        - attributes
      additionalProperties: false
      x-go-name: PricebookReplicate
    PricebookReplicateData:
      type: object
      title: PricebookReplicateData
      description: Json-api style data object containing a price book to be replicated.
      properties:
        data:
          $ref: '#/components/schemas/PricebookReplicate'
      required:
        - data
      additionalProperties: false
      x-go-name: PricebookReplicateData
    ProductPrice:
      type: object
      title: ProductPrice
      description: >-
        ProductPrice associates a collection of locale specific prices with a
        product SKU.
      properties:
        type:
          type: string
          example: product-price
          default: product-price
          enum:
            - product-price
        attributes:
          type: object
          properties:
            currencies:
              $ref: '#/components/schemas/Currencies'
            sku:
              type: string
              minLength: 1
              example: product-sku-a
            sales:
              $ref: '#/components/schemas/Sales'
          required:
            - sku
        id:
          $ref: '#/components/schemas/ID'
      required:
        - type
        - attributes
        - id
      additionalProperties: false
      x-go-name: ProductPrice
    PricebookData:
      type: object
      title: PricebookData
      description: Json-api style data object containing a price book.
      properties:
        data:
          $ref: '#/components/schemas/Pricebook'
        links:
          $ref: '#/components/schemas/Links'
      required:
        - data
      additionalProperties: false
      x-go-name: PricebookData
    PricebookListData:
      type: object
      title: PricebookListData
      description: Json-api style array containing a list of price books
      properties:
        meta:
          $ref: '#/components/schemas/PageMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Pricebook'
        links:
          $ref: '#/components/schemas/Links'
      required:
        - data
      additionalProperties: false
      x-go-name: PricebookListData
    ProductPriceCreateArg:
      type: object
      title: ProductPriceCreateArg
      description: >-
        ProductPrice associates a collection of locale specific prices with a
        product SKU.
      properties:
        type:
          type: string
          example: product-price
          default: product-price
          enum:
            - product-price
        attributes:
          type: object
          properties:
            currencies:
              $ref: '#/components/schemas/Currencies'
            sku:
              type: string
              minLength: 1
              example: product-sku-a
            sales:
              $ref: '#/components/schemas/Sales'
          required:
            - currencies
            - sku
      required:
        - type
        - attributes
      additionalProperties: false
      x-go-name: ProductPriceCreateArg
    ProductPriceCreateData:
      type: object
      title: ProductPriceCreateData
      description: Json-api style data object containing a single product price.
      properties:
        data:
          $ref: '#/components/schemas/ProductPriceCreateArg'
      required:
        - data
      additionalProperties: false
      x-go-name: ProductPriceCreateData
    ProductPriceData:
      type: object
      title: ProductPriceData
      description: Json-api style data object containing a single product price.
      properties:
        data:
          $ref: '#/components/schemas/ProductPrice'
        links:
          $ref: '#/components/schemas/Links'
      required:
        - data
      additionalProperties: false
      x-go-name: ProductPriceData
    ProductPriceListData:
      type: object
      title: ProductPriceListData
      description: Json-api style array containing a list of product prices.
      properties:
        meta:
          $ref: '#/components/schemas/PageMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductPrice'
        links:
          $ref: '#/components/schemas/Links'
      required:
        - data
      additionalProperties: false
      x-go-name: ProductPriceListData
    PriceModifier:
      type: object
      title: PriceModifier
      description: PriceModifier specifies how an existing product price may be modified.
      properties:
        type:
          type: string
          example: price-modifier
          default: price-modifier
          enum:
            - price-modifier
        attributes:
          type: object
          properties:
            currencies:
              $ref: '#/components/schemas/Currencies'
            name:
              type: string
              example: large-supplement
            modifier_type:
              type: string
              example: price_equals
              enum:
                - price_equals
                - price_increment
                - price_decrement
          required:
            - name
            - modifier_type
            - currencies
        id:
          $ref: '#/components/schemas/ID'
      required:
        - type
        - attributes
        - id
      additionalProperties: false
      x-go-name: PriceModifier
    PriceModifierData:
      type: object
      title: PriceModifierData
      description: Json-api style data object containing a single price modifier.
      properties:
        data:
          $ref: '#/components/schemas/PriceModifier'
        links:
          $ref: '#/components/schemas/Links'
      required:
        - data
      additionalProperties: false
      x-go-name: PriceModifierData
    ModifierType:
      type: string
      example: price_equals
      enum:
        - price_equals
        - price_increment
        - price_decrement
      x-go-name: ModifierType
      nullable: true
    PriceModifierUpdate:
      type: object
      title: PriceModifier
      description: Price modifier update request.
      properties:
        id:
          $ref: '#/components/schemas/ID'
        type:
          $ref: '#/components/schemas/Type'
        attributes:
          type: object
          properties:
            currencies:
              $ref: '#/components/schemas/Currencies'
            name:
              $ref: '#/components/schemas/Name'
            modifier_type:
              $ref: '#/components/schemas/ModifierType'
          additionalProperties: false
      required:
        - id
        - type
        - attributes
      additionalProperties: false
      x-go-name: PriceModifierUpdate
    PriceModifierUpdateData:
      type: object
      title: PriceModifierUpdateData
      description: Json-api style data object containing a price modifier to be updated.
      properties:
        data:
          $ref: '#/components/schemas/PriceModifierUpdate'
      required:
        - data
      additionalProperties: false
      x-go-name: PriceModifierUpdateData
    PriceModifierCreate:
      type: object
      title: PriceModifier
      description: Price modifier create request.
      properties:
        type:
          $ref: '#/components/schemas/Type'
        attributes:
          type: object
          properties:
            currencies:
              $ref: '#/components/schemas/Currencies'
            name:
              $ref: '#/components/schemas/Name'
            modifier_type:
              $ref: '#/components/schemas/ModifierType'
          required:
            - name
            - modifier_type
            - currencies
          additionalProperties: false
      required:
        - type
        - attributes
      additionalProperties: false
      x-go-name: PriceModifierCreate
    PriceModifierCreateData:
      type: object
      title: PriceModifierCreateData
      description: Json-api style data object containing a price modifier to be created.
      properties:
        data:
          $ref: '#/components/schemas/PriceModifierCreate'
      required:
        - data
      additionalProperties: false
      x-go-name: PriceModifierCreateData
    PriceModifierListData:
      type: object
      title: PriceModifierListData
      description: Json-api style array containing a list of price modifiers.
      properties:
        meta:
          $ref: '#/components/schemas/PageMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PriceModifier'
        links:
          $ref: '#/components/schemas/Links'
      required:
        - data
      additionalProperties: false
      x-go-name: PriceModifierListData
    PrioritizedPricebook:
      type: object
      properties:
        id:
          type: string
          format: uuid
        priority:
          type: integer
      required:
        - priority
        - id
      x-go-name: PrioritizedPricebook
    APIError:
      type: object
      title: APIError
      description: APIError is a json-api style part of an error response.
      properties:
        detail:
          $ref: '#/components/schemas/Detail'
        status:
          $ref: '#/components/schemas/Status'
        title:
          $ref: '#/components/schemas/Title'
      x-go-name: APIError
    Label:
      type: string
      example: category
      x-go-name: Label
    NodeReference:
      type: object
      title: NodeReference
      description: Minimum set of information to identify a catalog node.
      properties:
        id:
          $ref: '#/components/schemas/ID'
        label:
          $ref: '#/components/schemas/Label'
        name:
          $ref: '#/components/schemas/Name'
      x-go-name: NodeReference
    RootNodes:
      type: array
      items:
        $ref: '#/components/schemas/NodeReference'
      x-go-name: RootNodes
    ReleaseRelationships:
      type: object
      title: ReleaseRelationships
      description: 'Relationships to hierarchies, and products.'
      properties:
        products:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
        hierarchies:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
          required:
            - links
      x-go-name: ReleaseRelationships
    IsFullPublish:
      type: boolean
      example: false
      default: false
      x-go-name: IsFullPublish
    ReleaseMeta:
      type: object
      title: ReleaseMeta
      description: A release's metadata.
      properties:
        created_at:
          type: string
          format: date-time
          example: '1970-01-01 00:00:00+00:00'
        started_at:
          type: string
          format: date-time
          example: '1970-01-01 00:00:00+00:00'
          nullable: true
        release_status:
          type: string
          enum:
            - PENDING
            - IN_PROGRESS
            - FAILED
            - PUBLISHED
        language:
          type: string
          example: en-GB
        is_full_publish:
          $ref: '#/components/schemas/IsFullPublish'
      x-go-name: ReleaseMeta
      x-omitempty: true
    Release:
      type: object
      title: Release
      description: A catalog release represents a collection of hierarchical product data.
      properties:
        id:
          $ref: '#/components/schemas/ID'
        attributes:
          type: object
          properties:
            name:
              type: string
              example: Clothing
            published_at:
              type: string
              format: date-time
              example: '1970-01-01 00:00:00+00:00'
              nullable: true
            catalog_id:
              type: string
              example: 0194f54d-f2a1-4e33-9a6e-9ec366152490
            description:
              type: string
              example: Catalog for Store 123
              default: ''
            hierarchies:
              $ref: '#/components/schemas/RootNodes'
        relationships:
          $ref: '#/components/schemas/ReleaseRelationships'
        type:
          $ref: '#/components/schemas/Type'
        meta:
          $ref: '#/components/schemas/ReleaseMeta'
      x-go-name: Release
    RuleSchedule:
      type: object
      title: Catalog Schedule
      description: A period of time during which a catalog is valid
      properties:
        valid_from:
          $ref: '#/components/schemas/ValidFrom'
        valid_to:
          $ref: '#/components/schemas/ValidTo'
      x-go-name: RuleSchedule
    Slug:
      type: string
      example: formal
      x-go-name: Slug
    HierarchyAttributes:
      type: object
      title: HierarchyAttributes
      description: Resource attributes of a catalog hierarchy.
      properties:
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        published_at:
          type: string
          format: date-time
          example: '1970-01-01 00:00:00+00:00'
          nullable: true
        description:
          $ref: '#/components/schemas/Description'
        label:
          $ref: '#/components/schemas/Label'
        name:
          $ref: '#/components/schemas/Name'
        slug:
          $ref: '#/components/schemas/Slug'
        status:
          $ref: '#/components/schemas/Status'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      x-go-name: HierarchyAttributes
    HierarchyRelationships:
      type: object
      title: HierarchyRelationships
      description: 'Relationships to child nodes, and products.'
      properties:
        products:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
        children:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
          required:
            - links
        nodes:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
          required:
            - links
      x-go-name: HierarchyRelationships
    HierarchyMeta:
      type: object
      title: HierarchyMeta
      description: A hierarchy's metadata.
      properties:
        language:
          type: string
          example: en-GB
      x-go-name: HierarchyMeta
      x-omitempty: true
    Hierarchy:
      type: object
      title: Hierarchy
      description: >-
        A hierarchy in a catalog (e.g. a category hierarchy). Hierarchies can
        have child nodes, as well as a list of attached products
      properties:
        attributes:
          $ref: '#/components/schemas/HierarchyAttributes'
        id:
          $ref: '#/components/schemas/ID'
        relationships:
          $ref: '#/components/schemas/HierarchyRelationships'
        type:
          $ref: '#/components/schemas/Type'
        meta:
          $ref: '#/components/schemas/HierarchyMeta'
      x-go-name: Hierarchy
    NodeAttributes:
      type: object
      title: NodeAttributes
      description: Resource attributes of a catalog node.
      properties:
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        published_at:
          type: string
          format: date-time
          example: '1970-01-01 00:00:00+00:00'
          nullable: true
        description:
          $ref: '#/components/schemas/Description'
        label:
          $ref: '#/components/schemas/Label'
        name:
          $ref: '#/components/schemas/Name'
        slug:
          $ref: '#/components/schemas/Slug'
        status:
          $ref: '#/components/schemas/Status'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      x-go-name: NodeAttributes
    ProductReference:
      type: object
      title: ProductReference
      description: A product identifier.
      x-nullable: 'true'
      properties:
        id:
          $ref: '#/components/schemas/ID'
        type:
          $ref: '#/components/schemas/Type'
      x-go-name: ProductReference
    NodeRelationships:
      type: object
      title: NodeRelationships
      description: 'Relationships to parent and child nodes, and products.'
      properties:
        products:
          type: object
          properties:
            data:
              type: array
              x-omitempty: true
              items:
                $ref: '#/components/schemas/ProductReference'
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
        children:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
          required:
            - links
        parent:
          type: object
          properties:
            data:
              type: object
              properties:
                type:
                  type: string
                  example: node
                  enum:
                    - node
                id:
                  $ref: '#/components/schemas/ID'
              required:
                - id
                - type
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
          required:
            - data
        hierarchy:
          type: object
          properties:
            data:
              type: object
              properties:
                type:
                  type: string
                  example: hierarchy
                  enum:
                    - hierarchy
                id:
                  $ref: '#/components/schemas/ID'
              required:
                - id
                - type
            links:
              type: object
              properties:
                related:
                  type: string
              required:
                - related
          required:
            - data
      x-go-name: NodeRelationships
    NodeMeta:
      type: object
      title: NodeMeta
      description: A node's metadata.
      properties:
        language:
          type: string
          example: en-GB
        bread_crumb:
          type: array
          items:
            type: string
            example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
          x-omitempty: true
      x-go-name: NodeMeta
      x-omitempty: true
    Node:
      type: object
      title: Node
      description: >-
        A node in a catalog (e.g. a category node). Nodes can have child nodes,
        as well as a list of attached products
      properties:
        attributes:
          $ref: '#/components/schemas/NodeAttributes'
        id:
          $ref: '#/components/schemas/ID'
        relationships:
          $ref: '#/components/schemas/NodeRelationships'
        type:
          $ref: '#/components/schemas/Type'
        meta:
          $ref: '#/components/schemas/NodeMeta'
      x-go-name: Node
    Availability:
      type: string
      example: available
      x-go-name: Availability
    BaseProduct:
      type: boolean
      example: false
      default: false
      x-go-name: BaseProduct
    BaseProductID:
      type: string
      example: cdf574bc-e36e-48fc-9eac-01c87839b285
      x-go-name: BaseProductID
    CommodityType:
      type: string
      example: physical
      x-go-name: CommodityType
    UpcEan:
      type: string
      example: '0123456'
      x-go-name: UpcEan
    ManufacturerPartNum:
      type: string
      example: mfn1
      x-go-name: ManufacturerPartNum
    PriceModifiers:
      type: array
      description: A list of price modifier names
      items:
        type: string
        example: modifier-1
      x-go-name: PriceModifiers
      x-omitempty: true
    Dimensions:
      type: string
      example: 4x5x2
      x-go-name: Dimensions
    ManageStock:
      type: boolean
      example: false
      default: false
      x-go-name: ManageStock
    PriceAmount:
      type: object
      title: Amount
      description: A current specific price for a product.
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        includes_tax:
          $ref: '#/components/schemas/IncludesTax'
      x-go-name: PriceAmount
    Min:
      type: integer
      x-go-name: Min
      nullable: true
    Max:
      type: integer
      x-go-name: Max
      nullable: true
    Quantity:
      type: integer
      example: 2
      x-go-name: Quantity
    Options:
      type: array
      items:
        type: object
        title: Component Product Option
        description: A component product option for a bundle product.
        properties:
          id:
            $ref: '#/components/schemas/ID'
          type:
            $ref: '#/components/schemas/Type'
          quantity:
            $ref: '#/components/schemas/Quantity'
      x-go-name: Options
    ProductHash:
      type: string
      x-go-name: ProductHash
    Sku:
      type: string
      example: blue-shirt
      x-go-name: Sku
    G:
      type: number
      format: double
      x-go-name: G
    Kg:
      type: number
      format: double
      x-go-name: Kg
    Lb:
      type: number
      format: double
      x-go-name: Lb
    Oz:
      type: number
      format: double
      x-go-name: Oz
    Weight:
      type: object
      title: Weight
      description: A product's weight.
      properties:
        g:
          $ref: '#/components/schemas/G'
        kg:
          $ref: '#/components/schemas/Kg'
        lb:
          $ref: '#/components/schemas/Lb'
        oz:
          $ref: '#/components/schemas/Oz'
      x-go-name: Weight
    ProductAttributes:
      type: object
      title: ProductAttributes
      description: A product's attributes.
      properties:
        availability:
          $ref: '#/components/schemas/Availability'
        published_at:
          type: string
          format: date-time
          example: '1970-01-01 00:00:00+00:00'
          nullable: true
        base_product:
          $ref: '#/components/schemas/BaseProduct'
        base_product_id:
          $ref: '#/components/schemas/BaseProductID'
        commodity_type:
          $ref: '#/components/schemas/CommodityType'
        upc_ean:
          $ref: '#/components/schemas/UpcEan'
        manufacturer_part_num:
          $ref: '#/components/schemas/ManufacturerPartNum'
        price_modifiers:
          $ref: '#/components/schemas/PriceModifiers'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        description:
          $ref: '#/components/schemas/Description'
        dimensions:
          $ref: '#/components/schemas/Dimensions'
        manage_stock:
          $ref: '#/components/schemas/ManageStock'
        name:
          $ref: '#/components/schemas/Name'
        price:
          type: object
          title: Currencies
          description: Collection of currency specific prices for a product.
          additionalProperties:
            $ref: '#/components/schemas/PriceAmount'
        tiers:
          type: object
          title: Tiers
          description: Collection of tiered prices for a product.
          additionalProperties:
            type: object
            title: Tier
            description: A tiered price for a product.
            properties:
              minimum_quantity:
                type: integer
                example: '5'
              price:
                type: object
                title: Currencies
                description: Collection of currency specific prices for a product.
                additionalProperties:
                  $ref: '#/components/schemas/PriceAmount'
        components:
          type: object
          title: Components
          description: Collection of products for a bundle product.
          additionalProperties:
            type: object
            title: Component Product
            description: A component product definition for a bundle product.
            properties:
              name:
                $ref: '#/components/schemas/Name'
              min:
                $ref: '#/components/schemas/Min'
              max:
                $ref: '#/components/schemas/Max'
              options:
                $ref: '#/components/schemas/Options'
        product_hash:
          $ref: '#/components/schemas/ProductHash'
        sku:
          $ref: '#/components/schemas/Sku'
        slug:
          $ref: '#/components/schemas/Slug'
        status:
          $ref: '#/components/schemas/Status'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        weight:
          $ref: '#/components/schemas/Weight'
        extensions:
          type: object
          title: Extensions
          description: Collection of extension data for a product.
          additionalProperties:
            type: object
            title: Extension
            description: An extension data for a product.
            additionalProperties:
              type: object
      x-go-name: ProductAttributes
    Categories:
      type: array
      items:
        $ref: '#/components/schemas/NodeReference'
      x-go-name: Categories
      x-omitempty: true
    Brands:
      type: array
      items:
        $ref: '#/components/schemas/NodeReference'
      x-go-name: Brands
      x-omitempty: true
    Collections:
      type: array
      items:
        $ref: '#/components/schemas/NodeReference'
      x-go-name: Collections
      x-omitempty: true
    Parent:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProductReference'
      x-go-name: Parent
      x-omitempty: true
    ProductReferences:
      type: array
      title: ProductReferences
      description: A list of product identifiers.
      items:
        $ref: '#/components/schemas/ProductReference'
      x-go-name: ProductReferences
    Children:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProductReferences'
      x-go-name: Children
      x-omitempty: true
    CustomModifiers:
      type: array
      items:
        type: string
      x-go-name: CustomModifiers
      x-omitempty: true
    FileRelationship:
      type: object
      properties:
        type:
          type: string
          example: file
          enum:
            - file
        id:
          type: string
          format: uuid
        created_at:
          $ref: '#/components/schemas/CreatedAt'
      x-go-name: FileRelationship
    Modifiers:
      type: array
      items:
        type: string
      x-go-name: Modifiers
      x-omitempty: true
    ProductSpec:
      type: array
      items:
        type: string
      x-go-name: ProductSpec
      x-omitempty: true
    VariationOpts:
      type: array
      items:
        type: string
      x-go-name: VariationOpts
      x-omitempty: true
    Variations:
      type: array
      items:
        type: string
      x-go-name: Variations
      x-omitempty: true
    ProductRelationships:
      type: object
      title: ProductRelationships
      description: 'Relationships to child and parent products, and catalog nodes.'
      properties:
        categories:
          $ref: '#/components/schemas/Categories'
        brands:
          $ref: '#/components/schemas/Brands'
        collections:
          $ref: '#/components/schemas/Collections'
        parent:
          $ref: '#/components/schemas/Parent'
        children:
          $ref: '#/components/schemas/Children'
        custom_modifiers:
          $ref: '#/components/schemas/CustomModifiers'
        files:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/FileRelationship'
          x-omitempty: true
        main_image:
          type: object
          properties:
            data:
              type: object
              x-nullable: 'true'
              properties:
                type:
                  type: string
                  example: main_image
                  enum:
                    - main_image
                id:
                  type: string
                  format: uuid
          x-omitempty: true
        component_products:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
              required:
                - self
          x-omitempty: true
        modifiers:
          $ref: '#/components/schemas/Modifiers'
        product_spec:
          $ref: '#/components/schemas/ProductSpec'
        variationOpts:
          $ref: '#/components/schemas/VariationOpts'
        variations:
          $ref: '#/components/schemas/Variations'
      x-go-name: ProductRelationships
      x-omitempty: true
    CatalogID:
      type: string
      example: 362a16dc-f7c6-4280-83d6-4fcc152af091
      x-go-name: CatalogID
    PricebookID:
      type: string
      example: f5466169-0037-460c-b181-b02682b6f4de
      x-go-name: PricebookID
      nullable: true
    CatalogSource:
      type: string
      example: pim
      enum:
        - legacy
        - pim
      x-go-name: CatalogSource
    SaleID:
      type: string
      x-go-name: SaleID
    SaleExpires:
      type: string
      format: date-time
      example: '1970-01-01 00:00:00+00:00'
      x-go-name: SaleExpires
      nullable: true
    ComponentProductMeta:
      type: object
      properties:
        sale_id:
          $ref: '#/components/schemas/SaleID'
        sale_expires:
          $ref: '#/components/schemas/SaleExpires'
        price:
          type: object
          title: Currencies
          description: Collection of currency specific prices for a product.
          additionalProperties:
            $ref: '#/components/schemas/PriceAmount'
        display_price:
          type: object
          x-omitempty: true
          properties:
            with_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
            without_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
        original_price:
          type: object
          title: Currencies
          description: Collection of currency specific prices for a product.
          additionalProperties:
            $ref: '#/components/schemas/PriceAmount'
        original_display_price:
          type: object
          x-omitempty: true
          properties:
            with_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
            without_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
        pricebook_id:
          $ref: '#/components/schemas/PricebookID'
      x-go-name: ComponentProductMeta
    PriceModifierMeta:
      type: object
      properties:
        modifier_type:
          type: string
          example: price_equals
        currencies:
          type: object
          title: Currencies
          description: Collection of currency specific prices for a product.
          additionalProperties:
            $ref: '#/components/schemas/PriceAmount'
      x-go-name: PriceModifierMeta
    ProductMetaTier:
      type: object
      properties:
        sale_id:
          $ref: '#/components/schemas/SaleID'
        sale_expires:
          $ref: '#/components/schemas/SaleExpires'
        display_price:
          type: object
          x-omitempty: true
          properties:
            with_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
            without_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
        original_price:
          type: object
          title: Currencies
          description: Collection of currency specific prices for a product.
          additionalProperties:
            $ref: '#/components/schemas/PriceAmount'
        original_display_price:
          type: object
          x-omitempty: true
          properties:
            with_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
            without_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
      x-go-name: ProductMetaTier
    ProductMetaTiers:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ProductMetaTier'
      x-go-name: ProductMetaTiers
    ProductVariationOption:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ID'
        name:
          type: string
        description:
          type: string
      x-go-name: ProductVariationOption
    ProductVariation:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ID'
        name:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariationOption'
      x-go-name: ProductVariation
    ProductMeta:
      type: object
      title: ProductMeta
      description: A product's metadata.
      properties:
        bread_crumb:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
          x-omitempty: true
        catalog_id:
          $ref: '#/components/schemas/CatalogID'
        pricebook_id:
          $ref: '#/components/schemas/PricebookID'
        display_price:
          type: object
          x-omitempty: true
          properties:
            with_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
            without_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
        catalog_source:
          $ref: '#/components/schemas/CatalogSource'
        sale_id:
          $ref: '#/components/schemas/SaleID'
        sale_expires:
          $ref: '#/components/schemas/SaleExpires'
        original_price:
          type: object
          title: Currencies
          description: Collection of currency specific prices for a product.
          additionalProperties:
            $ref: '#/components/schemas/PriceAmount'
        original_display_price:
          type: object
          x-omitempty: true
          properties:
            with_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
            without_tax:
              type: object
              title: FormattedPrice
              x-omitempty: true
              description: A price formatted for display.
              properties:
                amount:
                  type: integer
                  x-omitempty: false
                  example: '47500'
                currency:
                  type: string
                  example: USD
                formatted:
                  type: string
                  example: $475.00
        bundle_configuration:
          $ref: '#/components/schemas/ProductBundleConfiguration'
        component_products:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ComponentProductMeta'
        price_modifiers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PriceModifierMeta'
        tiers:
          $ref: '#/components/schemas/ProductMetaTiers'
        variation_matrix:
          type: object
        variations:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariation'
          x-omitempty: true
        language:
          type: string
          example: en-GB
      x-go-name: ProductMeta
      x-omitempty: true
    Product:
      type: object
      title: Product
      description: A product in a catalog.
      properties:
        attributes:
          $ref: '#/components/schemas/ProductAttributes'
        id:
          $ref: '#/components/schemas/ID'
        relationships:
          $ref: '#/components/schemas/ProductRelationships'
        type:
          $ref: '#/components/schemas/Type'
        meta:
          $ref: '#/components/schemas/ProductMeta'
      x-go-name: Product
  securitySchemes:
    bearerAuthentication:
      type: apiKey
      in: header
      name: Authorization
paths:
  /pcm/catalogs:
    get:
      tags:
        - Catalogs
      summary: Gets all authorized catalogs.
      operationId: getCatalogs
      parameters: []
      responses:
        '200':
          description: The list of catalogs.
          content:
            application/json:
              schema:
                type: object
                title: CatalogListData
                description: Container for a list of catalogs.
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      title: Catalog
                      description: >-
                        A catalog combines pricebooks, product lists, and
                        hierarchies.
                      properties:
                        id:
                          type: string
                          description: >-
                            The catalog ID. Use this to modify the catalog's
                            catalog, or to retrieve the catalog produced by this
                            catalog.
                          example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: catalog-123
                            description:
                              type: string
                              example: Catalog for Store 123
                              default: ''
                            hierarchy_ids:
                              type: array
                              items:
                                type: string
                            pricebook_id:
                              type: string
                            pricebook_ids:
                              type: array
                              items:
                                $ref: '#/components/schemas/PrioritizedPricebook'
                            locales:
                              type: object
                              additionalProperties:
                                type: object
                                additionalProperties:
                                  type: string
                            created_at:
                              type: string
                              example: '2020-09-22 09:00:00+00:00'
                              format: date-time
                            updated_at:
                              type: string
                              example: '2020-09-22 09:00:00+00:00'
                              format: date-time
                          required:
                            - name
                            - hierarchy_ids
                            - created_at
                            - updated_at
                        relationships:
                          type: object
                          title: CatalogRelationships
                          description: Relationships to rules
                          properties:
                            rules:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                  required:
                                    - related
                            releases:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                  required:
                                    - related
                                meta:
                                  type: object
                                  properties:
                                    count:
                                      type: integer
                        type:
                          type: string
                          example: catalog
                          enum:
                            - catalog
                      required:
                        - id
                        - type
                        - attributes
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
    post:
      tags:
        - Catalogs
      summary: Creates a new catalog.
      operationId: createCatalog
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: CatalogCreateData
              description: 'A catalog combines pricebooks, product lists, and hierarchies.'
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          minLength: 1
                          example: catalog-123
                        description:
                          type: string
                          example: Catalog for Store 123
                          nullable: true
                        hierarchy_ids:
                          type: array
                          items:
                            type: string
                        pricebook_id:
                          type: string
                        pricebook_ids:
                          type: array
                          items:
                            $ref: '#/components/schemas/PrioritizedPricebook'
                        locales:
                          type: object
                          additionalProperties:
                            type: object
                            additionalProperties:
                              type: string
                      required:
                        - name
                        - hierarchy_ids
                    type:
                      type: string
                      example: catalog
                      enum:
                        - catalog
                  required:
                    - type
                    - attributes
              required:
                - data
        description: The catalog to create.
        required: true
      responses:
        '201':
          description: The created catalog
          content:
            application/json:
              schema:
                type: object
                title: CatalogData
                description: Container for a single catalog.
                properties:
                  data:
                    type: object
                    title: Catalog
                    description: >-
                      A catalog combines pricebooks, product lists, and
                      hierarchies.
                    properties:
                      id:
                        type: string
                        description: >-
                          The catalog ID. Use this to modify the catalog's
                          catalog, or to retrieve the catalog produced by this
                          catalog.
                        example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: catalog-123
                          description:
                            type: string
                            example: Catalog for Store 123
                            default: ''
                          hierarchy_ids:
                            type: array
                            items:
                              type: string
                          pricebook_id:
                            type: string
                          pricebook_ids:
                            type: array
                            items:
                              $ref: '#/components/schemas/PrioritizedPricebook'
                          locales:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          created_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                          updated_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                        required:
                          - name
                          - hierarchy_ids
                          - created_at
                          - updated_at
                      relationships:
                        type: object
                        title: CatalogRelationships
                        description: Relationships to rules
                        properties:
                          rules:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                required:
                                  - related
                          releases:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                required:
                                  - related
                              meta:
                                type: object
                                properties:
                                  count:
                                    type: integer
                      type:
                        type: string
                        example: catalog
                        enum:
                          - catalog
                    required:
                      - id
                      - type
                      - attributes
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
  '/pcm/catalogs/{catalog_id}':
    get:
      tags:
        - Catalogs
      summary: Get a catalog by ID.
      operationId: getCatalogByID
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog.
          content:
            application/json:
              schema:
                type: object
                title: CatalogData
                description: Container for a single catalog.
                properties:
                  data:
                    type: object
                    title: Catalog
                    description: >-
                      A catalog combines pricebooks, product lists, and
                      hierarchies.
                    properties:
                      id:
                        type: string
                        description: >-
                          The catalog ID. Use this to modify the catalog's
                          catalog, or to retrieve the catalog produced by this
                          catalog.
                        example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: catalog-123
                          description:
                            type: string
                            example: Catalog for Store 123
                            default: ''
                          hierarchy_ids:
                            type: array
                            items:
                              type: string
                          pricebook_id:
                            type: string
                          pricebook_ids:
                            type: array
                            items:
                              $ref: '#/components/schemas/PrioritizedPricebook'
                          locales:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          created_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                          updated_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                        required:
                          - name
                          - hierarchy_ids
                          - created_at
                          - updated_at
                      relationships:
                        type: object
                        title: CatalogRelationships
                        description: Relationships to rules
                        properties:
                          rules:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                required:
                                  - related
                          releases:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                required:
                                  - related
                              meta:
                                type: object
                                properties:
                                  count:
                                    type: integer
                      type:
                        type: string
                        example: catalog
                        enum:
                          - catalog
                    required:
                      - id
                      - type
                      - attributes
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
    put:
      tags:
        - Catalogs
      summary: Updates a catalog.
      operationId: updateCatalog
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: CatalogUpdateData
              description: 'A catalog combines pricebooks, product lists, and hierarchies.'
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          minLength: 1
                          example: catalog-123
                          nullable: true
                        description:
                          type: string
                          example: Catalog for Store 123
                          nullable: true
                        hierarchy_ids:
                          type: array
                          items:
                            type: string
                          nullable: true
                        pricebook_id:
                          type: string
                          nullable: true
                        pricebook_ids:
                          type: array
                          items:
                            $ref: '#/components/schemas/PrioritizedPricebook'
                        locales:
                          type: object
                          additionalProperties:
                            type: object
                            additionalProperties:
                              type: string
                    id:
                      $ref: '#/components/schemas/ID'
                    type:
                      type: string
                      example: catalog
                      enum:
                        - catalog
                  required:
                    - type
                    - id
                    - attributes
              required:
                - data
        description: Updated catalog.
        required: true
      responses:
        '200':
          description: Updated catalog response.
          content:
            application/json:
              schema:
                type: object
                title: CatalogData
                description: Container for a single catalog.
                properties:
                  data:
                    type: object
                    title: Catalog
                    description: >-
                      A catalog combines pricebooks, product lists, and
                      hierarchies.
                    properties:
                      id:
                        type: string
                        description: >-
                          The catalog ID. Use this to modify the catalog's
                          catalog, or to retrieve the catalog produced by this
                          catalog.
                        example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: catalog-123
                          description:
                            type: string
                            example: Catalog for Store 123
                            default: ''
                          hierarchy_ids:
                            type: array
                            items:
                              type: string
                          pricebook_id:
                            type: string
                          pricebook_ids:
                            type: array
                            items:
                              $ref: '#/components/schemas/PrioritizedPricebook'
                          locales:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          created_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                          updated_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                        required:
                          - name
                          - hierarchy_ids
                          - created_at
                          - updated_at
                      relationships:
                        type: object
                        title: CatalogRelationships
                        description: Relationships to rules
                        properties:
                          rules:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                required:
                                  - related
                          releases:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                required:
                                  - related
                              meta:
                                type: object
                                properties:
                                  count:
                                    type: integer
                      type:
                        type: string
                        example: catalog
                        enum:
                          - catalog
                    required:
                      - id
                      - type
                      - attributes
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
    delete:
      tags:
        - Catalogs
      summary: >-
        Deletes a catalog only when the catalog is not published or its release
        has been deleted.
      operationId: deleteCatalogByID
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: A 204 response indicates that the catalog has been deleted.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
  '/pcm/catalogs/{catalog_id}/releases':
    get:
      tags:
        - Catalog Releases
      summary: Gets all authorized catalog releases.
      operationId: getReleases
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The list of catalogs.
          content:
            application/json:
              schema:
                type: object
                title: ReleaseListData
                description: Container for a list of catalog releases.
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Release'
                  links:
                    $ref: '#/components/schemas/Links'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
    post:
      tags:
        - Catalog Releases
      summary: Publishes a catalog.
      operationId: publishRelease
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Publish action summary.
          content:
            application/json:
              schema:
                type: object
                title: Release Data
                description: Container for a catalog release.
                properties:
                  data:
                    $ref: '#/components/schemas/Release'
                  links:
                    $ref: '#/components/schemas/Links'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
    delete:
      tags:
        - Catalog Releases
      summary: Deletes all releases.
      operationId: deleteReleases
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: A 204 response indicates that the releases have been deleted.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
  '/pcm/catalogs/{catalog_id}/releases/{release_id}':
    get:
      tags:
        - Catalog Releases
      summary: Get a catalog release by ID.
      operationId: getReleaseByID
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
        - description: The catalog release ID.
          name: release_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog.
          content:
            application/json:
              schema:
                type: object
                title: Release Data
                description: Container for a catalog release.
                properties:
                  data:
                    $ref: '#/components/schemas/Release'
                  links:
                    $ref: '#/components/schemas/Links'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
    delete:
      tags:
        - Catalog Releases
      summary: Deletes a release.
      operationId: deleteReleaseByID
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
        - description: The catalog release ID.
          name: release_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: A 204 response indicates that the release has been deleted.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
  /pcm/catalogs/rules:
    get:
      tags:
        - Catalog Rules
      summary: Gets all authorized catalog rules.
      operationId: getRules
      parameters:
        - name: filter
          in: query
          description: A filter specification
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: The list of catalog rules.
          content:
            application/json:
              schema:
                type: object
                title: CatalogRuleListData
                description: Container for a list of catalog rules.
                properties:
                  meta:
                    $ref: '#/components/schemas/PageMeta'
                  data:
                    type: array
                    items:
                      type: object
                      title: Catalog Rule
                      description: >-
                        A catalog rule specifies which catalog to use for a
                        given shopper context.
                      properties:
                        id:
                          type: string
                          description: >-
                            The catalog rule ID. Use this to get, modify, or
                            delete the catalog rule.
                          example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: rule-123
                            description:
                              type: string
                              example: Catalog Rule for most favored customers
                              default: ''
                              x-omitempty: true
                            account_ids:
                              type: array
                              items:
                                type: string
                              x-omitempty: true
                            customer_ids:
                              type: array
                              items:
                                type: string
                              x-omitempty: true
                            channels:
                              type: array
                              items:
                                type: string
                              x-omitempty: true
                            tags:
                              type: array
                              items:
                                type: string
                              x-omitempty: true
                            schedules:
                              type: array
                              items:
                                $ref: '#/components/schemas/RuleSchedule'
                              x-omitempty: true
                            catalog_id:
                              type: string
                              description: >-
                                Either the ID of a catalog, or 'legacy' to use
                                catalog data set up with `/v2/products`
                              example: d09b4e16-08a5-4f42-817c-6e0d98acbb63
                            created_at:
                              type: string
                              example: '2020-09-22 09:00:00+00:00'
                              format: date-time
                            updated_at:
                              type: string
                              example: '2020-09-22 09:00:00+00:00'
                              format: date-time
                          required:
                            - name
                            - catalog_id
                            - created_at
                            - updated_at
                        type:
                          type: string
                          example: catalog_rule
                          enum:
                            - catalog_rule
                      required:
                        - id
                        - type
                        - attributes
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
    post:
      tags:
        - Catalog Rules
      summary: Creates a new catalog rule.
      operationId: createRule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: CatalogRuleCreateData
              description: >-
                A catalog rule specifies which catalog to use for a given
                shopper context.
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          minLength: 1
                          example: rule-123
                        description:
                          type: string
                          example: Catalog Rule for most favored customers
                          default: ''
                          nullable: true
                        account_ids:
                          type: array
                          items:
                            type: string
                          nullable: true
                        customer_ids:
                          type: array
                          items:
                            type: string
                          nullable: true
                        channels:
                          type: array
                          items:
                            type: string
                          nullable: true
                        tags:
                          type: array
                          items:
                            type: string
                          nullable: true
                        schedules:
                          type: array
                          items:
                            $ref: '#/components/schemas/RuleSchedule'
                          nullable: true
                        catalog_id:
                          type: string
                          description: >-
                            Either the ID of a catalog, or 'legacy' to use
                            catalog data set up with `/v2/products`
                          example: d09b4e16-08a5-4f42-817c-6e0d98acbb63
                      required:
                        - name
                        - catalog_id
                    type:
                      type: string
                      example: catalog_rule
                      enum:
                        - catalog_rule
                  required:
                    - type
                    - attributes
              required:
                - data
        description: The catalog rule to create.
        required: true
      responses:
        '201':
          description: The created catalog rule
          content:
            application/json:
              schema:
                type: object
                title: CatalogRuleData
                description: Container for a single catalog rule.
                properties:
                  data:
                    type: object
                    title: Catalog Rule
                    description: >-
                      A catalog rule specifies which catalog to use for a given
                      shopper context.
                    properties:
                      id:
                        type: string
                        description: >-
                          The catalog rule ID. Use this to get, modify, or
                          delete the catalog rule.
                        example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: rule-123
                          description:
                            type: string
                            example: Catalog Rule for most favored customers
                            default: ''
                            x-omitempty: true
                          account_ids:
                            type: array
                            items:
                              type: string
                            x-omitempty: true
                          customer_ids:
                            type: array
                            items:
                              type: string
                            x-omitempty: true
                          channels:
                            type: array
                            items:
                              type: string
                            x-omitempty: true
                          tags:
                            type: array
                            items:
                              type: string
                            x-omitempty: true
                          schedules:
                            type: array
                            items:
                              $ref: '#/components/schemas/RuleSchedule'
                            x-omitempty: true
                          catalog_id:
                            type: string
                            description: >-
                              Either the ID of a catalog, or 'legacy' to use
                              catalog data set up with `/v2/products`
                            example: d09b4e16-08a5-4f42-817c-6e0d98acbb63
                          created_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                          updated_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                        required:
                          - name
                          - catalog_id
                          - created_at
                          - updated_at
                      type:
                        type: string
                        example: catalog_rule
                        enum:
                          - catalog_rule
                    required:
                      - id
                      - type
                      - attributes
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
  '/pcm/catalogs/rules/{catalog_rule_id}':
    get:
      tags:
        - Catalog Rules
      summary: Get a catalog rule by ID.
      operationId: getRuleByID
      parameters:
        - description: The catalog rule ID.
          name: catalog_rule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog rile.
          content:
            application/json:
              schema:
                type: object
                title: CatalogRuleData
                description: Container for a single catalog rule.
                properties:
                  data:
                    type: object
                    title: Catalog Rule
                    description: >-
                      A catalog rule specifies which catalog to use for a given
                      shopper context.
                    properties:
                      id:
                        type: string
                        description: >-
                          The catalog rule ID. Use this to get, modify, or
                          delete the catalog rule.
                        example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: rule-123
                          description:
                            type: string
                            example: Catalog Rule for most favored customers
                            default: ''
                            x-omitempty: true
                          account_ids:
                            type: array
                            items:
                              type: string
                            x-omitempty: true
                          customer_ids:
                            type: array
                            items:
                              type: string
                            x-omitempty: true
                          channels:
                            type: array
                            items:
                              type: string
                            x-omitempty: true
                          tags:
                            type: array
                            items:
                              type: string
                            x-omitempty: true
                          schedules:
                            type: array
                            items:
                              $ref: '#/components/schemas/RuleSchedule'
                            x-omitempty: true
                          catalog_id:
                            type: string
                            description: >-
                              Either the ID of a catalog, or 'legacy' to use
                              catalog data set up with `/v2/products`
                            example: d09b4e16-08a5-4f42-817c-6e0d98acbb63
                          created_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                          updated_at:
                            type: string
                            example: '2020-09-22 09:00:00+00:00'
                            format: date-time
                        required:
                          - name
                          - catalog_id
                          - created_at
                          - updated_at
                      type:
                        type: string
                        example: catalog_rule
                        enum:
                          - catalog_rule
                    required:
                      - id
                      - type
                      - attributes
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuthentication: []
    put:
      tags:
        - Catalog Rules
      summary: Updates a catalogRule.
      operationId: updateRule
      parameters:
        - description: The catalog rule ID.
          name: catalog_rule_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: CatalogRuleUpdateData
              description: >-
                A catalog rule specifies which catalog to use for a given
                shopper context.
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      description: >-
                        The catalog rule ID. Use this to get, modify, or delete
                        the catalog rule.
                      example: 8dbb35b2-ef04-477e-974d-e5f3abe6faae
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          minLength: 1
                          example: rule-123
                          nullable: true
                        description:
                          type: string
                          example: Catalog Rule for most favored customers
                          default: ''
                          nullable: true
                        account_ids:
                          type: array
                          items:
                            type: string
                          nullable: true
                        customer_ids:
                          type: array
                          items:
                            type: string
                          nullable: true
                        channels:
                          type: array
                          items:
                            type: string
                          nullable: true
                        schedules:
                          type: array
                          items:
                            $ref: '#/components/schemas/RuleSchedule'
[...]
